@import "src/lib.scss";

.map-field {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: normal;

  &__button {
    margin-top: 1rem;
    text-align: right;

    &--hidden {
      display: none;
    }
  }

  &__map {
    background-image: svg-load("./assets/google-maps-placeholder.png");
    height: 520px;
    margin-top: 1rem;
    width: 100%;

    &--hidden {
      display: none;
    }
  }
}
