@import "src/lib.scss";

.external-link {
  @include link;
  margin-right: 0.25rem;
  position: relative;
  display: inline;
  &::after {
    content: "";
    background-image: url("./assets/external.svg");
    display: inline-block;
    width: 0.85rem;
    height: 0.85rem;
    margin-left: 0.25rem;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.temporary-message {
  .external-link {
    color: var(--fsa-primary_black);

    &::after {
      background-image: url("./assets/external-black.svg");
    }
  }

  &--danger {
    .external-link {
      color: var(--fsa-primary_white);

      &::after {
        background-image: url("./assets/external-white.svg");
      }
    }
  }
}

