@import "src/lib.scss";

.webtool-progress-bar {
  background: var(--fsa_online-grey);
  padding: 0;
  width: 100%;

  @media screen and (min-width: $fsa-lg) {
    display: inline-block;
    padding: 2rem 1rem 3rem;
  }

  &__wrapper {
    @include grid-container;

    @media screen and (max-width: $fsa-lg-minus) {
      padding: 0;
    }
  }

  &__grid {
    &-row {
      @include grid-row;

      margin: 0;
    }

    &-col {
      @include grid-cols(12);
    }
  }

  &__line {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media screen and (min-width: $fsa-lg) {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;

      & + & {
        margin-top: 3.5rem;
      }
    }

    &-opened {
      .webtool-progress-bar__label {
        &::after {
          transform: rotate(180deg);
        }
      }

      .webtool-progress-bar__steps {
        display: block;

        @media screen and (min-width: $fsa-lg) {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }

  &__label {
    @include h4;

    cursor: default;
    line-height: 1;
    position: relative;

    &::after {
      content: "";
      background-image: url("./assets/arrow.svg");
      display: inline-block;
      width: 1.1rem;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      height: 1rem;
      right: 1rem;
      vertical-align: middle;
    }

    @media screen and (min-width: $fsa-lg) {
      &::after {
        display: none;
      }
    }

    @media screen and (max-width: $fsa-lg-minus) {
      padding: 1rem;

      &:focus {
        box-shadow: 0 0 0 0.2rem var(--fsa-tertiary_light-yellow);
        border: 1px solid var(--fsa-primary_black);
      }
    }
  }

  &__steps {
    display: none;
    margin-top: 1rem;
    width: 100%;

    @media screen and (min-width: $fsa-lg) {
      display: flex;
      flex-direction: row;
      margin-top: 0;
      width: 80%;
    }

    @media screen and (min-width: $fsa-xl) {
      width: 85%;
    }
  }

  &__step {
    border-left: 4px solid var(--fsa-webtool-prgress-bar-border-step);
    flex: 1;

    .sr-desktop {
      display: inline;
    }

    @media screen and (min-width: $fsa-lg) {
      border-bottom: 4px solid var(--fsa-webtool-prgress-bar-border-step);
      border-left: none;
      text-align: center;

      .sr-desktop {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
      }
    }

    a {
      @include h6;
      @include link;

      display: block;
      padding: 0.75rem 1.5rem;
      text-decoration: none;
      position: relative;
      width: 100%;

      @media screen and (min-width: $fsa-lg) {
        @include h4;

        font-size: 1.5rem;
        padding: 0 0.25rem;
      }

      @media screen and (min-width: $fsa-xl) {
        padding: 0.5rem 1.5rem;
      }

      &:hover {
        background: var(--fsa-primary_dark-green);
        border-bottom-color: var(--fsa-primary_dark-green);
        color: var(--fsa-primary_white);
      }

      &:focus:not(:hover) {
        border-bottom-color: var(--fsa-tertiary_light-yellow);
        color: var(--fsa-primary_black);

        &::after {
          content: "";
          width: 100%;
          border-bottom: 4px solid var(--fsa-primary_black);
          height: 4px;
          position: absolute;
          bottom: -8px;
          left: 0;
        }
      }
    }

    &-completed {
      border-color: var(--fsa-primary_dark-green);
      margin-bottom: 1px;

      @media screen and (min-width: $fsa-lg) {
        margin-right: 1px;
        margin-bottom: 0;
      }

      a {
        color: var(--fsa-primary_black);
      }
    }

    &-active {
      background: var(--fsa-primary_dark-green);

      a {
        color: var(--fsa-primary_white);

        &:hover {
          color: var(--fsa-primary_white);
        }
      }
    }
  }
}
