@import "src/lib.scss";

.chart-block {
  &__switch-button {
    white-space: nowrap;
    margin: 2rem 0 1rem;
    @media screen and (min-width: $fsa-lg) {
      margin-bottom: 2rem;
    }
  }

  .hide {
    display: none;
  }

  &__download-buttons {
    .button {
      margin: 1rem 0.5rem 0 0;
    }
  }

  &__download-label {
    font-weight: bold;
    margin-top: 1rem;
  }
}
