@import "src/lib.scss";

.chart-block {
  margin-top: 3rem;

  &__switch-button {
    white-space: nowrap;

    .button {
      padding: 0.6rem 2rem;
    }
  }

  &__image, &__content {
    margin-top: 1rem;

    @media screen and (min-width: $fsa-lg) {
      margin-top: 2rem;
    }
  }

  .hide {
    display: none;
  }

  &__download-buttons {
    .button {
      margin: 1rem 0.5rem 0 0;
    }
  }

  &__download-label {
    font-weight: bold;
    margin-top: 1rem;
  }
}
