<div class="grid">
  <h1 class="grid__title">Grid</h1>
  <div class="grid__container grid__container--desktop">
    <div class="grid__row">
      {% for i in range (1, 12) %}
        <div class="grid__grid-item"><div class="grid__grid-item-inner"></div></div>
      {% endfor %}
    </div>
  </div>
  <div class="grid__container grid__container--mobile">
    <div class="grid__row">
      {% for i in range (1, 4) %}
        <div class="grid__grid-item"><div class="grid__grid-item-inner"></div></div>
      {% endfor %}
    </div>
  </div>
</div>
