<div class="grid">
  <h1 class="grid__title">Grid</h1>
  <h2>Desktop</h2>
  <div class="grid__container">
    <div class="grid__grid">
      {% for i in range (1, 12) %}
        <div class="grid__grid-item"></div>
      {% endfor %}
    </div>
  </div>
  <h2>Mobile</h2>
  <div class="grid__container">
    <div class="grid__grid">
      {% for i in range (1, 4) %}
        <div class="grid__grid-item"></div>
      {% endfor %}
    </div>
  </div>
</div>