<div class="landing-text">
  <div class="landing-text__container">
    <div class="landing-text__row">
      <div class="landing-text__wrapper">
        <div class="landing-text__content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>

