@import 'src/lib.scss';

@mixin icon($type) {
  &--#{$type} {
    background-image: url('./fsa-#{$type}.svg');

    &:hover {
      background-image: url('./fsa-#{$type}-hover.svg');
    }
  }
}

.footer {
  background-color: var(--fsa__purple-hover);
  border-top: 8px solid var(--fsa-primary_mid-green);
  padding-bottom: 2rem;

  &__grid-container {
    @include grid-container;
  }

  &__grid-row {
    @include grid-row;
  }

  &__wrapper {
    @include grid-cols(4, 4);
    @media screen and (min-width: $fsa-xl) {
      @include grid-cols(12, 12);
      display: flex;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 0;
    list-style: none;
    padding: 0;

    @media screen and (min-width: $fsa-xl) {
      flex-direction: row;
    }
  }

  &__menu-link {
    color: var(--fsa-primary_white);
    @include body;
    font-weight: bold;
    margin-top: 1rem;
    display: block;
    text-decoration: none;

    &:hover {
      color: var(--fsa-primary_white);
      text-decoration: underline;
    }

    &:focus {
      color: var(--fsa-primary_black);
      outline: none;
      text-decoration: none;
      background-color: var(--fsa-tertiary_light-yellow);
      border-bottom: 0.25rem solid var(--fsa-primary_black);
      margin-bottom: -0.25rem;

      &::after {
        background-image: url('./external-black.svg');
      }
    }

    &::after {
      background-image: url('./external-white.svg');
    }
  }

  &__social {
    margin-top: 2rem;
  }

  &__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__social-item {
    & + & {
      margin-left: 1rem;
    }
  }

  &__social-link {
    height: 2.75rem;
    width: 2.75rem;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    @include icon(facebook);
    @include icon(twitter);
    @include icon(instagram);
    @include icon(linkedin);
    @include icon(youtube);
    @include icon(blog);

    &:focus {
      box-shadow: 0 0 0 0.2rem var(--fsa-primary_black),
        0 0 0 0.4rem var(--fsa-tertiary_light-yellow);
      outline: none;
      text-decoration: none;
    }
  }
}
