{% extends '@components/layout/contentLayout/contentLayout.html.twig' %}
{% set document_args = {
  format: 'word',
  link: '#',
  view: 'View',
  name: 'Step by step guide for meat approvals application',
  as: 'as',
  new_window: 'Open in a new window',
  size: '559.42 KB',
} %}
{% set breadcrumb_items = [
  {
    'text': 'Home',
    'url': '/'
  },
  {
    'text': 'Business guidance',
    'url': '#'
  },
  {
    'text': 'Industry-specific advice',
    'url': '#'
  },
  {
    'text': 'Placing a regulated product on the market',
    'url': null
  },
] %}
{% block header %}
  {% include '@components/components/general/Breadcrumb/breadcrumbs.html.twig' with {
    items: breadcrumb_items,
    expanded: false,
  } %}
{% endblock %}
{% block top %}
  {% include '@components/components/article/ArticleHero/articleHero.html.twig' with {
    title: 'Placing a regulated product on the market',
    description: 'Pre-market approval procedure for food and animal feed products and processes requiring authorisation.',
    last_updated_string: 'Last updated',
    last_updated_date: '31 December 2020',
    specific: 'specific',
    pdf_link: '#',
    pdf_name: 'Placing a regulated product on the market',
    view: 'View',
    as: 'as',
    pdf: 'PDF',
    new_window: 'Opens in a new window',
    print_this_page: 'Print this page',
    revision_log: true,
    revision_label: 'See all updates',
  } %}
{% endblock %}
{% block left %}
  {% include '@components/components/article/StickySidebar/stickySidebar.html.twig' with {
    sidebar_items: [
      on_this_page,
    ],
  } %}
{% endblock %}
{% block right %}
  {% include '@components/components/article/TextBlock/textBlock.html.twig' with {
    content: '<p>Certain food and feed products, called regulated products, require authorisation before they can be sold in the
    UK.</p>
<p>Authorisation is required for the following regulated product types:</p>
<ul>
    <li>extraction solvents</li>
    <li>feed additives</li>
    <li>feed for particular nutritional uses</li>
    <li>feed detoxification processes</li>
    <li>flavourings</li>
    <li>food contact materials</li>
</ul>
<p>For most regulated product types, once products or processes are authorised, they are listed in relevant legislation,
    which also sets out how they can be used. These lists are referred to as positive lists.</p>
<p>It is an example of foot notes, go to <sup><a href="#fn:1" id="fnref:1" class="foot-notes__ref-link">(footnote 1)</a></sup> footnote,
<sup><a href="#fn:2" id="fnref:2" class="foot-notes__ref-link">(footnote 2)</a></sup> footnote or
<sup><a href="#fn:3" id="fnref:3" class="foot-notes__ref-link">(footnote 3)</a></sup> footnote.</p>
'
  } %}
  {% include '@components/components/article/ExplanationBlock/explanationBlock.html.twig' with {
    type: 'fsa-explains',
    heading: 'FSA explains',
    wysiwyg_content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">This is a link</a> pharetra tempor vehicula eu, sagittis nec odio. <a class="external-link" href="#">This is an external link</a> Suspendisse hendrerit nisi sed mi accumsan, sed tincidunt lacus volutpat.</p>',
  } %}
  {% include '@components/components/article/TextBlock/textBlock.html.twig' with {
    content: '
    <h2 id="gb-market">Placing your product on the market in Great Britain</h2>
     <p>The FSA with Food Standards Scotland (FSS) will carry out a risk analysis process for regulated products and provide
     advice to ministers, who will decide whether the product can be placed on the market in England, Wales and
     Scotland. When a decision is made to authorise a product, this will mean a change to the legislation. The
     legislation will set out how the product can be used and any associated conditions of use.</p>'
  } %}
  {% include '@components/components/article/RegionalVariationBlock/regionalVariationBlock.html.twig' with {
    region: ['England'],
    wysiwyg_content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum arcu congue blandit tincidunt. Pellentesque et elit nulla. Nullam posuere massa nec facilisis placerat. ',
    transparent_background: false,
  } %}
  {% include '@components/components/article/TextBlock/textBlock.html.twig' with {
    content: '
    <h2 id="ni-market">Placing your product on the market in Northern Ireland</h2>
    <p>The EU law that applies to Northern Ireland is specified in Annex II to the
    <a href="#" class="external-link">Northern Ireland Protocol</a>. This means that any business seeking a new
    authorisation for a regulated food and feed product marketed in
    Northern Ireland will have to continue to follow EU rules.</p>',
  } %}
  {% include '@components/components/article/RegionalVariationBlock/regionalVariationBlock.html.twig' with {
    region: ['Northern Ireland'],
    wysiwyg_content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum arcu congue blandit tincidunt. Pellentesque et elit nulla. Nullam posuere massa nec facilisis placerat. ',
    transparent_background: true,
  } %}

  {% include '@components/components/article/ChartBlock/chartBlock.html.twig' with {
    name: 'COVID-19',
    description: 'Description text goes here and gets added via the text component',
    image: {
      url: 'https://via.placeholder.com/300x300',
      alt: 'Data for 2022',
    },
    content:
      "<table><thead><th>Column 1</th><th>Column 2</th></thead><tbody><tr><td>Row 1 - value 1</td><td>Row 1 - value 2</td></tr><tr><td>Row 2 - value 1</td><td>Row 2 - value 2</td></tr><tr><td>Row 3 - value 1</td><td>Row 3 - value 2</td></tr></tbody></table>",
    downloadThis: 'Download this chart',
    toTable: 'Change to table and accessible view',
    toChart: 'Change to chart view',
    sourceText: 'Source',
    source: {
      url: '#',
      label: 'Food Standards Agency and Committees',
      external: true,
    },
    links: [
      {
        url: 'https://via.placeholder.com/300x300',
        label: 'Image',
      },
      {
        url: '#',
        label: '.xls',
      },
      {
        url: '#',
        label: '.csv',
      },
    ],
  } %}

  {% include '@components/components/article/FootNotes/footNotes.html.twig' with {
    links: [
      {
        key: '1',
        label: 'If this an internal link then this would be the icon',
      },
      {
        key: '2',
        label: '<a href="#">Sometimes the link might be amongst other text</a> and there could be some text after the link',
      },
      {
        key: '3',
        label: 'Or the resource could be before the link <a href="#">and then the link is added and it can go over two lines if needed</a>',
      },
    ],
  } %}

  {% include '@components/components/article/RevisionLogBottom/revisionLogBottom.html.twig' with {
    heading: 'Revision log',
    toggle_text_hide: 'Hide all updates',
    toggle_text_show: 'Show all updates',
    published_label: 'Published',
    published: '12 January 2012',
    last_updated_label: '20 January 2017',
    last_updated: 'Last updated',
    logs: [
      {
        key: '1',
        date: '14 December 2014',
        text: 'Updated links',
      },
      {
        key: '2',
        date: '21 December 2014',
        text: 'Updated the step by step process',
      },
      {
        key: '3',
        date: '12 January 2012',
        text: 'First published',
      },
    ],
  } %}

  {% include '@components/components/article/BackToTop/backToTop.html.twig' with {
    back_to_top: 'Back to top',
  } %}
{% endblock %}
