{% extends '../../layout/contentLayout/contentLayout.html.twig' %}
{% set document_args = {
  format: 'word',
  link: '#',
  view: 'View',
  name: 'Allergy alert - Kirsty’s Classic Beef Lasagne Alert',
  as: 'as',
  new_window: 'Open in a new window',
  size: '559.42 KB',} %}
{% set breadcrumb_items = [
  {
    'text': 'Home',
    'url': '/'
  },
  {
    'text': 'News and alerts',
    'url': '/news-and-alerts'
  },
  {
    'text': 'Alerts',
    'url': '/alerts'
  },
  {
    'text': 'Kirsty’s Classic Beef Lasagne Alert',
    'url': null
  },
] %}
{% block header %}
  {% include '../../components/general/Breadcrumb/breadcrumbs.html.twig' with {
    items: breadcrumb_items,
    expanded: false,
  } %}
{% endblock %}
{% block top %}
  {% include '@components/components/article/ArticleHero/articleHero.html.twig' with {
    type: 'alerts',
    type_string: 'Allergy alert',
    region: ['England'],
    title: 'Worthenshaws recalls Kirsty’s Classic Beef Lasagne because of inaccurate allergen information on the label',
    description: 'Oats is also not emphasised on the label. This means the product is suitable for someone following a gluten free diet, however, it is not suitable for those who have an allergy to Oats.',
    last_updated_string: 'Last updated',
    last_updated_date: '20 December 2017',
    specific: 'specific',
    pdf_link: '#',
    pdf_name: 'Kirsty’s Classic Beef Lasagne Alert',
    view: 'View',
    as: 'as',
    pdf: 'PDF',
    new_window: 'Opens in a new window',
    print_this_page: 'Print this page',
  } %}
{% endblock %}
{% block left %}
  {% include '@components/components/article/StickySidebar/stickySidebar.html.twig' with {
    sidebar_items: [
      '<div class="back-to">\n  <a href="#" class="back-to__link" data-fsa-at="all-alerts">Back to alerts</a>\n</div>'
    ],
  } %}
{% endblock %}
{% block right %}
  {% include '../../components/article/ContentMetaData/contentMetaData.html.twig' with {
    meta_data: [
      {
        label: 'Research programme',
        content: 'Food allergy and intolerance research',
        url: '#',
      },{
        label: 'Study duration',
        content: 'January 2010 to March 2010',
      },{
        label: 'Project code',
        content: 'T07063',
      },{
        label: 'Conducted by',
        content: 'Jigsaw Research',
      },
    ],
  } %}
  {% include '@components/components/article/TextBlock/textBlock.html.twig' with {
    content: '<p>Worthenshaws Ltd is recalling Kirsty’s Classic Beef Lasagne because it contains a statement on the label that the product is free from all 14 allergens, which is not accurate as the product contains oats (that are gluten free). Oats is also not emphasised on the label. This means the product is suitable for someone following a gluten free diet, however, it is not suitable for those who have an allergy to Oats.</p>'
  } %}
  {% include '@components/components/form/TitleAndText/titleAndText.html.twig' with {
    title: 'Alert',
    tag: 'h3',
    description: 'Worthenshaws Ltd is recalling Kirsty’s Classic Beef Lasagne because it contains a statement on the label that the
      product is free from all 14 allergens, which is not accurate as the product contains oats (that are gluten free).
      Oats is also not emphasised on the label. This means the product is suitable for someone following a gluten free diet,
      however, it is not suitable for those who have an allergy to Oats.'
  } %}
  {% include '@components/components/article/QuoteBlock/quoteBlock.html.twig' with {
    quote: 'These findings are worrying. They indicate that people are often confused about food dates, potentially putting themselves and others at risk of illness. A use-by date on food is there for a reason. It is about safety. After the use-by date you cannot cook, freeze or eat the food safely, even if it smells or looks ok. It’s really not possible to tell whether food is safe to eat by smelling or tasting it. We would like everyone to take the use-by dates on their food seriously.',
    author: 'Professor Robin May, Chief Scientific Advisor',
  } %}
  {% include '@components/components/form/TitleAndText/titleAndText.html.twig' with {
    title: 'Risk statement',
    tag: 'h3',
    description: 'Allergen(s): Oats (that are gluten free)</ br>These products contain oats (that are gluten free) making it a possible health risk for anyone with an allergy to oats'
  } %}
  {% include '../../components/article/DocumentDownload/documentDownload.html.twig' with document_args|merge({ format: 'pdf', region: ['England'] }) %}
  {% include '@components/components/form/TitleAndText/titleAndText.html.twig' with {
    title: 'Action taken by the company',
    tag: 'h3',
    description: 'Worthenshaws Ltd is recalling the above products from customers and has contacted the relevant allergy
    support organisations, which will tell their members about the recall. The company has issued a point-of-sale notice
     to its customers. These notices explain to customers why the products are being recalled and tell them what to do
     if they have bought the products.'
  } %}
  {% include '../../components/article/RegionalVariationBlock/regionalVariationBlock.html.twig' with {
    region: ['England'],
    wysiwyg_content: 'If you have bought the above products and have an allergy to oats (that are gluten free), do not eat them. Instead return it to the <a href="#">store</a> from where it was bought for a full refund.',
    transparent_background: true,
  } %}
  <br /> {# Remove once the article footer is created #}
  {% include '@components/components/article/PdfAndPrintButtons/pdfAndPrintButtons.html.twig' with {
    multipage_guide: true,
    pdf_link: '#',
    pdf_name: 'A third of UK consumers are willing to try lab-grown meat and a quarter would try insects',
    pdf_name: 'Kirsty’s Classic Beef Lasagne Alert',
    view: 'View',
    as: 'as',
    pdf: 'PDF',
    new_window: 'Opens in a new window',
    print_this_page: 'Print this page',
    view_entire_guide: 'View entire guide as PDF',
    print_guide: 'Print guide',
    multipage_guide_pdf_link: '#',
    multipage_guide_print_link: '#',
  } %}
{% endblock %}