{% extends '../../layout/contentLayout/contentLayout.html.twig' %}
{% set document_args = {
  format: 'word',
  link: '#',
  view: 'View',
  name: 'Allergy alert - Kirsty’s Classic Beef Lasagne Alert',
  as: 'as',
  new_window: 'Open in a new window',
  size: '559.42 KB',} %}
{% set breadcrumb_items = [
  {
    'text': 'Home',
    'url': '/'
  },
  {
    'text': 'News and alerts',
    'url': '/news-and-alerts'
  },
  {
    'text': 'Alerts',
    'url': '/alerts'
  },
  {
    'text': 'Kirsty’s Classic Beef Lasagne Alert',
    'url': null
  },
] %}
{% block header %}
  {% include '../../components/general/Breadcrumb/breadcrumbs.html.twig' with {
    items: breadcrumb_items,
    expanded: false,
  } %}
{% endblock %}
{% block top %}
  {% include '@components/components/article/ArticleHero/articleHero.html.twig' with {
    type: 'alerts',
    type_string: 'Allergy alert',
    region: ['England'],
    title: 'Worthenshaws recalls Kirsty’s Classic Beef Lasagne because of inaccurate allergen information on the label',
    description: 'Oats is also not emphasised on the label. This means the product is suitable for someone following a gluten free diet, however, it is not suitable for those who have an allergy to Oats.',
    last_updated_string: 'Last updated',
    last_updated_date: '20 December 2017',
    specific: 'specific',
    pdf_link: '#',
    pdf_name: 'Kirsty’s Classic Beef Lasagne Alert',
    view: 'View',
    as: 'as',
    pdf: 'PDF',
    new_window: 'Opens in a new window',
    print_this_page: 'Print this page',
  } %}
{% endblock %}
{% block left %}
  {% include '@components/components/article/StickySidebar/stickySidebar.html.twig' with {
    sidebar_items: [
      '<div class="back-to">\n  <a href="#" class="back-to__link" data-fsa-at="all-alerts">Back to alerts</a>\n</div>'
    ],
  } %}
{% endblock %}
{% block right %}
  {% include '../../components/article/ContentMetaData/contentMetaData.html.twig' with {
    meta_data: [
      {
        label: 'Research programme',
        content: 'Food allergy and intolerance research',
        url: '#',
      },{
        label: 'Study duration',
        content: 'January 2010 to March 2010',
      },{
        label: 'Project code',
        content: 'T07063',
      },{
        label: 'Conducted by',
        content: 'Jigsaw Research',
      },
    ],
  } %}
  {% include '@components/components/article/TextBlock/textBlock.html.twig' with {
    content: '<p>Worthenshaws Ltd is recalling Kirsty’s Classic Beef Lasagne because it contains a statement on the label that the product is free from all 14 allergens, which is not accurate as the product contains oats (that are gluten free). Oats is also not emphasised on the label. This means the product is suitable for someone following a gluten free diet, however, it is not suitable for those who have an allergy to Oats.</p>'
  } %}
  {% include '../../components/article/ProductDetails/productDetails.html.twig' with {
    title: 'Product details',
    products: [
      {
        product_name: 'Kirsty’s Mini Classic Beef Lasagne',
        rows: [
        {
          label: 'Pack size',
          content: '250g',
        },
        {
          label: 'Use by',
          content: 'all dates between 2 September to 19 October 2020',
        },
        {
          label: 'Allergens',
          content: 'Gluten (oats)',
        },
      ],
      },
      {
        product_name: 'Kirsty’s Classic Beef Lasagne',
        rows: [
        {
          label: 'Pack size',
          content: '400g',
        },
        {
          label: 'Use by',
          content: 'all dates between 2 September to 19 October 2020',
        },
        {
          label: 'Allergens',
          content: 'Gluten (oats)',
        },
      ],
      },
    ],
  } %}
  {% include '@components/components/article/TextBlock/textBlock.html.twig' with {
    content: '
    <h3>Action taken by the company</h3>
    <p>Worthenshaws Ltd is recalling Kirsty’s Classic Beef Lasagne because it contains a statement on the label that the
      product is free from all 14 allergens, which is not accurate as the product contains oats (that are gluten free).
      Oats is also not emphasised on the label. This means the product is suitable for someone following a gluten free diet,
      however, it is not suitable for those who have an allergy to Oats.</p>'
  } %}
  {% include '@components/components/article/QuoteBlock/quoteBlock.html.twig' with {
    quote: 'These findings are worrying. They indicate that people are often confused about food dates, potentially putting themselves and others at risk of illness. A use-by date on food is there for a reason. It is about safety. After the use-by date you cannot cook, freeze or eat the food safely, even if it smells or looks ok. It’s really not possible to tell whether food is safe to eat by smelling or tasting it. We would like everyone to take the use-by dates on their food seriously.',
    author: 'Professor Robin May, Chief Scientific Advisor',
  } %}
  {% include '@components/components/article/TextBlock/textBlock.html.twig' with {
    content: '<h3>Risk statement</h3>
    <p>Allergen(s): Oats (that are gluten free)</ br>These products contain oats (that are gluten free) making it a
    possible health risk for anyone with an allergy to oats</p>'
  } %}
  {% include '../../components/article/DocumentDownload/documentDownload.html.twig' with document_args|merge({ format: 'pdf', region: ['England'] }) %}
  {% include '@components/components/article/TextBlock/textBlock.html.twig' with {
    content: '
    <h3>Action taken by the company</h3>
    <p>Worthenshaws Ltd is recalling the above products from customers and has contacted the relevant allergy
    support organisations, which will tell their members about the recall. The company has issued a point-of-sale notice
    to its customers. These notices explain to customers why the products are being recalled and tell them what to do
    if they have bought the products.</p>'
  } %}
  {% include '@components/components/article/TextBlock/textBlock.html.twig' with {
    content: '
      <table>
      <caption>Research results</caption>
      <thead><tr><th scope="col">Contamination levels</th>
      <th scope="col">July-September 2017</th>
      <th scope="col">October-December 2017</th>
    </tr></thead><tbody><tr><th scope="row">cfu/g less than 10</th>
      <td>44.7%</td>
      <td>52.7%</td>
    </tr><tr><th scope="row">cfu/g 10-99</th>
      <td>30.5%</td>
      <td>24.3%</td>
    </tr><tr><th scope="row">cfu/g 100-1000</th>
      <td>20.3%</td>
      <td>18.5%</td>
    </tr><tr><th scope="row">cfu/g over 1000</th>
      <td>5.1%</td>
      <td>4.5%</td>
    </tr></tbody></table>'
  } %}
  {% include '../../components/article/RegionalVariationBlock/regionalVariationBlock.html.twig' with {
    region: ['England'],
    wysiwyg_content: 'If you have bought the above products and have an allergy to oats (that are gluten free), do not eat them. Instead return it to the <a href="#">store</a> from where it was bought for a full refund.',
    transparent_background: true,
  } %}
  {% include '../../components/article/BackToTop/backToTop.html.twig' with {
    back_to_top: 'Back to top',
  } %}
{% endblock %}
{% block footer %}
  {% include '@components/components/article/RelatedContent/relatedContent.html.twig' with {
    title: 'Related content',
    cards: [
      {
        title: 'Preferences for consumers with food allergies or intolerances when eating out',
        description:
        'The study aimed to develop an understanding of the choices and eating behaviours of food allergic and intolerant consumers when eating out.',
        link: '#',
      },
      {
        title: 'Evaluation of guidance on allergen management and consumer information',
        description:
        'In 2006, we published voluntary Guidance on Allergen Management and Consumer Information. This is best practice guidance on controlling food allergens in the factory setting, with particular reference to avoiding cross-contamination and using appropriate advisory labelling (e.g. ‘may contain’ labelling).',
        link: '#',
      },
      {
        title: 'EAT Study: early introduction of allergenic foods to induce tolerance',
        description:
        'The EAT Study was funded to investigate whether the early introduction of six allergenic foods - milk, peanut, sesame, fish, egg, wheat - into the infant weaning diet, alongside continued breastfeeding, reduced the number of children developing food allergies and other allergic diseases, such as eczema, by the age of three.',
        link: '#',
      },
    ],
  } %}
{% endblock %}