@import "src/lib.scss";

.subject-listing {
  &__container {
    @include grid-container;
  }

  &__row {
    @include grid-row;
  }

  &__wrapper {
    @include grid-cols(4, 4);

    @media screen and (min-width: $fsa-md) {
      @include grid-cols(12);
    }
  }

  margin-top: 3rem;

  &__section {
    margin-top: 3rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    @include h2;

    margin: 0;
  }

  &__description {
    @include body;

    margin: 1rem 0 0;
  }

  &__section-header {
    @include body;

    margin-top: 1rem;
    font-weight: bold;
  }

  &__link-list {
    list-style: none;
    padding: 0;

    &__item {
      margin-top: 1.25rem;
      margin-left: 2.25rem;

      @media screen and (min-width: $fsa-xl) {
        margin-top: 1rem;
      }

      a {
        @include body;

        text-decoration: none;

        &,
        &:active,
        &:visited {
          color: var(--fsa-primary_dark-green);
        }

        &:focus {
          color: var(--fsa-primary_black);
          outline: none;
          background-color: var(--fsa-tertiary_light-yellow);
          border-bottom: 0.25rem solid var(--fsa-primary_black);
        }

        &::before {
          content: "";
          background-image: url("./assets/arrow.svg");
          display: inline-block;
          width: 1.75rem;
          height: 1rem;
          background-repeat: no-repeat;
          background-position: center;
          position: relative;
          top: 0.1rem;
          margin-left: -2.25rem;
          margin-right: 0.5rem;
        }

        &:hover {
          text-decoration: underline;
          color: var(--fsa__link-green);

          &::before {
            background-image: url("./assets/arrow-hover.svg");
          }
        }
      }
    }
  }
}
