<div class="subject-listing">
  <div class="subject-listing__section">
    <h2 class="subject-listing__title" id="fish-and-fishery-products">Fish and fishery products</h2>
    <h3 class="subject-listing__section-header">In this section</h3>
    <ul class="subject-listing__link-list">
      <li class="subject-listing__link-list__item">
        <a class="external-link" href="#" data-fsa-at="in-this-section-live-bivalve-mollusc-(lbm)-and-fishery-product-approvals">Live bivalve mollusc (LBM) and fishery product approvals</a>
      </li>
      <li class="subject-listing__link-list__item">
        <a href="#" data-fsa-at="in-this-section-importing-fishery-products-or-bivalve-molluscs">Importing fishery products or bivalve molluscs</a>
      </li>
      <li class="subject-listing__link-list__item">
        <a class="external-link" href="#" data-fsa-at="in-this-section-freezing-requirements-for-fish-and-fishery-products">Freezing requirements for fish and fishery products</a>
      </li>
    </ul>
  </div>
</div>