@import "src/lib.scss";

.cookie-banner {
  background-color: var(--fsa-primary_dark-green);
  padding: 1rem;
  width: 100%;

  @media screen and (min-width: $fsa-xl) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--hidden {
    display: none;
  }

  &__message,
  &__find-out-more,
  &__manage {
    margin: 0;

    @include body;

    color: var(--fsa-primary_white);
  }

  & a {
    color: var(--fsa-primary_white);
    text-decoration: none;
    border-bottom: 1px solid var(--fsa-primary_white);

    &.external-link{
      border-color: var(--fsa-primary_white);
      &::after {
        background-image: url("/src/components/general/ExternalLink/assets/external-white.svg");
      }
    }

    &:focus {
      outline: none;
      color: var(--fsa__link-green);
      background-color: var(--fsa-primary_white);

      &::after {
        background-image: url("/src/components/general/ExternalLink/assets/external.svg");
      }
    }

    &:hover {
      border-bottom: 4px solid var(--fsa-primary_white);
      color: var(--fsa-primary_white);
    }

    &:hover:focus {
      color: var(--fsa__link-green);
    }
  }

  &__find-out-more,
  &__manage {
    white-space: nowrap;
  }

  &__actions {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (min-width: $fsa-md) {
      flex-direction: row;
      align-items: center;
    }

    @media screen and (min-width: $fsa-xl) {
      margin-top: 0;
    }
  }

  &__manage {
    @media screen and (min-width: $fsa-md) {
      margin-right: 1rem;
    }

    @media screen and (min-width: $fsa-xl) {
      margin-right: 2rem;
    }

    &:hover {
      margin-top: 3px; // to prevent the element to move due to the border increase
    }
  }

  &__accept {
    margin-top: 1rem;

    @include button(secondary);

    &:hover {
      background-color: var(--fsa__link-green);
    }

    @media screen and (min-width: $fsa-md) {
      margin-top: 0;
    }
  }
}
