@import 'src/lib.scss';

.checkbox {
  border: none;
  padding: 0 0 0 0.5rem;
  margin: 1.56rem 0 0 -0.5rem;
  color: var(--fsa-primary_black);

  @media screen and (min-width: $fsa-md) {
    margin-left: -1rem;
    padding-left: 1rem;
  }

  &__legend {
    @include intro;
    font-weight: bold;
    // Using a float trick here to make the border of fieldset wrap around, not going through, the legend.
    float: left;
  }

  &__required {
    @include small;
    margin-left: 1rem;
    color: var(--fsa-primary_black);
  }

  &__description {
    @include body;
    margin: 0;
    padding: 0.5rem 0 0 0;
    clear: both;
  }

  &__field {
    margin-top: 1rem;
    @include body;
    display: flex;
    align-items: center;
    align-items: center;
  }

  &__input {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--fsa-primary_black);
    position: relative;
    margin: 0 0.94rem 0 0;
    background-color: var(--fsa_tint);

    &::-ms-expand {
      display: none;
    }

    &:checked {
      background-color: var(--fsa-primary_dark-green);
      background-image: url('./tick.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &:focus {
      box-shadow: 0 0 0 0.167rem var(--fsa-primary_black),
      0 0 0 0.333rem var(--fsa-tertiary_light-yellow);
      outline: none;
      border: none;
    }
  }

  &--error {
    border-left: 0.25rem solid var(--fsa-secondary_mid-red);
    @media screen and (min-width: $fsa-lg) {
      border-left: 0.22rem solid var(--fsa-secondary_mid-red);
    }

    .checkbox__legend{
      color: var(--fsa-secondary_mid-red);
    }
  }
}
