@import 'src/lib.scss';

.help-layout {
  width: 100%;
  &__container {
    @include grid-container;
  }

  &__row {
    @include grid-row;
    display: flex;
  }

  &__top {
    width: 100%;
  }

  &__wrapper {
    padding-bottom: 4.5rem;
    @include grid-cols(4, 4);
    @media screen and (min-width: $fsa-md) {
      @include grid-cols(12);
    }
    @media screen and (min-width: $fsa-xl) {
      @include grid-cols(8);
      @include cols-push(2);
    }
  }
}
