<div class="team-contacts">
  <div class="content-meta-data__item">
    <h2 class="team-contacts__item__label">{{ team_contacts }}</h2>
    <h3 class="team-contacts__item__name">{{ team_name }}</h3>
    <div class="team-contacts__item__email-wrapper">
      <a class="team-contacts__item__email" href="mailto:{{ team_email }}">{{ team_email }}</a>
    </div>
  </div>
</div>
