@import "src/lib.scss";

.landing-links {
  margin-top: 3rem;

  @media screen and (min-width: $fsa-lg) {
    margin-top: 4rem;
  }

  &__container {
    @include grid-container();
  }

  &__title {
    text-align: center;
    @include grid-cols(4, 4);

    @media screen and (min-width: $fsa-md) {
      @include grid-cols(12, 12);
    }

    @media screen and (min-width: $fsa-lg) {
      @include grid-cols(8, 12);
      @include cols-push(2, 12);
    }

    h2 {
      @include h2;
      margin: 0;

      &:after {
        content: "";
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZlcnNpb249JzEuMSc+PGNpcmNsZSBjeD0nNCcgY3k9JzQnIHI9JzQnIGZpbGw9JyNERUUyRTUnIC8+PC9zdmc+);
        background-repeat: repeat-x;
        background-size: 25px 25px;
        width: 12rem;
        display: block;
        padding-bottom: 0.5rem;
        margin: 0.5rem auto 0rem;
      }
    }
  }

  &__row {
    @include grid-row();
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $fsa-md) {
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    @include grid-cols(2, 4);

    @media screen and (min-width: $fsa-md) {
      @include grid-cols(4, 12);
    }

    @media screen and (min-width: $fsa-lg) {
      @include grid-cols(2, 12);
    }

    &:hover {
      .landing-links__svg {
        background-color: var(--fsa__link-green);
      }

      a {
        text-decoration: underline;
      }
    }

    a {
      @include link;
      text-decoration: none;
      color: var(--fsa-primary_black);
      display: inline-block;
      width: -moz-min-content;
      width: -webkit-min-content;
      display: -ms-grid;
      -ms-grid-columns: min-content;

      &:focus {
        background-color: var(--fsa-primary_white);

        .landing-links__link {
          background-color: var(--fsa-tertiary_light-yellow);
        }
      }
    }

  }

  &__svg {
    width: 72px;
    height: 72px;
    background-color: var(--fsa-primary_dark-green);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 41px;
    }

    @media screen and (min-width: $fsa-lg) {
      width: 90px;
      height: 90px;

      svg {
        width: 51px;
      }
    }

  }

  &__link {
    @include body;
    text-align: center;
    margin-top: 0.5rem;
  }

}