@import "src/lib.scss";

.landing-links {
  @include landing-margin-top;

  &__container {
    @include grid-container;
  }

  &__title {
    @include landing-text-wrapper;

    h2 {
      @include h2;

      margin: 0;

      &::after {
        content: "";
        background-image: svg-load("./assets/dot.svg");
        background-repeat: repeat-x;
        background-size: 25px 25px;
        width: 12rem;
        display: block;
        padding-bottom: 0.5rem;
        margin: 0.5rem auto 0;
      }
    }
  }

  &__row {
    @include grid-row;

    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $fsa-md) {
      flex-direction: row;
    }

    &--centred {
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    @include grid-cols(2, 4);

    @media screen and (min-width: $fsa-md) {
      @include grid-cols(4, 12);
    }

    @media screen and (min-width: $fsa-lg) {
      @include grid-cols(2, 12);
    }

    a {
      display: inline-block;
      text-align: center;
      outline: none;
      border: none;
      text-decoration: none;

      &:hover {
        .landing-links__svg {
          background-color: var(--fsa__link-green);
        }

        .landing-links__link {
          color: var(--fsa-primary_dark-green);
          text-decoration: underline;
        }
      }

      &:focus {
        background-color: var(--fsa-primary_white);

        .landing-links__link {
          color: var(--fsa-primary_black);
          outline: none;
          text-decoration: none;
          background-color: var(--fsa-tertiary_light-yellow);
          border-bottom: 4px solid var(--fsa-primary_black);
          padding-bottom: 2px;
        }
      }
    }
  }

  &__svg {
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--fsa-primary_dark-green);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0.5rem;

    svg {
      width: 2.5rem;
      fill: var(--fsa-primary_white);
      display: block;
    }

    @media screen and (min-width: $fsa-lg) {
      width: 5rem;
      height: 5rem;

      svg {
        width: 2.8rem;
      }
    }
  }

  &__link {
    @include link;

    color: var(--fsa-primary_black);
    text-decoration: none;
    text-align: center;
  }
}
