@import "src/lib.scss";

.landing-links {
  margin-top: 3rem;

  @media screen and (min-width: $fsa-lg) {
    margin-top: 4rem;
  }

  &__container {
    @include grid-container();
  }

  &__title {
    text-align: center;
    @include grid-cols(4, 4);

    @media screen and (min-width: $fsa-md) {
      @include grid-cols(12, 12);
    }

    @media screen and (min-width: $fsa-lg) {
      @include grid-cols(8, 12);
      @include cols-push(2, 12);
    }

    h2 {
      @include h2;
      margin: 0;

      &:after {
        content: "";
        background-image: url("./dot.svg");
        background-repeat: repeat-x;
        background-size: 25px 25px;
        width: 12rem;
        display: block;
        padding-bottom: 0.5rem;
        margin: 0.5rem auto 0rem;
      }
    }
  }

  &__row {
    @include grid-row();
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $fsa-md) {
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    @include grid-cols(2, 4);

    @media screen and (min-width: $fsa-md) {
      @include grid-cols(4, 12);
    }

    @media screen and (min-width: $fsa-lg) {
      @include grid-cols(2, 12);
    }

    a {
      display: inline-block;
      width: -moz-min-content;
      width: -webkit-min-content;
      display: -ms-grid;
      -ms-grid-columns: min-content;
      text-align: center;
      outline: none;
      border: none;
      text-decoration: none;

      &:hover {
        .landing-links__svg {
          background-color: var(--fsa__link-green);
        }
        .landing-links__link {
          color: var(--fsa-primary_dark-green);
          text-decoration: underline;
        }
      }

      &:focus {
        background-color: var(--fsa-primary_white);

        .landing-links__link {
          color: var(--fsa-primary_black);
          outline: none;
          text-decoration: none;
          background-color: var(--fsa-tertiary_light-yellow);
          border-bottom: 4px solid var(--fsa-primary_black);
          padding-bottom: 2px;
        }
      }
    }

  }

  &__svg {
    width: 72px;
    height: 72px;
    background-color: var(--fsa-primary_dark-green);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;

    svg {
      width: 41px;
    }

    @media screen and (min-width: $fsa-lg) {
      width: 90px;
      height: 90px;

      svg {
        width: 51px;
      }
    }

  }

  &__link {
    @include link;
    color: var(--fsa-primary_black);
    text-decoration: none;
    text-align: center;
  }

}