<div class='landing-links'>
  <div class='landing-links__title'>
    <h2>{{ title }}</h2>
  </div>
  <div class='landing-links__list'>
    {% set items = 6 %}
    {% for item in range(1,items) %}
    <div class='landing-links__item'>
      <div class='landing-links__svg'>
        {{svg}}
      </div>
      <a class='landing-links__link' href={{ url }}>{{ linkText }}</a>
    </div>
    {% endfor %}

  </div>

</div>