<nav class="on-this-page">
  <h2 class="on-this-page__title">{{ on_this_page|upper }}</h2>
  <ol class="on-this-page__list">
    {% for link in links %}
      <li class="on-this-page__list-item">
        <a href="{{ link.href }}" class="on-this-page__link">{{ link.label }}</a>
      </li>
    {% endfor %}
  </ol>
</nav>