<section class="explanation-block">
  {% if heading %}
    <div class="explanation-block__header{{ type ? " explanation-block__header--" ~ type : "" }}">
      <div class="explanation-block__heading" role="heading" aria-level="3">{{ heading }}</div>
    </div>
  {% endif %}
  <div class="explanation-block__content">
    {{ wysiwyg_content|raw }}
    <div class="explanation-block__link">
      {% if link_text and link_url %}
        {% include "@components/components/general/Link/link.html.twig" with {
          link_text: link_text,
          link_url: link_url,
        } %}
      {% endif %}
    </div>
  </div>
</section>
