<div class="toggle-button">
  <label for="{{ id }}">
    <span class="toggle-button__label">{{ label }}</span>
    <button aria-label="{{ label }}" type="button" id="{{ id }}" role="switch" aria-checked="false">
      <span></span>
    </button>
  </label>
</div>