@import 'src/lib.scss';

.showing {
  color: var(--fsa-primary_black);
  margin: 0 0 1.05rem 0;
  @media screen and (min-width: $fsa-md) {
    margin: 0 ;
  }
}

.showing--bold {
  font-weight: bold;
}
