<div id="block-breadcrumbs" class="breadcrumb contextual-region">
      <p class="visually-hidden">Breadcrumb</p>
      <div class="breadcrumb__item">
              <a href="/?navref=breadcrumb" class="breadcrumb__link">Food Standards Agency</a>          </div>
      <div class="breadcrumb__item">
              <a href="/food-safety?navref=breadcrumb" class="breadcrumb__link">Food safety and hygiene</a>          </div>
      <div class="breadcrumb__item">
              <a href="?navref=breadcrumb" class="breadcrumb__link">Buying and eating food</a>          </div>
      <div class="breadcrumb__item">
              <a href="?navref=breadcrumb" class="breadcrumb__link" aria-current="page">Allergy and intolerance</a>          </div>
  
</div>
