@import "src/lib.scss";

.multivalue-field {
  &__add-entity {
    a {
      @include link;
    }

    margin-top: 1rem;
  }

  &[data-count="1"] {
    .multivalue-field__delete-entity {
      display: none;
    }
  }

  &__delete-entity {
    cursor: pointer;
    height: 1.75rem;
    width: 1.75rem;

    &::before {
      content: "";
      background-image: url("./assets/delete.svg");
      display: inline-block;
      width: 1.75rem;
      height: 1rem;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 1rem;
      vertical-align: middle;
    }

    &:focus {
      box-shadow: inset 0 0 0 2px var(--fsa-primary_black);
      outline: solid 3px var(--fsa-tertiary_light-yellow);
      background-color: var(--fsa-primary_white);
    }
  }

  .input-field__wrapper {
    position: relative;

    input {
      padding-right: 2.5rem;
    }

    .multivalue-field__delete-entity {
      position: absolute;
      right: 0.5rem;
      top: 0.7rem;
    }
  }
}
