@import 'src/lib.scss';

.article-two-col {
  max-width: 100%;
  &__container {
    @include grid-container;
  }

  &__row {
    @include grid-row;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $fsa-md) {
      flex-direction: row;
    }
  }

  &__top {
    @include grid-cols(4, 4);
    margin-bottom: 3rem;
    @media screen and (min-width: $fsa-md) {
      @include grid-cols(12);
    }
  }
  &__left {
    @include grid-cols(4, 4);
    @media screen and (min-width: $fsa-md) {
      @include grid-cols(4);
    }
  }
  &__right {
    @include grid-cols(4, 4);
    @media screen and (min-width: $fsa-md) {
      @include grid-cols(8);
    }
    @media screen and (min-width: $fsa-xl) {
      @include grid-cols(7)
    }
  }
}
