@import "src/lib.scss";

.search-no-results {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__title {
    @include h5;

    margin: 0;
  }

  &__text {
    @include body;

    a {
      @include link;
    }
  }
}
