@import "src/lib.scss";

.search-no-results {
  padding-bottom: 2rem;

  &__content {
    padding-left: 1rem;

    @media screen and (min-width: $fsa-xs) {
      padding-left: 3rem;
    }
  }

  &__title {
    @include h5;

    margin: 0;
  }

  &__text {
    @include body;

    a {
      @include link;
    }
  }
}
