<div class="multistep-function">
  <div class="multistep-function__container">
    
    {% if prev_label %}
      {% if prev_link %}
        <a href="{{ prev_link }}" class="multistep-function__previous">{{ prev_label }}</a>
      {% else %}
        <input type="submit" class="multistep-function__previous" value="{{ prev_label }}" />
      {% endif %}
    {% endif %}
     
    {{ next_element }}
   
  </div>
</div>