@import 'src/lib.scss';

.typography {
  &__container {
    @include container;
  }
  &__heading {
    font-size: 1rem;
    color: var(--fsa-dark-purple);
    margin-bottom: 0;
  }
  &__example {
    margin-top: 0;
  }
  &__article {
    @include h1-article;
  }
  &__intro {
    @include intro;
  }
}