<div class="typography">
  <div class="typography__container">
    <h1 class="typography__title">Typography</h1>
    <div class="typography__content">
      <p class="typography__heading">H1</p>
      <h1 class="typography__example">The quick brown fox jumps over the lazy dog</h1>
      <p class="typography__heading">Article H1</p>
      <h1 class="typography__example typography__article">The quick brown fox jumps over the lazy dog</h1>
      <p class="typography__heading">H2</p>
      <h2 class="typography__example">The quick brown fox jumps over the lazy dog</h2>
      <p class="typography__heading">H3</p>
      <h3 class="typography__example">The quick brown fox jumps over the lazy dog</h3>
      <p class="typography__heading">H4</p>
      <h4 class="typography__example">The quick brown fox jumps over the lazy dog</h4>
      <p class="typography__heading">H5</p>
      <h5 class="typography__example">The quick brown fox jumps over the lazy dog</h5>
      <p class="typography__heading">H6</p>
      <h6 class="typography__example">The quick brown fox jumps over the lazy dog</h6>
      <p class="typography__heading">Body</p>
      <p class="typography__example">The quick brown fox jumps over the lazy dog</p>
      <p class="typography__heading">Intro</p>
      <p class="typography__example typography__intro">The quick brown fox jumps over the lazy dog</p>
      <p class="typography__heading">Small</p>
      <small class="typography__example">The quick brown fox jumps over the lazy dog</small>
    </div>
  </div>
</div>
