<div class="landing-title">
  <div class="landing-title__container">
    <div class="landing-title__row">
      <div class="landing-title__wrapper">
        <h2 class="landing-title__title">{{ title }}</h2>
      </div>
    </div>
  </div>
</div>