<div class="sort">
  <label for="sort" class="sort__label">{{ sort_by }}</label>
  <select name="sort" id="sort" class="sort__select">
    {% for option in options %}
      <option value="{{ option }}" class="sort__option" {{ option|lower == default|lower ? "selected" : "" }}>{{ option }}</option>
    {% endfor %}
  </select>
</div>
