<div class="full-width"> 
{% block header %}{% endblock %}
  <div class="full-width__container">
    <div class="full-width__row">
      <div class="full-width__wrapper">
        {% block content %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rutrum massa vel ex convallis aliquet. In
            a lacinia tortor. Etiam sed hendrerit nibh. In quis rutrum neque. Aenean sit amet posuere ipsum. Nulla
            cursus posuere magna. Phasellus ornare vulputate velit, sed aliquam diam sodales non. Praesent quis nunc
            tortor. Suspendisse lacinia ante eget aliquet laoreet. Proin sit amet est orci. Nunc vehicula tortor est, ut
            tempor nisl aliquam id.</p>

          <p>Etiam eget felis tristique, volutpat massa eget, posuere felis. Nam quis accumsan leo, ac molestie urna.
            Curabitur lobortis dolor luctus libero aliquet maximus. Maecenas eget ligula luctus nisl fermentum
            ullamcorper. Maecenas vehicula non tortor vel varius. Cras dui odio, mattis id elementum ut, cursus vel ex.
            Etiam laoreet, mi sed porttitor tempor, dolor eros luctus massa, eget semper mauris ante eget elit.
            Pellentesque venenatis ligula vel justo varius, quis placerat eros dignissim.</p>

          <p>Aliquam tristique arcu sit amet facilisis venenatis. Aliquam aliquam ac orci sed gravida. Vestibulum ante
            ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean orci mauris, interdum quis
            pulvinar ut, faucibus eget lacus. Vestibulum at mauris in lorem viverra ornare facilisis sed nulla. Sed
            faucibus posuere risus, sed rutrum nibh aliquam in. Sed vel sapien at felis tempus dignissim. Praesent diam
            tortor, tristique et magna ac, auctor pellentesque ligula. Quisque gravida efficitur nibh, quis pretium sem
            consequat ac. Mauris blandit fringilla placerat. Aliquam ipsum metus, dapibus quis ipsum non, aliquam
            molestie quam. Aenean at nibh iaculis, sagittis magna non, vulputate tellus.</p>

          <p>Vivamus in dolor quam. Sed scelerisque dignissim lacus vel luctus. In posuere non sapien et volutpat. Cras
            vel porttitor mi, eu egestas risus. Sed imperdiet, velit a fringilla mollis, ligula elit luctus nulla, in
            iaculis sem ante a eros. Aenean sollicitudin bibendum mollis. Aliquam tempor ligula id lacus tempus
            dignissim. Morbi sed euismod neque, et dictum augue. Aliquam nec dignissim ligula. Aenean ut tristique nunc.
            Vivamus libero dolor, ornare vitae scelerisque a, finibus elementum velit. Nam porta, est at egestas
            vulputate, massa nisi egestas justo, sed condimentum nisl mi a arcu. Duis eleifend risus ac arcu tempus
            mollis ut id ante. Integer quis gravida purus, sed gravida lacus. Quisque pulvinar nibh eget orci sodales,
            in placerat ex cursus.</p>

          <p>Duis a imperdiet tellus, id pulvinar odio. In justo dolor, pellentesque non est et, ultrices consectetur
            nulla. Duis at ante ex. Donec mollis nisi non felis vulputate tempus. Suspendisse vehicula nunc eu enim
            tincidunt posuere. Cras ac mattis augue. Mauris id ligula turpis. Etiam porttitor pretium magna, id ultrices
            dui malesuada sit amet. Cras lacinia nisi lobortis sapien ornare, nec semper tellus consequat. Vivamus vitae
            mi in ipsum ultricies efficitur at sit amet lorem. Curabitur vel porttitor lectus. Proin porttitor lacinia
            imperdiet. Vestibulum fermentum enim at lorem consequat, eget suscipit nulla bibendum. Suspendisse sem
            ipsum, ultrices ac ornare ut, porttitor non nisi. Suspendisse porta cursus leo, eget aliquam metus
            consectetur vel.</p>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
