@import 'src/lib.scss';

.latest-teaser {
  @include landing-margin-top;

  &__container {
    @include grid-container();
  }

  &__text-row {
    @media screen and (min-width: $fsa-md) {
      @include grid-row();
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  &__text-wrapper {
    @include landing-text-wrapper;
  }
  
  &__title {
    margin: 0;
    padding: 0;
    @include h2;
    position: relative;

    &:after {
      content: "";
      background-image: url("./dot.svg");
      background-repeat: repeat-x;
      background-size: 25px 25px;
      width: 12rem;
      display: block;
      padding-bottom: 0.5rem;
      margin: 0.5rem auto 0rem;
    }
  }

  &__description {
    @include body;
  }

  &__link-wrapper {
    margin-top: 1rem;
  }

  &__link {
    @include link;
    padding-left: 2.25rem;
    position: relative;
    &::before {
      content: '';
      background-image: url('./arrow-right.svg');
      display: inline-block;
      width: 1.75rem;
      height: 1rem;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0;
      top: 0.25rem;
    }
    &:hover {
      &::before {
        background-image: url('./arrow-hover.svg');
      }
    }
  }

  /* Cards */

  &__cards-row {
    @include grid-row();
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $fsa-md) {
      flex-direction: row;
    }
  }

  &__card {
    @include grid-cols(4, 4);
    margin-top: 2rem;

    @media screen and (min-width: $fsa-md) {
      @include grid-cols(6);
    }

    @media screen and (min-width: $fsa-xl) {
        @include grid-cols(3);
    }
  }

  &__card-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
    &--news {
      border-top: 0.4rem solid var(--fsa-secondary_mid-purple);
      .latest-teaser__type {
        color: var(--fsa-secondary_mid-purple);
      }
    }
    &--alerts {
      border-top: 0.4rem solid var(--fsa-secondary_mid-red);
      .latest-teaser__type {
        color: var(--fsa-secondary_mid-red);
      }
    }
    &--consultations {
      border-top: 0.4rem solid var(--fsa-secondary_dark-blue);
      .latest-teaser__type {
        color: var(--fsa-secondary_dark-blue);
      }
    }
  }

  &__type {
    @include h6;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.5rem 0 0;
  }

  &__anchor-wrapper {
    margin: 0.5rem 0;
  }

  &__anchor {
    color: var(--fsa-primary_black);
    cursor: pointer;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      pointer-events: auto;
      content: "";
    }

    &:hover {
      text-decoration: underline;
      color: var(--fsa__link-green);
    }

    &:focus {
      text-decoration: none;
      background-color: var(--fsa-tertiary_light-yellow);
      color: var(--fsa-primary_black);
      outline: none;
      border-bottom: 2px solid var(--fsa-primary_black);
      padding: 0.5px 0;

      @media screen and (min-width: $fsa-xs) {
        padding: 3px 0;
      }

    }
  }

  &__date {
    position: relative;
    display: block;
    margin-top: 0.5rem;
    color: var(--fsa-primary_dark-grey);
    margin-top: auto;
    &::before {
      content: '';
      background-image: url('./arrow-right.svg');
      display: inline-block;
      width: 1.75rem;
      height: 1rem;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 0;
      top: 0.25rem;
    }
  }

  &__button-wrapper {
    display: flex;
    margin-top: 2rem;
    .button {
      margin: auto;
    }
  }
}
