@import "src/lib.scss";

.temporary-message {
  @include grid-container;
  background-color: var(--fsa__grey-hover);
  font-size: 0.8rem;
  padding: 1rem;
  position: relative;

  &__row {
    @include grid-row;
    display: flex;
    height: 100%;
  }

  &__wrapper {
    @include grid-cols(4, 4);
  }

  &--warning {
    background-color: var(--fsa-secondary_mid-yellow);
  }

  &--danger {
    background-color: var(--fsa-secondary_mid-red);
    color: var(--fsa-primary_white);

    .temporary-message__content {
      &:before {
        background-image: url("./assets/warning-white.svg");
      }
    }
  }

  &__content {
    @include body();
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5rem;

    @media screen and (min-width: $fsa-md) {
      padding-left: 1rem;
    }

    @media screen and (min-width: $fsa-lg) {
      padding-left: 2rem;
    }

    &:before {
      content: "";
      background-image: url("./assets/warning-black.svg");
      background-repeat: no-repeat;
      background-position: center;
      min-width: 2rem;
      min-height: 100%;
      position: relative;
      left: -0.5rem;

      @media screen and (min-width: $fsa-md) {
        left: -1rem;
      }

      @media screen and (min-width: $fsa-lg) {
        left: -2rem;
      }
    }

    a {
      text-decoration: underline;

      &.external-link {
        &::after {
          display: none;
        }
      }
    }

    p {
      margin: 0;
    }
  }
}
