@import "src/lib.scss";

.temporary-message {
  background-color: var(--fsa__grey-hover);
  font-size: 0.8rem;
  padding: 1rem 0;
  position: relative;

  &__container {
    @include grid-container;
  }

  &__row {
    @include grid-row;
    display: flex;
    height: 100%;
  }

  &__wrapper {
    @include grid-cols(4, 4);
  }

  a {
    @include link;
    color: var(--fsa-primary_black);
    text-decoration: none;
    border-bottom: 1px solid;
    &:hover:not(:focus-visible) {
      border-bottom: 4px solid;
    }
  }

  &--warning {
    background-color: var(--fsa-secondary_mid-yellow);
    a {
      color: var(--fsa-primary_black);
      &:focus {
        color: var(--fsa-primary_white);
        background-color: var(--fsa-primary_black);
        border-color: var(--fsa-primary_white);
        &::after {
          background-image: url("/src/components/general/ExternalLink/assets/external-white.svg");
        }
      }
    }
  }

  &--danger {
    background-color: var(--fsa-secondary_mid-red);
    color: var(--fsa-primary_white);

    .temporary-message__content {
      &:before {
        background-image: url("./assets/warning-white.svg");
      }

      a {
        color: var(--fsa-primary_white);
        &:focus {
          color: var(--fsa-primary_black);
          &::after {
            background-image: url("/src/components/general/ExternalLink/assets/external-black.svg");
          }
        }
      }
    }
  }

  &__content {
    @include small();
    display: flex;
    justify-content: flex-start;

    &:before {
      content: "";
      background-image: url("./assets/warning-black.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      min-width: 1.875rem;
      height: auto;
      position: relative;
      display: block;
      margin-right: 0.5rem;
      @media screen and (min-width: $fsa-md) {
        margin-left: 0.9rem;
        margin-right: 2rem;
      }
    }

    p {
      margin: 0;
    }
  }
}
