{% extends '../../layout/contactLayout/contactLayout.html.twig' %}

{% block top %}
  {% include '../../components/contact/HelpSecondaryMenu/helpSecondaryMenu.html.twig' with {
    heading: 'Help/contact menu',
    links: [
      {
        link: {
          href: '#',
          label: 'For consumers',
          active: true,
        },
        submenu: {
          links: [
            {
              link: {
                href: '#',
                label: 'Report a food problem',
                active: true,
              },
            },
            {
              link: {
                href: '#',
                label: 'Give us Feedback',
                active: false,
              },
            },
            {
              link: {
                href: '#',
                label: 'Find contact details',
                active: false,
              },
            },
          ],
        },
      },
      {
        link: {
          href: '#',
          label: 'For businesses',
          active: false,
        },
        submenu: {
          links: [
            {
              link: {
                href: '#',
                label: 'Report a food concern',
                active: false,
              },
            },
            {
              link: {
                href: '#',
                label: 'Find business services',
                active: false,
              },
            },
            {
              link: {
                href: '#',
                label: 'Give us feedback',
                active: false,
              },
            },
            {
              link: {
                href: '#',
                label: 'Find contact details',
                active: false,
              },
            },
          ],
        },
      },
    ],
  } %}
{% endblock %}

{% set promo_svgs = {
  food_poison: '<?xml version="1.0" encoding="UTF-8"?>
  <svg width="48px" height="68px" viewBox="0 0 48 68" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>fsa-suspect-food-poisoning</title>
      <g id="--contact-promo-links" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="contact-promo-links--desktop" transform="translate(-572.000000, -27.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <g id="fsa-suspect-food-poisoning" transform="translate(572.000000, 27.000000)">
                <path d="M21.2571429,68 C20.7044396,67.9969287 20.1582754,67.8812818 19.6525714,67.6602418 C15.5335327,65.944075 11.7076038,63.6060005 8.31085714,60.7291738 C7.51099703,60.0285207 6.75097241,59.2844397 6.03428571,58.5003598 C5.47178869,57.8885577 4.94082686,57.2489978 4.44342857,56.5841234 C1.56698931,52.8625338 0.00561990807,48.3067216 0,43.6189492 C0.102365555,38.7577232 1.43702758,34.0001067 3.88114286,29.7839939 C4.97519128,27.7615951 6.26588551,25.8498802 7.73485714,24.0760556 C8.50697905,23.2047306 9.62300478,22.708794 10.7931429,22.7170227 C11.0122192,22.6995991 11.2323522,22.6995991 11.4514286,22.7170227 C14.2805598,26.6667333 18.8653957,29.0133784 23.7531429,29.0133784 C28.64089,29.0133784 33.2257259,26.6667333 36.0548571,22.7170227 C37.3249193,22.5146877 38.6157501,22.9292783 39.5245714,23.8314297 C41.0570068,25.4255691 42.4345186,27.1591968 43.6388571,29.0093452 C46.2642865,32.6754222 47.777446,37.0088331 48,41.4988578 C47.9978182,45.4927792 46.4002951,49.3234513 43.5565714,52.153676 C43.2,52.5160848 42.8251429,52.8694334 42.432,53.2137217 C41.467376,54.0480267 40.4353474,54.8025525 39.3462857,55.4697164 C36.2171185,57.3134037 32.84256,58.7132417 29.3211429,59.6283571 C28.9688193,59.7280928 28.6041308,59.7784133 28.2377143,59.7778508 C26.4345984,59.7479936 24.8612626,58.5579975 24.3565714,56.8423396 C23.959306,55.3640125 24.430608,53.7897134 25.5771429,52.7652408 C26.0285578,52.3622491 26.5685635,52.0690937 27.1542857,51.9090501 C33.3257143,50.1287169 36.3428571,47.9950352 37.7142857,46.5136893 L38.0297143,46.1467504 C38.1805714,45.9700762 38.3314286,45.7798116 38.4685714,45.6167276 C38.6645059,45.3609726 38.6530334,45.0042127 38.4410644,44.7613387 C38.2290953,44.5184647 37.8744966,44.4557805 37.5908571,44.6110432 L36.9874286,44.9508015 C33.6479918,46.8451553 30.0941598,48.3414262 26.4,49.4084295 C25.7997816,49.5751452 25.2270108,49.8269005 24.6994286,50.1558976 C23.0144016,51.2030065 21.8920029,52.9437089 21.6411429,54.8989225 C21.5731585,55.4313528 21.5731585,55.9701511 21.6411429,56.5025814 C21.6697845,56.7491115 21.7109799,56.9940498 21.7645714,57.2364592 C17.8606102,55.4180671 14.4165301,52.7573585 11.6845714,49.4492005 C11.0811429,48.7968647 10.5325714,48.2124805 10.0388571,47.7232286 C9.91003436,47.6001783 9.73777893,47.5318989 9.55885714,47.532964 C9.33195192,47.5313771 9.1189476,47.6411276 8.98993045,47.8261036 C8.8609133,48.0110796 8.83259215,48.247325 8.91428571,48.4571064 C9.38412813,49.6440917 10.0113527,50.7638055 10.7794286,51.7867371 C13.0834286,54.8717419 16.8548571,57.6169884 22.0251429,59.9409347 L22.7382857,60.2671026 C23.4409921,60.5743906 24.0405074,61.0741861 24.4662857,61.7076775 C25.2340885,62.8524122 25.3681435,64.3034706 24.8228571,65.5673311 C24.7229346,65.7900989 24.6036268,66.0038212 24.4662857,66.2060765 C23.7416496,67.2718187 22.5523757,67.9366275 21.2571429,68 Z M20.8863691,26.8455737 C25.9905706,28.0255414 31.3265208,26.2071332 34.6146509,22.1671905 C39.1865824,16.6361627 38.6421847,8.54404715 33.3696951,3.66173449 C28.0972054,-1.22057816 19.9027946,-1.22057816 14.6303049,3.66173449 C9.35781526,8.54404715 8.81341762,16.6361627 13.3853491,22.1671905 C15.2874983,24.5120941 17.9282166,26.1591091 20.8863691,26.8455737 L20.8863691,26.8455737 Z M32,13.3733333 C32,14.1244406 31.3859905,14.7333333 30.6285714,14.7333333 C27.5988951,14.7333333 25.1428571,12.2977624 25.1428571,9.29333333 C25.1428571,8.54222607 25.7568666,7.93333333 26.5142857,7.93333333 C27.2717048,7.93333333 27.8857143,8.54222607 27.8857143,9.29333333 C27.8857143,10.7955479 29.1137333,12.0133333 30.6285714,12.0133333 C31.3859905,12.0133333 32,12.6222261 32,13.3733333 Z M17.3714286,14.7333333 C16.6140095,14.7333333 16,14.1244406 16,13.3733333 C16,12.6222261 16.6140095,12.0133333 17.3714286,12.0133333 C18.8862667,12.0133333 20.1142857,10.7955479 20.1142857,9.29333333 C20.1142857,8.54222607 20.7282952,7.93333333 21.4857143,7.93333333 C22.2431334,7.93333333 22.8571429,8.54222607 22.8571429,9.29333333 C22.8571429,12.2977624 20.4011049,14.7333333 17.3714286,14.7333333 Z M32,19.2666667 C32,19.6839485 31.6976468,20.0222222 31.3246753,20.0222222 C30.9517038,20.0222222 30.6493506,19.6839485 30.6493506,19.2666667 C30.6493506,18.8493849 30.3469975,18.5111111 29.974026,18.5111111 C29.6010545,18.5111111 29.2987013,18.8493849 29.2987013,19.2666667 C29.2987013,20.5185121 28.3916418,21.5333333 27.2727273,21.5333333 C26.1538127,21.5333333 25.2467532,20.5185121 25.2467532,19.2666667 C25.2467532,18.8493849 24.9444001,18.5111111 24.5714286,18.5111111 C24.1984571,18.5111111 23.8961039,18.8493849 23.8961039,19.2666667 C23.8961039,20.5185121 22.9890444,21.5333333 21.8701299,21.5333333 C20.7512153,21.5333333 19.8441558,20.5185121 19.8441558,19.2666667 C19.8441558,18.8493849 19.5418027,18.5111111 19.1688312,18.5111111 C18.7958596,18.5111111 18.4935065,18.8493849 18.4935065,19.2666667 C18.4935065,19.6839485 18.1911533,20.0222222 17.8181818,20.0222222 C17.4452103,20.0222222 17.1428571,19.6839485 17.1428571,19.2666667 C17.1428571,18.0148212 18.0499166,17 19.1688312,17 C20.2877457,17 21.1948052,18.0148212 21.1948052,19.2666667 C21.1948052,19.6839485 21.4971584,20.0222222 21.8701299,20.0222222 C22.2431014,20.0222222 22.5454545,19.6839485 22.5454545,19.2666667 C22.5454546,18.0148213 23.452514,17 24.5714286,17 C25.6903431,17 26.5974026,18.0148213 26.5974026,19.2666667 C26.5974026,19.6839485 26.8997558,20.0222222 27.2727273,20.0222222 C27.6456988,20.0222222 27.9480519,19.6839485 27.9480519,19.2666667 C27.9480519,18.0148212 28.8551114,17 29.974026,17 C31.0929405,17 32,18.0148212 32,19.2666667 L32,19.2666667 Z" id="Shape"></path>
              </g>
          </g>
      </g>
  </svg>',
  food_product: '<?xml version="1.0" encoding="UTF-8"?>
  <svg width="52px" height="52px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>Shape</title>
      <g id="--contact-promo-links" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="contact-promo-links--desktop" transform="translate(-569.000000, -191.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <g id="fsa-food-product" transform="translate(569.000000, 191.000000)">
                  <path d="M24.7377929,16.9582254 L27.1911323,14.5058834 C31.2768487,10.4359288 35.8045954,6.83491484 40.6901518,3.76982408 C43.0530455,2.26677577 47.2248531,-0.140361743 48.7624298,0.00655275308 C49.5880116,0.0909968241 50.3589451,0.458339029 50.9444321,1.04625534 L50.9444321,1.04625534 C52.351856,2.45394362 52.351856,4.73536998 50.9444321,6.14305825 L32.4595939,24.6316826 L24.7377929,16.9582254 Z M16.7559606,24.9368127 L16.1454522,25.5470729 C14.7380284,26.9547612 14.7380284,29.2361875 16.1454522,30.6438758 L16.1454522,30.6438758 L1.04102166,45.8438756 C-0.309025183,47.2608485 -0.281764677,49.4956335 1.10244487,50.8792803 C2.48665442,52.2629271 4.72234835,52.2901765 6.13989753,50.9406785 L24.4777616,32.5989687 L16.7559606,24.9368127 Z M20.2381198,10.7991177 L9.71250236,0.334285091 C9.50021886,0.120340685 9.21124955,0 8.90979685,0 C8.60834414,0 8.31937483,0.120340685 8.10709133,0.334285091 C7.66874222,0.775070908 7.66874222,1.4869565 8.10709133,1.92774232 L17.8865318,11.6467013 L17.8865318,11.6467013 C18.019092,11.7782459 18.0936449,11.9572369 18.0936449,12.1439504 C18.0936449,12.3306638 18.019092,12.5096548 17.8865318,12.6411994 C17.6098521,12.9110881 17.1683089,12.9110881 16.8916292,12.6411994 L16.8916292,12.6411994 L7.11218872,2.91093933 C6.89990522,2.69699493 6.61093591,2.57665424 6.30948321,2.57665424 C6.0080305,2.57665424 5.71906119,2.69699493 5.50677769,2.91093933 C5.29072183,3.12507594 5.17012982,3.41722171 5.17225744,3.72134693 C5.17438505,4.02547215 5.29905268,4.31590352 5.5180834,4.52699879 L15.2975238,14.2459578 L15.2975238,14.2459578 C15.4300841,14.3775024 15.504637,14.5564934 15.504637,14.7432068 C15.504637,14.9299203 15.4300841,15.1089113 15.2975238,15.2404559 C15.0208441,15.5103446 14.5793009,15.5103446 14.3026212,15.2404559 L14.3026212,15.2404559 L4.51187508,5.49889469 C4.29959158,5.28495029 4.01062227,5.1646096 3.70916957,5.1646096 C3.40771686,5.1646096 3.11874755,5.28495029 2.90646405,5.49889469 C2.46811494,5.93968051 2.46811494,6.65156611 2.90646405,7.09235192 L12.6859045,16.8113109 L12.6859045,16.8113109 C12.8184647,16.9428555 12.8930177,17.1218465 12.8930177,17.30856 C12.8930177,17.4952734 12.8184647,17.6742644 12.6859045,17.805809 C12.4092248,18.0756977 11.9676816,18.0756977 11.6910019,17.805809 L11.6910019,17.805809 L1.92286715,8.07554894 C1.48190206,7.63737804 0.769726925,7.63737804 0.328761832,8.07554894 C-0.109587277,8.51633475 -0.109587277,9.22822035 0.328761832,9.66900617 L10.8430735,20.1225376 L10.8996021,20.1225376 L10.8996021,20.1225376 C12.4940846,21.7005352 14.7754142,22.3714915 16.9707691,21.9081138 L46.207339,51.0084852 C47.5315433,52.3305049 49.6767564,52.3305049 51.0009607,51.0084852 C52.3085332,49.6874568 52.3085332,47.5604431 51.0009607,46.2394146 L22.0018107,17.4215711 C22.6888533,15.107863 22.0506681,12.6038962 20.3398712,10.9008277 L20.2833426,10.9008277 L20.2833426,10.8443221 L20.2381198,10.7991177 Z" id="Shape"></path>
              </g>
          </g>
      </g>
  </svg>',
  poor_food: '<?xml version="1.0" encoding="UTF-8"?>
  <svg width="58px" height="56px" viewBox="0 0 58 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>fsa-poor-food copy</title>
      <g id="--contact-promo-links" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="fsa-poor-food-copy" fill="#FFFFFF" fill-rule="nonzero">
              <path d="M25.5856366,22.4008891 C25.5267397,22.5416409 25.5267397,22.7001678 25.5856366,22.8409196 C25.799634,23.2394182 25.8325864,23.7106692 25.6761344,24.1351269 L25.6761344,24.2127794 C25.2109315,24.3124206 24.7709843,24.5062041 24.3833081,24.7822306 C23.9844146,24.662025 23.6466818,24.3934027 23.439545,24.0315904 L23.439545,23.9539379 C23.2814126,23.6765232 22.9295879,23.578369 22.6509209,23.7339227 C22.518662,23.8074797 22.4211245,23.9307519 22.3798799,24.0764767 C22.3386353,24.2222014 22.357082,24.378371 22.4311405,24.5104471 L22.4311405,24.5880995 C22.6892019,25.0502811 23.0753392,25.4278414 23.5429711,25.6752337 C23.2507063,26.1185162 23.0648639,26.6234846 22.999984,27.15063 C22.6406439,27.2229618 22.2674597,27.172847 21.9398665,27.0082672 L21.8622969,27.0082672 C21.68561,26.9091408 21.4701402,26.9091408 21.2934534,27.0082672 C21.1123815,27.1085583 21,27.2993766 21,27.506537 C21,27.7136974 21.1123815,27.9045157 21.2934534,28.0048068 L21.3710229,28.0048068 C21.874221,28.2577325 22.4420435,28.3524707 22.999984,28.2765904 C23.1038041,28.7841542 23.3203059,29.2618516 23.6334689,29.6743343 C23.3960149,29.9895954 23.0507987,30.206162 22.6638492,30.2826117 L22.5862796,30.2826117 C22.4365777,30.3107515 22.3044027,30.3978176 22.2193518,30.5243139 C22.134301,30.6508101 22.10348,30.8061682 22.1337904,30.9555995 C22.2045709,31.2644596 22.5090403,31.4599882 22.8189884,31.39563 L22.999984,31.39563 C23.5979985,31.2702639 24.1384377,30.9520189 24.5384473,30.4896849 L25.5468518,31.4603404 C25.4760639,31.8772408 25.2437613,32.249322 24.9004387,32.4957062 L24.8357973,32.4957062 C24.701158,32.5793071 24.6074477,32.7153322 24.5772321,32.8710264 C24.5495838,33.0257059 24.5870125,33.1849475 24.6806582,33.3110568 C24.7755138,33.4403631 24.9194506,33.5247731 25.0785066,33.5443702 C25.2375626,33.5639672 25.3976497,33.5170155 25.5209953,33.4145934 L25.5856366,33.4145934 C25.9770649,33.1376659 26.2891033,32.7628197 26.490615,32.3274593 C26.9246435,32.6068571 27.4144088,32.7879547 27.9256521,32.8580843 C28.1354095,33.2584732 28.163651,33.7296677 28.0032217,34.1522916 L28.0032217,34.229944 C27.9495966,34.3739977 27.9564309,34.5336362 28.0221708,34.6725688 C28.0879108,34.8115014 28.2069708,34.9179236 28.3522848,34.9676422 C28.6520098,35.0718032 28.9798339,34.9163522 29.0891958,34.6182062 L29.0891958,34.5405538 C29.2660779,33.9937075 29.2660779,33.4049306 29.0891958,32.8580843 C29.5513565,32.7699007 29.9910411,32.5894375 30.3820221,32.3274593 C30.7656421,32.8089858 31.2973789,33.1502069 31.8946288,33.2981148 C32.039279,33.3592392 32.2024678,33.3592392 32.347118,33.2981148 C32.5452783,33.2400519 32.6964511,33.0790568 32.7420941,32.8774755 C32.7877371,32.6758942 32.7206829,32.4653815 32.5668985,32.3274593 C32.4822558,32.1937598 32.3468969,32.1003091 32.1919788,32.0686178 C31.8038631,31.9793563 31.4628279,31.7486809 31.2352874,31.4215142 C31.5491728,30.9964727 31.7614701,30.5050108 31.855844,29.984944 C32.4257557,30.1461155 33.0319024,30.1234739 33.5882312,29.9202337 C33.7452326,29.876177 33.8765594,29.7681862 33.9502226,29.622566 C34.0165925,29.4743671 34.0165925,29.3048502 33.9502226,29.1566513 C33.8924135,29.0083078 33.7752012,28.8909703 33.627016,28.8330995 C33.4786348,28.7682715 33.3099797,28.7682715 33.1615985,28.8330995 C32.7384569,28.9871979 32.2704724,28.9590888 31.8687723,28.7554471 L31.8687723,28.7554471 C31.7786405,28.2567224 31.5800234,27.7839507 31.2870004,27.3706452 C31.7697346,27.1377622 32.1741053,26.7689419 32.4505441,26.3093952 C32.5298067,26.177754 32.5525439,26.0196272 32.5135885,25.870951 C32.4746331,25.7222747 32.3772937,25.595677 32.2436919,25.5199288 C31.9683851,25.3621783 31.6175867,25.4542893 31.4550679,25.7270019 C31.2308859,26.1059575 30.8620552,26.3770339 30.4337351,26.4776422 L29.3089762,25.4034501 C29.7104328,24.9372332 29.9427753,24.3489156 29.9683176,23.7339227 C29.9744608,23.580587 29.9185228,23.4312596 29.8131785,23.3197763 C29.7084116,23.2092156 29.5645294,23.1441671 29.4124023,23.1385873 C29.0959422,23.1312361 28.8316858,23.3785223 28.8177023,23.6950965 C28.8048907,24.0515598 28.6728585,24.3933872 28.4427826,24.6657519 C27.971563,24.3633897 27.4354776,24.1771117 26.8784629,24.1221849 C27.0032818,23.5008247 26.9072473,22.8553328 26.6069693,22.2973525 C26.4940251,22.0959092 26.2728232,21.9803324 26.0431556,22.0027629 C25.813488,22.0251934 25.6187723,22.1813909 25.5468518,22.4008891 L25.5856366,22.4008891 Z M43.5715204,13.5808114 C43.4302059,13.5221419 43.2710452,13.5221419 43.1297307,13.5808114 C42.7296389,13.7939827 42.2565037,13.8268078 41.830349,13.6709598 L41.7523861,13.6709598 C41.6523465,13.2075529 41.4577882,12.7693042 41.1806581,12.3831247 C41.3013443,11.9857712 41.5710406,11.6493422 41.9342995,11.4430051 L42.0122624,11.4430051 C42.2907862,11.2854832 42.3893329,10.9350167 42.2331573,10.6574257 C42.1593062,10.5256773 42.0355411,10.4285164 41.8892337,10.387431 C41.7429263,10.3463456 41.5861324,10.3647211 41.4535283,10.4384937 L41.3755654,10.4384937 C40.9115359,10.6955588 40.5324661,11.0802054 40.2840848,11.5460319 C39.8440274,11.2521851 39.3416168,11.0627012 38.8157835,10.9922628 C38.7431625,10.63431 38.7934777,10.2625665 38.9587154,9.93623799 L38.9587154,9.85896789 C39.0582382,9.68296315 39.0582382,9.46832517 38.9587154,9.29232043 C38.8580234,9.11194758 38.6664421,9 38.4584535,9 C38.2504649,9 38.0588836,9.11194758 37.9581915,9.29232043 L37.9581915,9.36959054 C37.7042547,9.8708459 37.6091377,10.4364763 37.6853214,10.9922628 C37.1757283,11.095682 36.696121,11.311348 36.2819892,11.623302 C35.9654676,11.3867647 35.7480352,11.0428813 35.6712798,10.6574257 L35.6712798,10.5801556 C35.6430275,10.4310316 35.5556133,10.2993669 35.4286113,10.2146443 C35.3016093,10.1299218 35.1456301,10.0992198 34.9956013,10.1294133 C34.6855063,10.1999205 34.489196,10.5032144 34.5538115,10.8119659 L34.5538115,10.889236 L34.5538115,10.889236 C34.6796789,11.4849417 34.9991963,12.0232945 35.4633787,12.4217598 L34.4888424,13.4262712 C34.0702752,13.3557566 33.6967064,13.1243508 33.4493371,12.7823536 L33.4493371,12.7179618 C33.3654019,12.5838423 33.2288331,12.4904938 33.0725164,12.4603948 C32.9172184,12.4328533 32.7573402,12.4701374 32.6307266,12.5634216 C32.5009034,12.657911 32.4161559,12.8012921 32.3964805,12.9597341 C32.3768051,13.118176 32.4239445,13.2776451 32.5267761,13.4005145 L32.5267761,13.4649062 C32.8191751,13.8732434 33.2192452,14.1940196 33.6832258,14.3921475 C33.4027109,14.8245004 33.2208893,15.3123749 33.1504793,15.8216445 C32.7484895,16.030592 32.2754112,16.0587245 31.8510976,15.8989146 L31.7731347,15.8989146 C31.6285052,15.8454965 31.4682283,15.8523044 31.3287403,15.9177905 C31.1892523,15.9832767 31.0824046,16.1018771 31.0324872,16.2466301 C30.9279097,16.5451979 31.0839822,16.8717564 31.3833202,16.9806961 L31.4612831,16.9806961 C32.0103158,17.1568953 32.6014466,17.1568953 33.1504793,16.9806961 C33.2390154,17.4410726 33.4202002,17.8790597 33.6832258,18.2685312 C33.1997741,18.6506702 32.8571888,19.1803542 32.7086895,19.7752983 C32.6473208,19.9193901 32.6473208,20.0819488 32.7086895,20.2260406 C32.7868905,20.3606034 32.9173839,20.4574618 33.0696706,20.4939779 C33.2219573,20.5304941 33.3826915,20.5034679 33.5143062,20.4192158 C33.6485402,20.3348999 33.7423645,20.2000636 33.7741825,20.0457437 C33.8638009,19.6591263 34.0953985,19.3194077 34.4238734,19.0927457 C34.8506142,19.4054193 35.3440409,19.616897 35.866187,19.7109065 C35.7043712,20.278618 35.7271033,20.8824246 35.9311561,21.4366056 C35.9753889,21.5930008 36.0838115,21.7238206 36.2300139,21.7971994 C36.3755734,21.9694214 36.6100457,22.0401484 36.8277295,21.9774963 C36.9766661,21.9199105 37.0944727,21.8031507 37.1525749,21.6555376 C37.2176621,21.5077292 37.2176621,21.3397252 37.1525749,21.1919169 C36.9978604,20.7704089 37.0260819,20.3042311 37.2305378,19.9040818 L37.2305378,19.9040818 L37.2305378,19.9040818 C37.7312564,19.814298 38.2059184,19.6164477 38.6208762,19.324556 C38.8546904,19.8054265 39.2249852,20.2082361 39.6863692,20.4836076 C39.8185367,20.5625642 39.9772958,20.5852137 40.1265664,20.5464086 C40.2758371,20.5076036 40.4029409,20.41064 40.478992,20.277554 C40.6373732,20.0033101 40.544894,19.653866 40.271091,19.4919746 C39.8906203,19.2686581 39.6184601,18.9012513 39.5174496,18.4745848 L40.5959364,17.3541683 C41.0640173,17.7540749 41.654687,17.9855204 42.2721388,18.0109642 C42.4260875,18.0170836 42.5760119,17.9613615 42.6879409,17.856424 C42.7989437,17.7520616 42.8642522,17.6087348 42.8698543,17.4571951 C42.8772349,17.1419567 42.62896,16.8787204 42.3111202,16.8647909 C41.9532317,16.8520288 41.6100376,16.7205063 41.3365839,16.4913187 C41.6298575,16.032184 41.8121775,15.5121209 41.8693304,14.9716733 C42.4931749,15.0960103 43.1412475,15.0003466 43.7014586,14.7012279 C43.9037073,14.5887198 44.0197463,14.3683718 43.9972261,14.1395909 C43.9747058,13.91081 43.8178838,13.716846 43.5975081,13.6452031 L43.5715204,13.5808114 Z M26.4975025,1.14452611 C26.3672957,1.21388159 26.2704807,1.33025162 26.228034,1.46842289 C26.0989528,1.88053843 25.7958055,2.22012159 25.393965,2.40274051 L25.316974,2.40274051 C24.9250583,2.16781601 24.4888258,2.01111766 24.0337908,1.94181048 C23.8394847,1.58591481 23.7935432,1.1711204 23.9054724,0.783256631 L23.9054724,0.708511221 C23.9878353,0.412986126 23.8107497,0.107965642 23.5076856,0.0233449638 C23.363039,-0.019003701 23.2069439,-0.00330487112 23.0743107,0.0669304531 C22.9416774,0.137165777 22.8435718,0.256077743 22.8019349,0.397072013 L22.8019349,0.471817423 C22.6536372,0.959720846 22.6536372,1.4788222 22.8019349,1.96672562 C22.2895561,2.06277133 21.8066833,2.27159549 21.3904334,2.57714647 C21.0831676,2.382423 20.8525846,2.09272487 20.7360099,1.75494696 L20.7360099,1.68020155 C20.6728446,1.4917065 20.5118411,1.34960872 20.3125595,1.3064745 C20.1122262,1.25931944 19.9013447,1.32190753 19.762416,1.46975309 C19.6234872,1.61759864 19.5785958,1.82719959 19.6453042,2.01655589 L19.6453042,2.0913013 C19.8326199,2.58956288 20.1674383,3.02296672 20.6076916,3.33705813 C20.3216685,3.75658586 20.1373991,4.23363865 20.0687547,4.73230578 C19.6834682,4.78716408 19.2908362,4.70294987 18.9652171,4.49561199 L18.8882261,4.49561199 C18.7630163,4.41079842 18.6077638,4.37882936 18.4578708,4.40699472 C18.3079779,4.43516008 18.1762238,4.52105859 18.0926525,4.64510281 C17.920566,4.9033872 17.9950055,5.24805201 18.2594664,5.41747204 L18.3236255,5.41747204 L18.3236255,5.41747204 C18.8319494,5.74209549 19.4361771,5.89531304 20.043091,5.85348693 L20.043091,7.19890431 C19.7004745,7.43374717 19.2762072,7.52776618 18.8625625,7.46051324 L18.7727396,7.46051324 C18.6188666,7.42306956 18.4558668,7.45019738 18.3236255,7.53525865 C18.1918865,7.62105127 18.1034008,7.7566904 18.0798207,7.9089857 C18.0542499,8.06176499 18.094883,8.21800964 18.1920912,8.34069439 C18.2892993,8.46337913 18.4344308,8.54158489 18.593094,8.55677926 L18.6829168,8.55677926 C19.175415,8.6383045 19.6815271,8.5865834 20.1457457,8.40728844 C20.2572563,8.89160532 20.4762059,9.34649135 20.7873373,9.74024824 C20.6549621,10.1406238 20.3576422,10.469863 19.9661,10.6496507 L19.889109,10.6496507 C19.7522941,10.7116944 19.6467808,10.8243597 19.5961451,10.9624726 C19.5455094,11.1005855 19.5539715,11.252635 19.6196405,11.3846473 C19.7580888,11.663015 20.1025127,11.7800474 20.3895505,11.6462562 L20.4665415,11.6462562 C20.9783319,11.4085041 21.4002583,11.0206722 21.6727337,10.5375326 C22.0628177,10.7809189 22.4991015,10.9461069 22.9559169,11.0233778 C22.890923,11.6097767 23.0261764,12.200665 23.3408718,12.7051495 C23.4167264,12.840579 23.5466788,12.9397063 23.7001631,12.979216 C23.8501224,13.0204891 24.0109854,12.9997404 24.1446419,12.9218855 C24.2782985,12.8440306 24.3728564,12.7159966 24.4059139,12.5681163 C24.4355269,12.4209499 24.403176,12.2684 24.3160911,12.1445589 C24.1051319,11.8183226 24.0273317,11.4273383 24.0979499,11.0482929 C24.6118556,10.998612 25.1075431,10.8367825 25.5479469,10.5749053 C25.8411103,11.0752626 26.2904574,11.472242 26.8311301,11.708544 C26.9784046,11.7709451 27.1458017,11.7709451 27.2930761,11.708544 C27.4473217,11.6616256 27.5734569,11.5527757 27.6395356,11.4095624 C27.7054104,11.2669115 27.7054104,11.1037408 27.6395356,10.9610899 C27.577921,10.8166558 27.4569822,10.7037603 27.3059079,10.6496507 C26.898179,10.4675545 26.5867594,10.129118 26.4461752,9.71533311 L26.4461752,9.71533311 L26.4461752,9.71533311 C26.7324612,9.3164142 26.9251852,8.86141408 27.0107758,8.3823733 C27.5138968,8.55512941 28.0581055,8.58111314 28.5762593,8.45711871 C28.8702924,8.38351684 29.0517035,8.09732202 28.9868779,7.80932516 C28.9053455,7.51006479 28.5893983,7.33160253 28.2811272,7.41068297 C27.8453809,7.52663076 27.3794722,7.4587828 26.997944,7.22381945 L26.997944,5.72891125 C27.6111522,5.68419789 28.1904158,5.43816173 28.6404185,5.03128742 C28.7512037,4.93114375 28.815928,4.7920058 28.8200641,4.64510281 C28.8247314,4.4977339 28.7694099,4.35451258 28.6660821,4.24646062 C28.4415513,4.03279552 28.0822076,4.03279552 27.8576767,4.24646062 C27.5962789,4.47913599 27.2617826,4.61956414 26.9081211,4.64510281 C26.7903311,4.134615 26.5532546,3.65724251 26.2152022,3.24985516 C26.7378228,2.91401248 27.123517,2.41181599 27.3059079,1.82969237 C27.3742578,1.6132085 27.3017527,1.37806105 27.1221228,1.2336438 C26.9424929,1.08922656 26.6910113,1.06389797 26.4846707,1.16944125 L26.4975025,1.14452611 Z M14.4752464,56 C14.1510572,54.712273 13.3328804,53.5966333 12.1909187,52.8851639 L7.20113034,49.4325744 C6.28214476,48.8751455 5.63991094,47.9693319 5.42726694,46.930698 L0.322624077,29.0422817 C-0.179719846,27.5988999 -0.092830209,26.0209707 0.565094613,24.6389792 L8.22205891,6 C9.53136295,6.13427817 10.6784534,6.91853672 11.2593214,8.07655742 C12.3185348,10.1656242 12.3057732,14.8316237 6.88209016,24.4388291 C6.07127093,25.7380092 5.95238021,27.3416123 6.56304998,28.7420565 C7.45636248,31.9569677 8.31139016,34.9967476 9.42164998,37.9864899 C9.85054664,39.1257807 10.6369038,40.1024386 11.6676928,40.7760821 C11.9481529,40.9791845 12.3420798,40.9295378 12.5610053,40.6634976 C12.7405268,40.3935916 12.7405268,40.0452375 12.5610053,39.7753315 C12.4689625,39.6281758 12.352508,39.4971114 12.216442,39.3875407 C11.558694,38.8411203 11.0610025,38.133083 10.7743803,37.336002 C9.84278302,34.3087315 8.96223212,31.4190643 8.05615802,28.2917188 C7.65469698,27.107452 7.79911637,25.8105336 8.45176784,24.7390543 C8.96827531,23.7190117 9.56565088,22.7402753 10.2383928,21.8118589 C11.5145536,19.5351514 12.3695812,21.6492369 12.7907143,23.0627971 C13.4449473,25.2111896 13.8977363,27.4136404 14.1434446,29.642732 C14.2400868,31.1011235 14.8436253,32.4830184 15.8535,33.5581686 L21.3027062,38.8621466 C22.260794,39.7281294 22.8641874,40.9066176 23,42.1771328 L14.4752464,56 Z M35,42.2056028 C35.1550825,40.9497594 35.7692075,39.7907278 36.7295344,38.9414707 L42.1999877,33.6388194 C43.2138,32.5639381 43.8196918,31.1823889 43.9167108,29.7243622 C44.1550057,27.4966115 44.6009809,25.294725 45.2490929,23.146073 C45.7231134,21.6828414 46.5302295,19.5692846 47.8113661,21.8954477 C48.4646975,22.825707 49.0429514,23.804143 49.5409005,24.821911 C50.2023893,25.8704326 50.3703783,27.1458959 50.0021097,28.3236618 C49.1181254,31.4502251 48.2085184,34.3391696 47.1836091,37.3281641 C46.8958694,38.1250457 46.3962374,38.8329059 45.7359248,39.3791896 C45.5993282,39.4887329 45.4824196,39.6197645 45.3900179,39.7668834 C45.2097964,40.036722 45.2097964,40.3849889 45.3900179,40.6548274 C45.609797,40.9208011 46.0052599,40.9704354 46.2868135,40.7673837 C47.3216218,40.0939088 48.111045,39.1174951 48.541614,37.9784892 C49.6562028,34.9394697 50.5145643,31.9504752 51.41136,28.7363682 C52.0244108,27.3362743 51.9050565,25.7330722 51.0910758,24.4342171 C45.6462452,14.8294147 45.6334339,10.1645823 46.6967772,8.07603802 C47.2799102,6.91830697 48.4314732,6.13424458 49.7458824,6 L57.432702,24.6343172 C58.0931922,26.0159629 58.1804206,27.5934975 57.676118,29.0365183 L52.5515715,46.9204602 C52.3380984,47.9588343 51.6933605,48.8644214 50.7707917,49.4217109 L45.7743589,52.885943 C44.6279446,53.5972344 43.8065776,54.7125951 43.4811244,56 L35,42.2056028 Z" id="Shape"></path>
          </g>
      </g>
  </svg>',
  report_label: '<?xml version="1.0" encoding="UTF-8"?>
  <svg width="58px" height="58px" viewBox="0 0 58 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>fsa-report</title>
      <g id="--contact-promo-links" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="fsa-report" fill="#FFFFFF" fill-rule="nonzero">
              <path d="M45.3586417,12.6413583 L45.3586417,12.6413583 C44.8804528,12.153508 44.8804528,11.3727425 45.3586417,10.8848922 L55.8848922,0.35864172 C56.3727425,-0.11954724 57.153508,-0.11954724 57.6413583,0.35864172 L57.6413583,0.35864172 C58.1195472,0.846492039 58.1195472,1.62725751 57.6413583,2.11510783 L47.1151078,12.6413583 C46.6272575,13.1195472 45.846492,13.1195472 45.3586417,12.6413583 L45.3586417,12.6413583 Z M54.0737949,7.4760403 L49.0243995,12.5289596 C49.1262003,14.1031372 48.2429018,15.5757914 46.8067747,16.2262313 C45.3706476,16.8766712 43.6820739,16.5688501 42.5674118,15.45341 C41.4527497,14.33797 41.1451432,12.6482179 41.7951295,11.2110885 C42.4451158,9.77395918 43.916743,8.89004424 45.4898227,8.9919161 L50.5392181,3.93899679 C44.8164794,-0.416875298 36.7591349,0.12245364 31.6671029,5.20222662 L0.360851453,36.4545325 C-0.120283818,36.9457312 -0.120283818,37.7318556 0.360851453,38.2230543 L19.7631532,57.6388967 C20.2540094,58.1203678 21.0395855,58.1203678 21.5304416,57.6388967 L52.8493165,26.2981647 C57.8779135,21.2017479 58.3996492,13.1818632 54.0737949,7.4760403 Z M29.9992683,41.018487 C29.9998232,41.5416473 29.7878955,42.0443334 29.408644,42.4194293 C29.0377816,42.7900878 28.5260434,42.9996825 27.9911457,43 C27.166159,42.9851843 26.4357856,42.4835174 26.153648,41.7378898 C25.8425607,40.9993224 26.0122263,40.1538987 26.5867724,39.5796814 C27.1495229,39.014815 28.0171432,38.8439319 28.7655198,39.150564 C29.533684,39.4738319 30.0215411,40.2124584 29.9992683,41.018487 Z M33.995903,27.5406501 C34.0465765,28.9802967 33.6261092,30.3986958 32.7943859,31.5938329 C31.9760605,32.7696614 30.7841811,33.6560782 29.3987939,34.1191804 C29.3987939,34.1191804 29.2028944,34.1823141 29.2028944,34.3085814 L29.2028944,35.8742969 C29.2900915,36.6031823 28.936936,37.3157734 28.2947377,37.70676 C27.6525394,38.0977467 26.8352587,38.0977467 26.1930604,37.70676 C25.5508621,37.3157734 25.1977066,36.6031823 25.2849037,35.8742969 L25.2849037,34.3085814 C25.292396,33.4394843 25.5749695,32.5934461 26.0946218,31.8842478 C26.6064715,31.1878374 27.3334629,30.6662067 28.1711568,30.3942928 C29.3575081,29.9816375 30.1295344,28.8722381 30.0779123,27.6542907 C30.0169087,26.170364 28.7792392,24.9847798 27.243899,24.9395421 C26.1596002,24.9546279 25.1821988,25.5747701 24.736385,26.5305111 C24.5206924,26.9913028 24.1221859,27.3487219 23.6307605,27.522142 C23.1393352,27.6955621 22.596386,27.6703752 22.1243912,27.4522629 C21.1329882,26.9620976 20.7226455,25.7998444 21.1971334,24.8259015 C21.7027741,23.7092442 22.5159548,22.7483263 23.5479278,22.0480192 C24.6095828,21.3689215 25.85339,21.0046463 27.1263593,21 L27.1263593,21 C28.8937824,21.0163685 30.5832111,21.7060205 31.8279482,22.9192641 C33.1320274,24.1372169 33.9072428,25.7897282 33.995903,27.5406501 L33.995903,27.5406501 Z" id="Shape"></path>
          </g>
      </g>
  </svg>',
  food_crime: '<?xml version="1.0" encoding="UTF-8"?>
  <svg width="68px" height="68px" viewBox="0 0 68 68" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>fsa-food-crime</title>
      <g id="--contact-promo-links" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="fsa-food-crime" fill="#FFFFFF" fill-rule="nonzero">
              <path d="M68,34 C68,52.7776815 52.7776815,68 34,68 C15.2223185,68 0,52.7776815 0,34 C0,15.2223185 15.2223185,0 34,0 C52.7776815,0 68,15.2223185 68,34 Z M24.446,21 L20.554,21 C19.6934898,21.0082254 19,21.7573569 19,22.6786012 L19,37.3213988 C18.9998636,38.2368837 19.6849717,38.9836521 20.54,39 L24.432,39 C25.2925445,39 25.9923166,38.2575939 26,37.3363863 L26,22.6786012 C26,21.7573569 25.3065102,21.0082254 24.446,21 Z M49.826301,34.3614008 C49.222969,31.1336467 48.3179708,26.8549959 47.7598886,24.002562 C47.2018064,21.1501281 45.4219768,21 42.5259827,21 C37.9865556,21.2628263 33.492463,22.043602 29.1320102,23.3269855 C28.448435,23.5022842 27.9784383,24.1260177 28.0007625,24.8282665 C28.0007625,27.4254826 28.0007625,33.5507091 28.0007625,36.0278227 C27.9851055,36.6093014 28.3083358,37.1474507 28.8303441,37.4090012 C33.3553348,39.5258074 36.2965788,47.6777632 37.1261604,49.824595 C37.9557421,51.9714269 42.1187335,51.0406326 41.6511512,48.1431603 C41.3494851,46.6418793 40.6858198,43.2339715 40.0523211,40.5016401 C39.968053,40.1484795 40.0600079,39.7765437 40.2993085,39.502634 C40.5386092,39.2287244 40.8959025,39.0864394 41.2589853,39.1204616 C42.8210947,39.2963745 44.3952757,39.3415713 45.9649756,39.2555769 L45.9649756,39.2555769 C48.9967194,39.0453975 50.4899664,37.904424 49.8564677,34.3764136 L49.826301,34.3614008 Z M33.5,4 C17.2075999,4 4,17.2075999 4,33.5 C4,49.7924001 17.2075999,63 33.5,63 C49.7924001,63 63,49.7924001 63,33.5 C63,25.6761135 59.8919732,18.1726731 54.35965,12.64035 C48.8273269,7.10802679 41.3238865,4 33.5,4 Z M33.5,60 C18.8644541,60 7,48.1355459 7,33.5 C7,18.8644541 18.8644541,7 33.5,7 C48.1355459,7 60,18.8644541 60,33.5 C60,48.1355459 48.1355459,60 33.5,60 L33.5,60 Z" id="Shape"></path>
          </g>
      </g>
  </svg>',
} %}

{% block content %}
  {% include '../../components/contact/PromoLinks/promoLinks.html.twig' with {
    links: [
    {
      href: '#',
      title: 'Suspected food poisoning',
      description:
        'Report suspected food poisoning from a restaurant, takeaway or food shop.',
      svg: promo_svgs.food_poison,
    },
    {
      href: '#',
      title: 'Food product',
      description:
        "Report a problem with food that you've bought to the local authority.",
      svg: promo_svgs.food_product,
    },
    {
      href: '#',
      title: 'Poor food safety and hygiene practices',
      description:
        'Report suspected food poisoning from a restaurant, takeaway or food shop.',
      svg: promo_svgs.poor_food,
    },
    {
      href: '#',
      title: 'Report a product labelling issue',
      description:
        'Report suspected food poisoning from a restaurant, takeaway or food shop.',
      svg: promo_svgs.report_label,
    },
    {
      href: '#',
      title: 'Report a food crime',
      description:
        'Report suspected food poisoning from a restaurant, takeaway or food shop.',
      svg: promo_svgs.food_crime,
    },
  ],
  } %}
{% endblock %}
