<div class="multistep-function">
  <div class="multistep-function__container">
    
    {% if prev_label %}
      <input type="submit" class="multistep-function__previous" value="{{ prev_label }}" />
    {% endif %}

    {% include '@components/components/general/Button/button.html.twig' with { 
      type: 'primary',
      label: next_label,
      element: 'input'
    } %}
   
  </div>
</div>