@import "src/lib.scss";

.multistep-function {
   margin-top: 2rem;

   &__container {
      @include grid-container();
   }
   
   &__previous {
      @include link;
      position: relative;

     &:before {
        position: absolute;
        content: "";
        width: 1.6rem;
        height: 0.95rem;
        background-image: url('./previous-arrow.svg');
        top: 0.2rem;
        left: -2.3rem;
     }
   }

   &__next {
      float: right;
   }
}