<div class="search-header">
  <div class="search-header__wrapper">
    <h1 class="search-header__title">{{ header_text }}</h1>
    {% include '../../SearchBar/react/searchBar.html.twig' with {
      search_link: search_link,
      search_text: search_text,
      defaultValue: defaultValue,
    } %}
  </div>
</div>