<div class="search-header">
  <div class="search-header__container">
    <div class="search-header__grid">
      <div class="search-header__wrapper">
        <h1 class="search-header__title">{{ headerText }}</h1>
        {% include '../SearchBar/searchBar.html.twig' with {
          searchLink: searchLink,
          searchText: searchText,
        } %}
      </div>
    </div>
  </div>
</div>