<form class="search-bar" action="{{ searchLink }}">
  <label class="search-bar__label" for="search">{{ searchText }}</label>
  <input class="search-bar__box" defaultValue="{{ defaultValue }}" name="keywords" type="search" id="search">
  <button class="search-bar__submit" aria-label="search">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg aria-hidden="true" width="22px" height="20px" viewBox="0 0 22 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>{{ searchText }}</title>
      <defs>
        <polygon id="path-1" points="0.5 0 20.5 0 20.5 19 0.5 19"></polygon>
      </defs>
      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="page-search/desktop" transform="translate(-813.000000, -23.000000)">
          <g id="search-svg" transform="translate(813.500000, 23.620000)">
            <mask id="mask-2" fill="white">
              <use xlink:href="#path-1"></use>
            </mask>
            <g id="Clip-2"></g>
            <path d="M3.08658597,7.94676806 C3.08658597,4.9199193 5.67886242,2.45725667 8.86501901,2.45725667 C12.0516929,2.45725667 14.6439694,4.9199193 14.6439694,7.94676806 C14.6439694,10.9736168 12.0516929,13.4362795 8.86501901,13.4362795 C5.67886242,13.4362795 3.08658597,10.9736168 3.08658597,7.94676806 M20.1213238,16.9024857 L15.6149737,12.6214531 C16.6258115,11.3078037 17.2305553,9.69486045 17.2305553,7.94676806 C17.2305553,3.56449652 13.4779364,0 8.86501901,0 C4.25261892,0 0.5,3.56449652 0.5,7.94676806 C0.5,12.3290396 4.25261892,15.8935361 8.86501901,15.8935361 C10.7056336,15.8935361 12.4034686,15.319521 13.7862575,14.3592251 L18.2926075,18.6397662 C18.544541,18.8800859 18.875624,19 19.206707,19 C19.53779,19 19.868873,18.8800859 20.1213238,18.6397662 C20.6262254,18.1601097 20.6262254,17.3821422 20.1213238,16.9024857" id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
          </g>
        </g>
      </g>
    </svg>
  </button>
</form>

