{% extends '@components/layout/fhrsLayout/fhrsLayout.html.twig' %}

{% set header_data = {
  english: true,
  english_link: '#',
  english_label: 'English',
  welsh_link: '#',
  welsh_label: 'Cymraeg',
  logo_link: '#',
  logo_label: 'Food Standards Agency - Frontpage',
  contact_link: '#',
  contact_label: 'Contact',
  search_label: 'Search Food Standards Agency',
  search_link: '#',
  search_bar_visible: false,
  menu_label: 'menu',
  navigation: navigation_content,
}
%}
{% block top %}
  {% include '@components/components/general/Header/header.html.twig' with header_data %}
  {% include '@components/components/general/Hero/hero.html.twig' with {
    type: 'hero--with-image',
    background_colour: 'green',
    title: 'Food hygiene ratings',
    content: 'Use our online service to find a food business’s hygiene rating.',
    image: {
      alt: 'Alt text',
      url: 'https://www.food.gov.uk/sites/default/files/styles/promo_large/public/media/image/fhrs-5_0.jpg',
    },
    mini: true,
  } %}
{% endblock %}
{% block content %}
  {% include '@components/components/fhrs/RatingsSearchBox/ratingsSearchBox.html.twig' with search_content %}
{% endblock %}
{% block footer %}
  {% include '@components/components/landing/PromoGroup/promoGroup.html.twig' with {
    title: 'About food food hygiene ratings',
    description:
    'The information on businesses is held on behalf of local authorities in England, Northern Ireland, Wales and Scotland. Any queries about individual businesses should be directed to the appropriate <a href="#">local authority</a>.',
    description_link_url: '#',
    description_link_label: 'Find out more about ratings',
    cards: [
      {
        title: 'Download data',
        description: 'Re-usable hygiene rating data',
        promo_link: '#',
      },
      {
        title: 'Food problems?',
        description: 'Consumers, businesses and enforcers can report issues',
        promo_link: '#',
      },
      {
        title: 'Be updated',
        description: 'Get email and text updates. Follow us',
        promo_link: '#',
      },
    ],
  } %}
  {% include '@components/components/general/Footer/footer.html.twig' with {
    footer_links: 'Footer links',
    new_window: 'Open in a new window',
    menu_links: [
      {
        link: { label: 'Copyright', href: '#', external: false },
      },
      {
        link: { label: 'Accessibility', href: '#', external: false },
      },
      {
        link: { label: 'Freedom of information', href: '#', external: false },
      },
      {
        link: { label: 'Terms and conditions', href: '#', external: false },
      },
      {
        link: { label: 'Privacy', href: '#', external: false },
      },
      {
        link: {
        label: 'Personal information charter',
        href: '#',
        external: false,
      },
      },
      {
        link: { label: 'Feedback and complaints', href: '#', external: false },
      },
      {
        link: { label: 'Cookies', href: '#', external: false },
      },
      {
        link: { label: 'Data', href: '#', external: false },
      },
      {
        link: { label: 'GOV.UK', href: '#', external: true },
      },
    ],
    social_media: 'Food Standards Agency on social media',
    social_links: [
      { label: 'Facebook', external: true, href: '#', svg: social_svg.facebook },
      { label: 'Twitter', external: true, href: '#', svg: social_svg.twitter },
      { label: 'LinkedIn', external: true, href: '#', svg: social_svg.linkedin },
      { label: 'Youtube', external: true, href: '#', svg: social_svg.youtube },
      { label: 'Instagram', external: true, href: '#', svg: social_svg.instagram },
      { label: 'FSA blog', external: false, href: '#', svg: social_svg.blog },
    ],
  } %}
{% endblock %}