{% extends '@components/layout/fhrsLayout/fhrsLayout.html.twig' %}

{% block top %}
  {% include '@components/components/general/SkipToMainContent/skipToMainContent.html.twig' with {
    link_text: 'Skip to main content',
    href: '#main-content',
  } %}

  {% include '@components/components/general/Header/header.html.twig' with {
    english: true,
    english_link: '#',
    english_label: 'English',
    welsh_link: '#',
    welsh_label: 'Cymraeg',
    logo_link: '#',
    logo_label: 'Food Standards Agency - Frontpage',
    contact_link: '#',
    contact_label: 'Contact',
    report_link: '#',
    report_label: 'Report',
    ratings_link: '#',
    ratings_label: 'Food hygiene ratings',
    search_label: 'Search Food Standards Agency',
    search_link: '#',
    search_bar_visible: true,
    menu_label: 'menu',
    navigation: navigation_content,
    temporary_message: {
      message: '<p><a href="#" class="external-link">Coronavirus (COVID 19):</a> Guidance and support</p>',
    }
  } %}
{% endblock %}
{% block content %}
  {% include '@components/components/fhrs/BusinessHero/businessHero.html.twig' with {
    name: "UK food hygiene rating data API",
  } %}
  {% include '@components/components/article/TextBlock/textBlock.html.twig' with {
    content: "<p>The food hygiene rating data published at <a href='#'>www.food.gov.uk/ratings</a>
    are available via an application programming interface (API) in XML and JSON formats. This is a free service and
    there is no need to register to use it. Terms and conditions apply (see link below), and guidance for developers
    is available.</p>",
  } %}
  {% include '@components/components/form/TitleAndText/titleAndText.html.twig' with {
    title: "Terms and conditions",
    tag: "h2",
    description: "<p><a href='#'>Read the terms and conditions of using the data and images. </a></p>",
  } %}
  {% include '@components/components/form/TitleAndText/titleAndText.html.twig' with {
    title: "About the data",
    tag: "h2",
    description: "<p>The data provide the food hygiene rating or inspection result given to a business and reflect the
     standards of food hygiene found on the date of inspection or visit by the local authority. Businesses include
     restaurants, pubs, cafés, takeaways, hotels and other places consumers eat, as well as supermarkets and other food
     shops.</p>
     <p>The data are held on behalf of local authorities participating in either the Food Standards Agency's:</p>
        <ul>
            <li>national Food Hygiene Rating Scheme (FHRS) in England, Northern Ireland and Wales, or </li>
            <li>the Food Hygiene Information Scheme (FHIS) in Scotland</li>
        </ul>
     <p>Data are only available for local authority areas running either of these schemes. <a href='#'>See a list of
     local authorities running the FHRS or FHIS</a></p>",
  } %}
  {% include '@components/components/form/TitleAndText/titleAndText.html.twig' with {
    title: "System status",
    tag: "h2",
    description: "<p>Status updates, usage advice and various other pieces of current information can be found at the <a href='#'>System Status Page.</a></p>",
  } %}
  {% include '@components/components/form/TitleAndText/titleAndText.html.twig' with {
    title: "API guidance for developers",
    tag: "h2",
    description: "<p>The API allows developers access to the underlying food hygiene rating data published at <a href='#'>www.food.gov.uk/ratings</a>.
    Developers can query XML files to return the geocoded data (longitude and latitude data are provided for food businesses).
    The XML data are updated daily and can be found below, grouped by local authority. Wales’s local authority data can be output in English or Welsh.</p>
    <p>The API can also be used to query the live system (the data are automatically updated as local authorities upload and publish data)
    and return data in XML and JSON formats.</p>
    <p>Examples of how to use the API and information about the API can be found in the guidance document for developers:</p>
    <ul><li><a href='#'>Read the API V1 guidance for developers (pdf 538KB, updated March 2013)</a></li>
    <li><a href='#'>Read the API V2 guidance for developers</a></li></ul>",
  } %}
  {% include '@components/components/fhrs/ImageSection/imageSection.html.twig' with {
    title: 'Images',
    description: '<p>A set of hygiene rating images is available to be used with the API data. The images must only be used in accordance with the <a href="#">FHRS/FHIS Brand Standard and the terms and conditions</a>.</p><p>Examples of hygiene rating images, and the sizes available, that can be used with the API data:</p>',
    welsh: false,
    download_link: '#',
    download_text: 'Download new high resolution FHRS badges',
    filesize: '2 MB',
    file_format: 'ZIP',
    fhrs_badges: [
      {
        class_name: 'image-section',
        rating: 5,
        version: 3,
      },
      {
        class_name: 'image-section',
        rating: 5,
        version: 1,
      },
      {
        class_name: 'image-section',
        rating: 5,
        version: 2,
      },
      {
        class_name: 'image-section',
        rating: 5,
        version: 4,
      },
      {
        class_name: 'image-section',
        rating: 5,
        version: 5,
      },
    ],
    fhis_badges: [
      {
        class_name: 'image-section',
        rating: 'Pass',
        version: 1,
      },
      {
        class_name: 'image-section',
        rating: 'Pass',
        version: 2,
      },
      {
        class_name: 'image-section',
        rating: 'Pass',
        version: 3,
      },
    ],
  } %}
  {% include '@components/components/form/TitleAndText/titleAndText.html.twig' with {
    title: "Legacy online rating images",
    tag: "h2",
    description: "<p>The previous version of the online ratings has now been retired. Please use the images provided above.</p>",
  } %}
  {% include '@components/components/form/TitleAndText/titleAndText.html.twig' with {
    title: "Score descriptors",
    tag: "h2",
    description: "<ul><li><a href='#'>English language</a></li>
    <li><a href='#'>Welsh language</a></li></ul>",
  } %}
  {% include '@components/components/form/TitleAndText/titleAndText.html.twig' with {
    title: "Downloadable XML data files (updated daily)",
    tag: "h2",
    description: "<p>Food hygiene rating data, grouped by local authority, can be downloaded in XML format via the
    links below. The data, which can also be queried by the API, is updated daily.</p>",
  } %}
  {% include '@components/components/form/TitleAndText/titleAndText.html.twig' with {
    title: "East Counties",
    tag: "h2",
    description: "<table>
  <tr>
    <th>Local authority</th>
    <th>Last update</th>
    <th>Number of businesses</th>
  </tr>
  <tr>
    <td><a href='#'>Babergh (English language)</a></td>
    <td>11/06/2022 at 12:00</td>
    <td>950</td>
  </tr>
  <tr>
    <td><a href='#'>Basildon (English language)</a></td>
    <td>08/06/2022 at 01:45	</td>
    <td>1,369</td>
  </tr>
  <tr>
    <td><a href='#'>Bedford (English language)</a></td>
    <td>12/06/2022 at 12:00</td>
    <td>1,571</td>
  </tr>
</table>",
  } %}
{% endblock %}
{% block footer %}
  {% include '@components/components/general/Footer/footer.html.twig' with {
    footer_links: 'Footer links',
    new_window: 'Open in a new window',
    menu_links: [
      {
        link: { label: 'Copyright', href: '#', external: false },
      },
      {
        link: { label: 'Accessibility', href: '#', external: false },
      },
      {
        link: { label: 'Freedom of information', href: '#', external: false },
      },
      {
        link: { label: 'Terms and conditions', href: '#', external: false },
      },
      {
        link: { label: 'Privacy', href: '#', external: false },
      },
      {
        link: {
        label: 'Personal information charter',
        href: '#',
        external: false,
      },
      },
      {
        link: { label: 'Feedback and complaints', href: '#', external: false },
      },
      {
        link: { label: 'Cookies', href: '#', external: false },
      },
      {
        link: { label: 'Data', href: '#', external: false },
      },
      {
        link: { label: 'GOV.UK', href: '#', external: true },
      },
    ],
    social_media: 'Food Standards Agency on social media',
    social_links: [
      { label: 'Facebook', external: true, href: '#', svg: social_svg.facebook },
      { label: 'Twitter', external: true, href: '#', svg: social_svg.twitter },
      { label: 'LinkedIn', external: true, href: '#', svg: social_svg.linkedin },
      { label: 'Youtube', external: true, href: '#', svg: social_svg.youtube },
      { label: 'Instagram', external: true, href: '#', svg: social_svg.instagram },
      { label: 'FSA blog', external: false, href: '#', svg: social_svg.blog },
    ],
  } %}
{% endblock %}