@import "src/lib.scss";
@include rating-badges("business-hero");

.business-hero {
  margin-top: 3rem;

  &__title {
    @include h1;

    color: var(--fsa-primary_dark-green);
    margin: 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--fsa__grey-hover);
  }

  &__prefix,
  &__description {
    @include intro;

    color: var(--fsa-tertiary_light-black);
    display: block;
  }

  &__description {
    margin-top: 1rem;
  }

  &__prefix {
    margin-bottom: 0.5rem;
  }

  &__content {
    margin-top: 2rem;
    width: 100%;

    @media screen and (min-width: $fsa-md) {
      display: flex;
      justify-content: flex-start;
    }
  }

  &__left {
    @media screen and (min-width: $fsa-md) {
      width: 50%;
      display: inline-block;
    }

    @media screen and (min-width: $fsa-lg) and (max-width: $fsa-xl-minus) {
      width: 55%;
    }
  }

  &__right {
    margin-top: 1rem;

    @media screen and (min-width: $fsa-md) {
      margin-top: 0;
      display: inline-block;
    }
  }

  &__badge {
    &::before {
      width: 15rem;
      height: auto;
    }
  }

  &__link-wrapper {
    display: block;
    margin-top: 1rem;
  }

  &__link {
    @include link;

    border: none;
    padding-left: 2.25rem;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 1.56rem auto;

    &--back {
      background-image: svg-load("./assets/arrow-back.svg");

      &:hover {
        background-image: svg-load("./assets/arrow-back-hover.svg");
      }
    }

    &--forward {
      background-image: svg-load("./assets/arrow-forward.svg");

      &:hover {
        background-image: svg-load("./assets/arrow-forward-hover.svg");
      }
    }
  }

  &__block:not(:first-child) {
    margin-top: 1rem;
  }

  &__subtitle {
    @include h4;

    color: var(--fsa-primary_black);
    margin: 0;
  }

  &__text {
    margin-top: 0.5rem;

    @include body;
  }

  &__map {
    width: 100%;
    margin-top: 0.5rem;

    @include reset-button;

    @media screen and (min-width: $fsa-md) {
      margin-top: 1.5rem;
    }

    &__wrapper {
      display: none;
      width: 100%;
      height: 25rem;
      margin-top: 1rem;

      &--open {
        display: block;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: var(--fsa-primary_dark-green);
      width: 14rem;

      &:hover {
        color: var(--fsa__link-green);

        .business-hero__map__pin {
          background-image: svg-load("./assets/map-icon-hover.svg");
        }

        .business-hero__map__arrow {
          background-image: svg-load("./assets/arrow-hover.svg");
        }
      }

      &:focus-visible {
        color: var(--fsa-primary_black);
        outline: none;
        text-decoration: none;
        background-color: var(--fsa-tertiary_light-yellow);
        border-bottom: 0.25rem solid var(--fsa-primary_black);
        margin-bottom: -0.25rem;

        .business-hero__map__pin {
          background-image: svg-load("./assets/map-icon-focus.svg");
        }

        .business-hero__map__arrow {
          background-image: svg-load("./assets/arrow-focus.svg");
        }
      }
    }

    &__button-label {
      @include h5;

      margin-left: 1rem;
    }

    &__pin {
      display: inline-block;
      background-image: svg-load("./assets/map-icon.svg");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      width: 1.563rem;
      height: 1.875rem;
    }

    &__arrow {
      display: inline-block;
      background-image: svg-load("./assets/arrow.svg");
      background-repeat: no-repeat;
      background-position: bottom;
      width: 0.875rem;
      height: 0.625rem;
      margin-left: auto;

      &--open {
        transform: rotate(180deg);
      }
    }
  }
}
