@import "src/lib.scss";

.foot-notes {
  border-top: 1px var(--fsa__grey-hover) solid;
  margin-top: 3rem;

  &__link-list {
    padding-left: 1rem;
  }

  &__link-list__item {
    padding-left: 0.5rem;
    margin-top: 0.5rem;

    &-link {
      color: var(--fsa-primary_dark-green);
      text-decoration: underline;
      margin-right: 0.6rem;

      &:hover {
        color: var(--fsa__link-green);

        &::after {
          background-image: url("./assets/arrow-up-hover.svg");
        }
      }

      &::after {
        content: "";
        background-image: url("./assets/arrow-up.svg");
        display: inline-block;
        width: 1rem;
        height: 1.1rem;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        left: 0.25rem;
        top: 4px;
      }
    }
  }
}
