<blockquote class="quote-block">
  <div class="quote-block__wrapper">
    <div class="quote-block__quote">
      {{ quote|raw }}
    </div>
    {% if author %}
      <div class="quote-block__author">
        {{ author|raw }}
      </div>
    {% endif %}
  </div>
</blockquote>