<blockquote class="quote-block">
  <div class="quote-block__wrapper">
    <div class="quote-block__quote">
      <p>{{ quote }}</p>
    </div>
    {% if author %}
      <div class="quote-block__author">
        {{ author }}
      </div>
    {% endif %}
  </div>
</blockquote>