@import "src/lib.scss";

.quote-block {
  display: flex;
  margin: 3rem -1rem 0;
  padding: 1rem;
  background-color: var(--fsa_online-grey);

  @media screen and (min-width: $fsa-md) {
    margin: 3rem 0 0;
  }

  &::before {
    content: "";
    background-image: url("./assets/quotes.svg");
    display: block;
    min-width: 2rem;
    width: 2rem;
    height: 1.625rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__quote {
    p {
      @include body;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__author {
    @include body;

    font-weight: bold;
    margin-top: 1rem;
  }
}
