@import 'src/lib.scss';

.datepicker {
  .accordion__fields {
    display: flex;
    flex-direction: column;
  }
  .accordion__field {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    .select {
      padding: 0 0.563rem;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    &__apply-wrapper {
      display: flex;
      justify-content: flex-end;
    }
    &__apply-button {
      @include link();
      margin-top: 0.575rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}