<div class="datepicker" data-type="{{ type }}">
  <div class="datepicker__label">
    {{ label }}
  </div>
  <div class="datepicker__select-wrapper">
    {% for select in selects %}
      {% include "@components/components/form/Select/select.html.twig" with {
        label: select.label,
        accessibleLabel: select.accessibleLabel,
        options: select.options,
      } %}
    {% endfor %}
  </div>
  <div class="datepicker__apply-wrapper">
    <a href="{{ applyLink }}" class="datepicker__apply-button">
      {{ applyLabel }}
    </a>
  </div>
</div>