@import "src/lib.scss";

.largePromoGroup {
  @include landing-margin-top;

  &__container {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: $fsa-md) {
      max-width: calc(1300px + (2 * #{$container}));
    }

    @media screen and (min-width: $fsa-xl) {
      padding-left: var(--container);
      padding-right: var(--container);
    }
  }

  &__row {
    display: flex;
    flex-direction: column;

    &--even {
      background-color: var(--fsa__purple-hover);
      color: var(--fsa-primary_white);

      @media screen and (min-width: $fsa-lg) {
        flex-direction: row;
      }
    }

    &--odd {
      background-color: var(--fsa_online-grey);

      @media screen and (min-width: $fsa-lg) {
        flex-direction: row-reverse;
      }
    }
  }

  &__content,
  &__background-image {
    @include grid-cols(12, 12);

    @media screen and (min-width: $fsa-lg) {
      @include grid-cols(6, 12);
    }
  }

  &__content {
    padding: 1rem;

    @media screen and (min-width: $fsa-md) {
      padding: 2rem;
    }

    @media screen and (min-width: $fsa-xl) {
      padding: 3rem;
    }
  }

  &__background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex: 0 0 50%;
    height: 50vh;
    min-height: 15rem;

    @media screen and (min-width: $fsa-xs) {
      min-height: 20rem;
    }

    @media screen and (min-width: $fsa-md) {
      min-height: 30.75rem;
    }

    @media screen and (min-width: $fsa-xl) {
      min-height: 35.5rem;
    }
  }

  &__title {
    margin: 0;
  }

  &__description,
  &__cta {
    margin-top: 1rem;

    @media screen and (min-width: $fsa-xl) {
      margin-top: 2rem;
    }
  }
}
