
<div class="largePromoGroup">
  <div class="largePromoGroup__container">
  {% for key, row in promoGroup %}
    <div class="largePromoGroup__row largePromoGroup__row--{{ key is even ? "even" : "odd" }}">
      <div style="background-image: url({{ row.image }})" class="largePromoGroup__background-image"></div>
        <div class="largePromoGroup__content">
        {% if row.title %}
          <h2 class="largePromoGroup__title">{{ row.title }}</h2>
        {% endif %}
        {% if row.description %}
          <div class="largePromoGroup__description">{{ row.description|raw }}</div>
        {% endif %}
        <div class="largePromoGroup__cta">
          {% include '@components/components/general/Button/button.html.twig' with {
            element: 'link',
            type: key is even ? "secondary" : "primary",
            url: row.cta_link,
            label:row.cta_label,
          } %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>