@import "src/lib.scss";
@import "src/components/general/ExternalLink/externalLink.scss";

.message-box {
  margin-top: 2rem;

  &__container {
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 1rem 0 rgb(41 41 41 / 15%);
    background-color: var(--fsa-primary_white);

    &--status {
      border-left: 0.25rem solid var(--fsa-primary_mid-green);

      p {
        background-image: svg-load("./assets/success.svg");
      }
    }

    &--error {
      border-left: 0.25rem solid var(--fsa-secondary_mid-red);

      p {
        background-image: svg-load("./assets/error.svg");
      }
    }

    &--warning {
      border-left: 0.25rem solid var(--fsa-secondary_mid-yellow);

      p {
        background-image: svg-load("./assets/warning.svg");
      }
    }
  }

  &__text {
    margin: 0;
    padding: 1rem 1rem 1rem 3rem;
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: left 1rem top 1.25rem;

    & a {
      @include link;
    }

    & a[target="_blank"] {
      @include extlink;
    }
  }
}
