<div class="search-filters">
  <button class="search-filters__button">{{ button_text }}</button>
  <div class="search-filters__content">
    <div class="search-filters__return-wrapper">
      <button class="search-filters__return">{{ link_text }}</button>
    </div>
    <h4 class="search-filters__title">{{ title }}</h4>
    {% for filter in checkbox_filters %}
      {% include "@components/components/search/CollapsibleCheckbox/collapsibleCheckbox.html.twig" with {
        title: filter.title,
        name: filter.name,
        fields: filter.fields,
        open: filter.open,
        selected: filter.selected,
      } %}
    {% endfor %}
  </div>
</div>
