<div class="filters-header">
  <div class="filters-header__wrapper">
    <button class="filters-header__return">{{ link_text }}</button>
  </div>
  <h4 class="filters-header__title">{{ title }}</h4>
</div>
