@import 'src/lib.scss';

.regional-variation-block {
  position: relative;
  margin-top: 2rem;
  padding: 0 0.5rem;
  @media screen and (min-width: $fsa-md) {
    padding: 0 2rem;
  }

  &--solid {
    background-color: var(--fsa_tint);
    border: 1px solid var(--fsa_border);
    padding: 1rem 0.5rem;
    @media screen and (min-width: $fsa-md) {
      padding: 1rem 2rem;
    }
  }
  &:before {
    content: '';
    height: calc(100% + 2px);
    width: 5px;
    position: absolute;
    left: -5px;
    top: -1px;
  }

  &--england:before {
    background-color: var(--fsa-secondary_mid-red);
  }

  &--wales:before {
    background-color: var(--fsa-tertiary_stripe-green);
  }

  &--northern-ireland:before {
    background-color: var(--fsa-secondary_mid-yellow);
  }

  &--multi:before {
    background-color: var(--fsa-primary_dark-grey);
  }
  &__region {
    @include body;
    font-weight: bold;
    color: var(--fsa-primary_black);
    margin: 0;

  }
  &__copy {
    @include body;
    color: var(--fsa-primary_black);
    margin-top: 0.5rem;
    .document-download {
      margin-top: 1rem;
      &:before {
        display: none;
      }
    }
    .document-download__region {
      display: none;
    }
    ul {
      list-style: disc;
    }
    ol {
      list-style: roman;
    }
    a:not(.document-download__link) {
      @include link();
    }
  }
}
