@import "src/lib.scss";

.input-field {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  &__label {
    @include h5;

    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  &__nested {
    @include body;

    font-weight: bold;
  }

  &__required {
    @include h5;

    margin-left: 1rem;
    font-weight: inherit;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }

  &__prefix {
    @include body;

    margin-right: 1.5rem;
  }

  &__input {
    background-color: var(--fsa_online-grey);
    border: solid 1px var(--fsa-primary_dark-grey);
    padding: 0.85rem 1rem;
    flex-grow: 1;
    font-size: 1rem;

    @media screen and (min-width: $fsa-xs) {
      padding: 0.75rem 1rem;
    }

    &:focus {
      border: 2px solid var(--fsa-primary_black);
      box-shadow: inset 0 0 0 2px;
      outline: 0.25rem solid var(--fsa-tertiary_light-yellow);
      outline-offset: 0;
    }
  }

  &__caption {
    @include small;

    color: var(--fsa-primary_dark-grey);
    margin-top: 0.5rem;
  }

  &--error {
    border-left: 0.25rem solid var(--fsa-secondary_mid-red);
    margin-left: -0.75rem;
    padding-left: 0.5rem;

    @media screen and (min-width: $fsa-md) {
      margin-left: -1.25rem;
      padding-left: 1rem;
    }

    .input-field__label {
      color: var(--fsa-secondary_mid-red);
    }

    .input-field__required {
      color: var(--fsa-primary_black);
    }

    .input-field__input {
      border: 0.25rem solid var(--fsa-secondary_mid-red);

      &:focus {
        border: 2px solid var(--fsa-primary_black);
        box-shadow: inset 0 0 0 2px;
        outline: 0.25rem solid var(--fsa-tertiary_light-yellow);
        outline-offset: 0;
      }
    }
  }

  &__error-message {
    margin-top: 0.5rem;
  }
}
