<div class="text-block-with-title">
  <div class="text-block-with-title__container">
      <div class="text-block-with-title__row">
        <div class="text-block-with-title__wrapper">
          {% if title %}
          <h2 class="text-block-with-title__title">{{ title }}</h2>
          {% endif %}
        </div>
        <div class="text-block-with-title__content">
          {{ content }}
        </div>
      </div>
  </div>
</div>

