<div class="national-archive-link">
  <p class="national-archive-link__content{{ alignment ? ' national-archive-link__content--' ~ alignment : ""}}">
    {% if label %}
      <span class="national-archive-link__label">{{ label }}</span>
    {% endif %}
    {% include '../../ExternalLink/externalLink.html.twig' with {
      external_link_url: link,
      external_link: link_label,
    } %}
  </p>
</div>

