@import '../../../lib.scss';

.search-no-results {
  @include grid();
  padding-bottom: 2rem;

  &__content {
    grid-column: 1 / span 4;

    @media screen and (min-width: $fsa-md) {
      grid-column: 5 / span 4;
    }

    @media screen and (min-width: $fsa-xs) {
      grid-column: 5 / span 6;

    }
  }

  &__title {
    @include h5;
    margin: 0;
  }

  &__text {
    @include body;

    a {
      color: var(--fsa-primary_dark-green);
      text-decoration: underline;

      &:hover {
        color: var(--fsa__link-green);
      }

      &:focus {
        text-decoration: none;
        background-color: var(--fsa-tertiary_light-yellow);
        border-bottom: 4px solid var(--fsa-primary_black);

      }
    }
  }
}