@import '../../../lib.scss';

.search-no-results {
  @include grid();
  padding-bottom: 2rem;
  grid-template-areas: 'content content content content';

  @media screen and (min-width: $fsa-md) {
    grid-template-areas: '. . . . content content content content . . . .';
  }

  @media screen and (min-width: $fsa-xs) {
    grid-template-areas: '. . . . content content content content content content . .';

  }

  &__content {
    grid-area: content;
  }

  &__title {
    @include h5;
    margin: 0;
  }

  &__text {
    @include body;

    a {
      color: var(--fsa-primary_dark-green);
      text-decoration: underline;

      &:hover {
        color: var(--fsa__link-green);
      }

      &:focus {
        background-color: var(--fsa-tertiary_light-yellow);
        color: var(--fsa-primary_black);
        text-decoration-thickness: 4px;
      }
    }
  }
}