@import 'src/lib.scss';

.hero {
  display: flex;
  position: relative;
  overflow: visible;

  &__mask-wrapper {
    display: flex;
    order: 2;
    width: 100%;
    height: fit-content;
    overflow: visible;
    mask: url('./hero.svg') no-repeat bottom;
    mask-size: 200%, 100%;
    mask-repeat: no-repeat;
    -webkit-mask: url('./hero.svg') no-repeat bottom;
    -webkit-mask-size: 200%, 100%;
    -webkit-mask-repeat: no-repeat;
    color: white;
    padding-bottom: 2rem;
    z-index: 1;
    @media screen and (min-width: $fsa-md) {
      background-image: url('./pattern.svg');
      background-size: 150%;
      background-position: right top;
      padding-bottom: 2.2rem;
    }
    @media screen and (min-width: $fsa-lg) {
      padding-bottom: 3.2rem;
      background-size: 90%;
    }
    @media screen and (min-width: $fsa-xl) {
      align-items: center;
    }
    @media screen and (min-width: $fsa-xxl) {
      background-size: 70%;
    }
    /* Remove background pattern in IE11 */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background-image: none;
    }
  }
  &__container {
    position: relative;
    @include grid-container;
  }

  &__row {
    @include grid-row;
    display: flex;
    flex-direction: column;
  }

  &__content-wrapper {
    @include grid-cols(4, 4);
    @media screen and (min-width: $fsa-md) {
      @include grid-cols(6);
    }
  }

  &__content {
    display: flex;
    z-index: 1;

    &:after {
      content: '';
      position: absolute;
      background-color: inherit;
      left: -48%;
      bottom: -150%;
      top: -150%;
      width: 100%;
      border-radius: 100%;
      z-index: -1;
    }
  }

  &__title {
    @include h1();
    color: inherit;
    margin: 2rem 0 0.625rem 0;
    &:after {
      content: '';
      background-image: url('./dot-white.svg');
      background-repeat: repeat-x;
      background-size: 25px 25px;
      width: 101%;
      display: block;
      padding-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }
  &__description {
    @include intro();
    margin-top: 0.625rem;
  }
  &__cta {
    margin-top: 1rem;
  }
  &__services {
    order: 3;
    z-index: 10;
    width: 100%;
    @media screen and (min-width: $fsa-xl) {
      position: absolute;
      height: 100%;
      bottom: -20rem;
    }
    // If it has an image and 4 columns, unset the height and reduce the bottom padding.
    &--with-image#{&}--4-columns {
      @media screen and (min-width: $fsa-xl) {
        position: relative;
        height: unset;
        bottom: -2rem;
      }
    }
    &__wrapper {
      &--2-columns {
        @media screen and (min-width: $fsa-xl) {
          .service-links__cards {
            width: 50%;
          }
        }
      }
    }
    // Adjustments to the existing service links component
    .service-links {
      margin-top: 0;
      &__text-wrapper {
        text-align: left;
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        flex-basis: unset;
        max-width: none;
      }
      &__cards {
        margin-top: 0;
      }
      &__card {
        @media screen and (max-width: 767px) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  &__image {
    order: 1;
    height: 13.5rem;
    overflow: hidden;
    z-index: 10;
    svg g {
      display: contents;
    }
    @media screen and (min-width: $fsa-md) {
      position: absolute;
      overflow: visible;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      &__container {
        @include grid-container;
        position: relative;
        height: 100%;
      }
      svg {
        z-index: 1;
        position: absolute;
        top: -3.611rem;
        left: 2rem;
        width: 18.667rem;
        height: 18.667rem;
        g {
          display: block;
        }
      }
    }
    @media screen and (min-width: $fsa-lg) {
      svg {
        top: -8rem;
        width: 25rem;
        height: 25rem;
      }
    }
    @media screen and (min-width: $fsa-xl) {
      svg {
        width: 33.333rem;
        height: 33.333rem;
      }
    }
  }
  &__theme {
    &--green {
      background-color: var(--fsa-primary_dark-green);
      color: var(--fsa-primary_white);
      a {
        &:hover {
          background-color: var(--fsa__link-green) !important;
        }
      }
    }
    &--blue {
      background-color: #165c7d;
      color: var(--fsa-primary_white);
    }
    &--grey {
      background-color: var(--fsa_online-grey);
      color: #101010;
      h1 {
        color: var(--fsa-primary_dark-green);
        &:after {
          background-image: url('./dot-grey.svg');
        }
      }
    }
  }
  &--with-image {
    flex-direction: column;
    @media screen and (min-width: $fsa-md) {
      flex-direction: row;
    }
    .hero__mask-wrapper {
      background-image: none;

      @media screen and (min-width: $fsa-xl) {
        min-height: 26rem;
      }
    }
    .hero__title {
      margin-top: 1rem;
    }
  }
  &--with-services {
    display: flex;
    flex-direction: column;
    .hero__mask-wrapper {
      @media screen and (min-width: $fsa-xl) {
        align-items: unset;
      }
    }
    .hero__content-wrapper {
      @media screen and (min-width: $fsa-xl) {
        margin-top: 2rem;
        padding-bottom: 10rem;
      }
    }
  }
  &--with-image#{&}--with-services#{&}--services-full {
    .hero__content-wrapper {
      @media screen and (min-width: $fsa-xl) {
        padding-bottom: 0;
      }
    }
    .hero__mask-wrapper {
      @media screen and (min-width: $fsa-xl) {
        align-items: center;
      }
    }
  }
}
