@import "src/lib.scss";

.hero {
  display: flex;
  position: relative;
  overflow: hidden;
  min-height: 29.5rem;
  &__mask-wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
    overflow: visible;
    mask: url("./hero.svg") no-repeat bottom;
    mask-size: 200%, 100%;
    mask-repeat: no-repeat;
    -webkit-mask: url("./hero.svg") no-repeat bottom;
    -webkit-mask-size: 200%, 100%;
    -webkit-mask-repeat: no-repeat;
    color: white;
    padding-bottom: 2rem;
    @media screen and (min-width: $fsa-md) {
      background-image: url("./pattern.svg");
      background-size: 90%;
      background-position: right top;
      padding-bottom: 2.2rem;
    }
    @media screen and (min-width: $fsa-lg) {
      padding-bottom: 2.6rem;
    }
    @media screen and (min-width: $fsa-xl) {
      align-items: center;
    }
    /* Remove background pattern in IE11 */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background-image: none;
    }
  }
  &__container {
    position: relative;
    @include grid-container;
  }

  &__row {
    @include grid-row;
    display: flex;
  }

  &__content-wrapper {
    @include grid-cols(4, 4);
    @media screen and (min-width: $fsa-md) {
      @include grid-cols(6);
    }
  }

  &__content {
    display: flex;
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      background-color: inherit;
      align-self: center;
      height: 58.563rem;
      width: 58.563rem;
      border-radius: 100%;
      z-index: -1;
      left: -34rem;
      @media screen and (min-width: $fsa-lg) {
        left: -30rem;
      }
      @media screen and (min-width: $fsa-xl) {
       left: -20rem;
      }
    }
  }
  &__title {
    @include h1();
    color: inherit;
    margin: 2rem 0 0.625rem 0;
    &:after {
      content: "";
      background-image: url("./dot-white.svg");
      background-repeat: repeat-x;
      background-size: 25px 25px;
      width: 100%;
      display: block;
      padding-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }
  &__description {
    @include intro();
    margin-top: 0.625rem;
  }
  &__cta {
    margin-top: 1rem;
  }
  &__image {
    height: 13.5rem;
    svg g {
      display: contents;
    }
    @media screen and (min-width: $fsa-md) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      &__container {
        @include grid-container;
        position: relative;
        height: 100%;
      }
      svg {
        position: absolute;
        top: -3.611rem;
        right: 2rem;
        width: 18.667rem;
        height: 18.667rem;
        g {
          display: block;
        }
      }
    }
    @media screen and (min-width: $fsa-lg) {
      svg {
        top: -6.188rem;
        right: 2rem;
        width: 25rem;
        height: 25rem;
      }
    }
    @media screen and (min-width: $fsa-xl) {
      svg {
        top: -8rem;
        right: 3.125rem;
        width: 33.333rem;
        height: 33.333rem;
      }
    }
  }
  &__theme {
    &--green {
      background-color: var(--fsa-primary_dark-green);
      color: var(--fsa-primary_white);
      a {
        &:hover {
          background-color: var(--fsa__link-green) !important;
        }
      }
    }
    &--blue {
      background-color: #165c7d;
      color: var(--fsa-primary_white);
    }
    &--grey {
      background-color: var(--fsa_online-grey);
      color: #101010;
      h1 {
        color: var(--fsa-primary_dark-green);
        &:after {
          background-image: url("./dot-grey.svg");
        }
      }
    }
  }
  &--with-image {
      flex-direction: column-reverse;
      @media screen and (min-width: $fsa-md) {
        flex-direction: row;
      }
      .hero__mask-wrapper {
        background-image: none;
        min-height: 26rem;
      }
      .hero__title {
        margin-top: 1rem;
      }
    }
}
