<div class="guidance-popup">
  <div class="guidance-popup__wrapper">
    <div class="guidance-popup__top">
      <div class="guidance-popup__label">
        {{ label }}
      </div>
      <div class="guidance-popup__top-right">
        <div class="guidance-popup__more">
          <a href="{{ more_link }}">{{ more_text }}</a>
        </div>
        <div class="guidance-popup__close">
          <a href="#"></a>
        </div>
      </div>
    </div>
    <div class="guidance-popup__content">
      {{ content }}
    </div>
  </div>
  <div class="guidance-popup__layer"></div>
</div>
