@import "src/lib.scss";

.guidance-popup {
  display: none;

  @media screen and (min-width: $fsa-md) {
    padding: 1rem 2rem;
  }

  &__opened {
    display: block;
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-right {
      align-items: center;
      display: flex;
      flex-direction: row;
      vertical-align: middle;
    }
  }

  &__compact {
    .guidance-popup__wrapper {
      top: 3rem;
      left: 1rem;
      height: calc(100% - 6rem);
      width: calc(100% - 6rem);

      @media screen and (min-width: $fsa-md) {
        padding: 0.25rem 2rem;
        top: 6rem;
        left: 6rem;
        height: calc(100% - 12rem);
        width: calc(100% - 12rem);
      }

      @media screen and (min-width: $fsa-lg) {
        left: calc(50% - 22rem);
        width: 44rem;
      }

      @media screen and (min-width: $fsa-xl) {
        left: calc(50% - 24rem);
        width: 48rem;
      }
    }
  }

  &__wrapper {
    background: var(--fsa-primary_white);
    border: 3px solid var(--fsa-primary_dark-green);
    padding: 0.25rem 1rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    z-index: 101;

    @media screen and (min-width: $fsa-md) {
      padding: 0.25rem 2rem;
      top: 2rem;
      left: 2rem;
      height: calc(100% - 4rem);
      width: calc(100% - 4rem);
    }

    @media screen and (min-width: $fsa-lg) {
      left: calc(50% - 22rem);
      width: 44rem;
    }

    @media screen and (min-width: $fsa-xl) {
      left: calc(50% - 24rem);
      width: 48rem;
    }
  }

  &__content {
    overflow-y: auto;
    height: calc(100% - 3rem);
    margin-top: 1rem;

    h3 {
      margin: 3rem 0 1rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__layer {
    background: var(--fsa-primary_black);
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
  }

  &__label {
    @include h6;

    font-weight: bold;
    text-transform: uppercase;
  }

  &__more {
    a {
      @include link;
    }
  }

  &__close {
    display: inline-block;
    margin-left: 0.5rem;
    position: relative;
    right: -1rem;

    @media screen and (min-width: $fsa-md) {
      right: -2rem;
    }

    a {
      display: block;
      height: 1.8rem;
      width: 1.8rem;
      position: relative;

      &:focus {
        background-color: var(--fsa-primary_black);
        border: 2px solid var(--fsa-tertiary_light-yellow);
        outline: none;
      }

      &::before {
        content: "";
        background-image: url("./assets/close.svg");
        background-color: var(--fsa-primary_white);
        display: block;
        position: absolute;
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        top: 2px;
        left: 2px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
