<div class="tooltip">
  <div class="tooltip__question-mark"></div>
  <div class="tooltip__body">
    <div class="tooltip__close"></div>
    <div class="tooltip__message">
      {{ message|raw }}
    </div>
  </div>
</div>
