@import "src/lib.scss";

.tooltip {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  &__popup {
    display: inline;

    &-open {
      @include link;

      font-weight: bold;
    }
  }

  &__question-mark {
    @include link;

    border: 2px solid transparent;
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 2;
    width: 3em;
    height: 3rem;

    @media screen and (min-width: $fsa-lg) {
      width: 2.7rem;
      height: 2.7rem;
    }

    &:focus {
      background-color: var(--fsa-primary_black);
      border: 2px solid var(--fsa-tertiary_light-yellow);
      outline: none;
    }

    &::before {
      content: "";
      background-image: url("./assets/question.svg");
      background-color: var(--fsa-primary_white);
      display: block;
      height: calc(100% - 4px);
      width: calc(100% - 4px);
      position: absolute;
      top: 2px;
      left: 2px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__body {
    background: var(--fsa_online-grey);
    border: 3px solid var(--fsa-primary_dark-green);
    display: none;
    font-size: 1rem;
    position: absolute;
    right: 1.2rem;
    top: 4rem;
    text-align: right;
    font-weight: normal;
    width: 20rem;
    z-index: 50;

    @media screen and (min-width: $fsa-md) {
      width: 41rem;
    }

    &::before {
      content: "";
      background-image: url("./assets/top-part.svg");
      display: inline-block;
      width: 2rem;
      height: 2rem;
      position: absolute;
      background-repeat: no-repeat;
      top: -19px; // exactly PX because there is top corner of toolbox.
      right: -13.5px; // exactly PX because there is top corner of toolbox.

      @media screen and (min-width: $fsa-lg) {
        right: -17.5px; // exactly PX because there is top corner of toolbox.
      }
    }

    &-opened {
      display: block;
    }
  }

  &__message {
    @include body;

    color: var(--fsa-primary_black);
    padding: 1rem 2rem 1rem 1rem;
    text-align: left;

    &-content {
      display: inline;

      a {
        @include link;

        font-weight: bold;
      }
    }
  }

  &__close {
    @include link;

    border: 2px solid transparent;
    cursor: pointer;
    display: block;
    height: 1.2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 1.2rem;
    margin: 0;

    &::before {
      content: "";
      background-color: var(--fsa_online-grey);
      background-image: url("./assets/close.svg");
      display: block;
      height: calc(100% - 4px);
      width: calc(100% - 4px);
      top: 2px;
      left: 2px;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:focus {
      background-color: var(--fsa-primary_black);
      border: 2px solid var(--fsa-tertiary_light-yellow);
      outline: none;
    }
  }
}

.label-with-tooltip {
  position: relative;
  padding-right: 3rem;
  width: 100%;

  .tooltip {
    position: absolute;
    top: -0.9rem;
    right: 0;

    @media screen and (min-width: $fsa-lg) {
      top: -0.6rem;
    }
  }
}
