@import "src/lib.scss";

.rating-cta {
  margin-bottom: 1rem;

  @media screen and (min-width: $fsa-xs) {
    margin-bottom: 0;
  }

  &__item {
    border-top: 4px solid var(--fsa-primary_dark-green);
    margin-top: 2rem;

    @media screen and (min-width: $fsa-lg) {
      margin-top: 4rem;
    }

    &-wrapper {
      padding: 0 1rem 0.5rem;
    }

    &-link-wrapper {
      .button {
        width: 100%;

        &::after {
          content: "";
          display: inline-block;
          width: 1.7rem;
          height: 1rem;
          top: 0.2rem;
          left: 1rem;
          position: relative;
          background-image: url("./assets/cta-arrow.svg");
          background-repeat: no-repeat;
        }
      }
    }

    &-title {
      @include h3;

      margin: 0.8rem 0 0;
    }

    &-description {
      margin-top: 0.5rem;
    }
  }
}
