@import "src/lib.scss";

.article-hero {
  &__type {
    @include body();
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.25rem;
    &--news {
      color: var(--fsa-secondary_mid-purple);
    }
    &--alerts {
      color: var(--fsa-secondary_mid-red);
    }
    &--consultations {
      color: var(--fsa-secondary_dark-blue);
    }
  }
  &__title {
    @include h1-article();
    margin: 0;
  }
  &__region {
    position: relative;
    @include body();
    font-weight: bold;
    margin-top: 1rem;
    padding-bottom: 0.25rem;
    @media screen and (min-width: $fsa-md) {
      margin-top: 2rem;
    }
    &--england {
      border-bottom: 0.25rem var(--fsa-secondary_mid-red) solid;
    }

    &--wales {
      border-bottom: 0.25rem var(--fsa-tertiary_stripe-green) solid;
    }

    &--northern-ireland {
      border-bottom: 0.25rem var(--fsa-secondary_mid-yellow) solid;
    }

    &--multi {
      border-bottom: 0.25rem var(--fsa-primary_dark-grey) solid;
    }
  }
  &__description {
    @include intro();
    margin-top: 1rem;
    p {
      margin: 0;
    }
  }
  &__toolbar {
    border-top: solid 1px var(--fsa__grey-hover);
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin-top: 1rem;
    @media screen and (min-width: $fsa-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 0.5rem;
      margin-top: 2rem;
    }
    &__last-updated {
      margin-bottom: 0.5rem;
      height: 100%;
      @media screen and (min-width: $fsa-md) {
        display: contents;
      }
    }
  }
}
