@import "src/lib.scss";

.national-archive-link {
  @media screen and (min-width: $fsa-lg) {
    margin-top: 2rem;
  }

  &__content {
    &--left,
    &--right {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }

  &__label {
    @include body;
  }

  &__link {
    @include link;
  }
}
