@import "src/lib.scss";

.pdf-and-print-buttons {
  display: flex;
  &--multipage {
    margin-top: 2rem;
  }
  @media screen and (min-width: $fsa-md) {
    justify-content: flex-end;
  }
  &__text-wrapper {
    text-align: left;
  }
  &__button {
    @include body();
    color: var(--fsa-primary_dark-green);
    font-weight: bold;
    flex: 50%;
    @media screen and (min-width: $fsa-md) {
      flex: unset;
    }
    a, button {
      display: flex;
      @media screen and (min-width: $fsa-md) {
        align-items: center;
      }
      &:before {
        content: '';
        display: block;
        background-color: var(--fsa-primary_dark-green);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10rem;
        height: 2.75rem;
        width: 2.75rem;
        min-width: 2.75rem;
        margin-right: 0.5rem;
      }
      &:hover {
        cursor: pointer;
        color: var(--fsa__link-green);
        &:before {
          background-color: var(--fsa__link-green);
        }
      }
      &:focus-visible {
        outline: none;
        text-decoration: none;
        .pdf-and-print-buttons__text-wrapper {
          color: var(--fsa-primary_black);
          background-color: var(--fsa-tertiary_light-yellow);
          border-bottom: 0.25rem solid var(--fsa-primary_black);
          margin-bottom: -0.25rem;
        }
      }
    }
    &--pdf {
      margin-right: 1.4375rem;
      a {
        &:before {
          background-image: url("./assets/arrow.svg");
        }
      }
    }
    &--print {
      button {
        @include body();
        border: 0;
        border-radius: 0;
        background: transparent;
        color: var(--fsa-primary_dark-green);
        font-weight: bold;
        text-decoration: none;
        padding: 0;
        margin: 0;
        &:hover {
          cursor: pointer;
          color: var(--fsa__link-green);
        }
        &:before {
          background-image: url("./assets/printer.svg");
        }
      }
      a {
        &:before {
          background-image: url("./assets/printer.svg");
        }
      }
    }
  }
}
