@import "src/lib.scss";

.contact-promo {
  margin-top: 2rem;

  &__card {
    padding: 1rem;
    padding-right: 0.75rem;
    border: 4px solid var(--fsa_border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    transition: border-color 0.2s;

    &:hover {
      border-color: var(--fsa-primary_dark-green);
    }

    &:focus {
      border-color: var(--fsa-primary_black);
      box-shadow: 0 0 0 0.2rem var(--fsa-tertiary_light-yellow);
      outline: none;
    }

    @media screen and (min-width: $fsa-lg) {
      padding: 1rem 2rem 1rem 1rem;
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    @media screen and (min-width: $fsa-xs) {
      align-items: center;
    }
  }

  &__icon {
    background-color: var(--fsa-primary_dark-green);
    border-radius: 50%;
    width: 3.5rem;
    min-width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 2.5rem;
      width: 2.5rem;
      fill: white;
    }

    @media screen and (min-width: $fsa-lg) {
      width: 5rem;
      height: 5rem;

      svg {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }

  &__text {
    margin: 0 0.5rem 0 1rem;

    @media screen and (min-width: $fsa-lg) {
      margin: 0 2rem 0 1rem;
      max-width: 80%;
    }
  }

  &__title {
    @include h4;

    color: var(--fsa-primary_dark-green);
    padding: 0;
    margin: 0;
  }

  &__description {
    display: none;

    @include body;

    color: var(--fsa-tertiary_light-black);
    margin-top: 0.5rem;

    @media screen and (min-width: $fsa-lg) {
      display: block;
    }
  }

  &__arrow {
    background-image: url("./assets/lg-arrow.svg");
    min-width: 2.5rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
