@import 'src/lib.scss';

.form-title {
  margin: 2rem 0 0 0;
}

.form-description {
  @include body;
  color: var(--fsa-primary_black);
  //Negative margin-bottom removes the margin added by p tag.
  margin: 1rem 0 -1rem 0;
}
