@import 'src/lib.scss';

.form-title {
  @include h3;
  color: var(--fsa-primary_black);
  margin: 0;
}

.form-description {
  @include body;
  color: var(--fsa-primary_black);
  margin: 0;
  margin-top: 1rem;
}