@import "src/lib.scss";

.form-title {
  margin: 2rem 0 0;
  overflow-wrap: break-word;
}

h1.form-title,
h2.form-title {
  &--underlined {
    &::after {
      content: "";
      background-image: svg-load("./assets/dot-dark.svg");
      background-repeat: repeat-x;
      background-size: 1.5rem 1.5rem;
      width: 100%;
      display: block;
      padding-bottom: 0.5rem;
      margin-top: 1rem;
    }
  }
}

h2.form-title {
  &--underlined {
    &::after {
      background-image: svg-load("./assets/dot-light.svg");
      margin-top: 0.5rem;
    }
  }
}

h3.form-title {
  @include h5;
}

h2.legacy-badge-title {
  @include h3;

  margin: 3rem 0 0;
}

.form-description {
  @include body;
  @include wysiwyg-content;

  margin-top: 1rem;
  color: var(--fsa-primary_black);
}
