@import "src/lib.scss";

.error-box {
  margin: 2rem -0.75rem 0;

  @media screen and (min-width: $fsa-md) {
    margin: 2rem -1.25rem 0;
  }

  &__container {
    @include grid-container;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 0.25rem solid var(--fsa-secondary-error-red);
    padding: 0 0.5rem 2rem;

    @media screen and (min-width: $fsa-md) {
      padding: 0 1rem 2rem;
    }
  }

  &__title {
    color: var(--fsa-primary_black);
    margin: 2rem 0 1rem;
  }

  &__label {
    @include body;
  }

  &__field {
    @include h5;

    color: var(--fsa-secondary-error-red);
    text-decoration: underline;
    margin-top: 0.5rem;
    display: block;
    max-width: 100%;

    &:hover {
      color: var(--fsa-secondary-error-hover);
    }

    &:focus {
      color: var(--fsa-primary_black);
      outline: none;
      text-decoration: none;
      background-color: var(--fsa-tertiary_light-yellow);
      border-bottom: 0.25rem solid var(--fsa-primary_black);
      margin-bottom: -0.25rem;
    }
  }

  a {
    @include link;
  }
}
