@import "src/lib.scss";

.text-block {
  margin-top: 3rem;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 3rem;
    margin-bottom: 0;
  }

  a {
    @include link;
  }

  ul {
    @include list(ul);
  }

  ol {
    @include list(ol);
  }
}
