<div class="text-block">
  <h1>Table examples</h1>

  <h2>No header</h2>
  <hr>

  <table>
    <caption>Months</caption>
    <tbody>
    <tr>
      <td>January</td>
      <td>February</td>
    </tr>
    <tr>
      <td>March</td>
      <td>April</td>
    </tr>
    <tr>
      <td>May</td>
      <td>June</td>
    </tr>
    <tr>
      <td>July</td>
      <td>August</td>
    </tr>
    <tr>
      <td>September</td>
      <td>October</td>
    </tr>
    <tr>
      <td>November</td>
      <td>December</td>
    </tr>
    </tbody>
  </table>

  <h2>Headers on the top row</h2>
  <hr>

  <table>
    <caption>Opening hours</caption>
    <thead>
    <tr>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Closed</td>
      <td>Open</td>
      <td>Open</td>
      <td>Closed</td>
      <td>Closed</td>
    </tr>
    <tr>
      <td>9:00</td>
      <td>9:00</td>
      <td>9:00</td>
      <td>9:00</td>
      <td>9:00</td>
    </tr>
    </tbody>
  </table>

  <h2>Headers on the left column</h2>
  <hr>

  <table>
    <caption>Opening hours</caption>
    <tbody>
    <tr>
      <th scope="row">Monday</th>
      <td>Open</td>
      <td>9:00</td>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td>Closed</td>
      <td>9:00</td>
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td>Open</td>
      <td>9:00</td>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td>Closed</td>
      <td>9:00</td>
    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td>Open</td>
      <td>9:00</td>
    </tr>
    </tbody>
  </table>

  <h2>Headers on the top row and left column</h2>
  <hr>

  <table>
    <caption>Opening hours</caption>
    <thead>
    <tr>
      <th scope="row">&nbsp;</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">09:00</th>
      <td>Closed</td>
      <td>Open</td>
      <td>Closed</td>
      <td>Open</td>
      <td>Open</td>
    </tr>
    <tr>
      <th scope="row">10:00</th>
      <td>Closed</td>
      <td>Closed</td>
      <td>Open</td>
      <td>Open</td>
      <td>Closed</td>
    </tr>
    <tr>
      <th scope="row">11:00</th>
      <td>Closed</td>
      <td>Open</td>
      <td>Open</td>
      <td>Open</td>
      <td>Closed</td>
    </tr>
    <tr>
      <th scope="row">12:00</th>
      <td>Open</td>
      <td>Open</td>
      <td>Open</td>
      <td>Open</td>
      <td>Open</td>
    </tr>
    </tbody>
  </table>
</div>