@import "src/lib.scss";

.webtool-studies-table {
  @include landing-margin-top;
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th {
    &.hide-on-mobile {
      display: none;

      @media screen and (min-width: $fsa-lg) {
        display: table-cell;
      }
    }

    &.show-on-mobile {
      display: table-cell;

      @media screen and (min-width: $fsa-lg) {
        display: none;
      }
    }
  }

  td {
    border: 1px solid var(--fsa_border);
    border-left: none;
    border-right: none;

    &.right {
      text-align: right;
    }

    &.hide-on-mobile {
      display: none;

      @media screen and (min-width: $fsa-lg) {
        display: table-cell;
      }
    }
  }

  thead {
    @include h5;

    background-color: var(--fsa__purple-hover);
    border: 1px solid var(--fsa__purple-hover);

    th {
      color: var(--fsa-primary_white);
      font-weight: bold;
      padding: 1rem;
    }
  }

  tbody {
    @include body;

    td {
      padding: 1rem;
    }
  }
}
