<div class='sort'>
	<label for='sort' class='sort__label'>Sort by</label>
	<select name='sort' id='sort' class='sort__select'>
		<option value='relevance' class='sort__option' selected>Relevance</option>
		<option value='recent' class='sort__option'>Most recent</option>
	</select>
</div>
