<div class='sort'>
  <label for='sort' class='sort__label'>{{ sort_by }}</label>
  <select name='sort' id='sort' class='sort__select'>
    <option value='relevance' class='sort__option' selected>{{ relevance }}</option>
    <option value='recent' class='sort__option'>{{ most_recent }}</option>
  </select>
</div>
