<div class="two-col">
  <div class="two-col__container">
    <div class="two-col__row">
      <div class="two-col__top">
        {% block top %}
          <h1>The H1 for the page.</h1>
        {% endblock %}
      </div>
      <div class="two-col__left">
        {% block left %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit ante nec neque iaculis, non tempus ipsum ultrices. Nunc diam eros, posuere ac varius quis, eleifend at justo. Fusce luctus, orci eget auctor facilisis, dui tortor porta lectus, ut accumsan turpis leo efficitur quam. Proin et posuere lacus, vitae feugiat mi. Curabitur metus nibh, semper quis ante nec, aliquet pretium sem. Nulla sagittis malesuada augue id interdum. Praesent at erat a nibh aliquet ornare quis id ex. Curabitur laoreet, metus sed ornare scelerisque, urna nunc tincidunt sem, vitae placerat erat metus a dolor. Pellentesque sagittis tincidunt nisl, eu maximus ante iaculis nec. Curabitur id odio diam. Curabitur eu ante eu velit luctus ultricies. Vivamus interdum lacus nulla, et bibendum erat euismod eu. Nulla eget lacus eros.</p>

          <p>Aliquam sagittis viverra ex, vel consequat mi tincidunt eu. Duis facilisis ex nisi, sed semper sem sodales vitae. Integer in arcu vitae ipsum lobortis facilisis. Nunc in leo sed justo venenatis egestas. Etiam eget bibendum arcu. Phasellus sollicitudin magna sed urna lobortis sagittis vel a lorem. Proin varius vel dolor at euismod. Nulla cursus tempor ligula, vel varius metus luctus dignissim. In in risus sit amet nunc commodo aliquet nec in justo. Mauris vehicula vitae sapien sit amet malesuada. Phasellus velit ipsum, facilisis sit amet nisi vel, tincidunt imperdiet enim. Morbi tristique metus sed eros tincidunt interdum.</p>

          <p>Vivamus et elit in erat pellentesque sagittis sit amet vitae massa. Cras tincidunt vitae ex at faucibus. Pellentesque lobortis justo quis pretium rutrum. Donec vitae tellus eu leo scelerisque mollis. Aliquam erat volutpat. Cras vel dignissim massa. Donec dignissim odio sit amet elit iaculis hendrerit. Maecenas in ultrices ligula, non iaculis magna. Integer eu bibendum nulla. Nunc at euismod quam. Mauris id congue magna, tempor commodo est.
          </p>
        {% endblock %}
      </div>
      <div class="two-col__right">
        <div class="two-col__right-top">{% block right_top %}{% endblock %}</div>
          {% block right %}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit ante nec neque iaculis, non tempus ipsum ultrices. Nunc diam eros, posuere ac varius quis, eleifend at justo. Fusce luctus, orci eget auctor facilisis, dui tortor porta lectus, ut accumsan turpis leo efficitur quam. Proin et posuere lacus, vitae feugiat mi. Curabitur metus nibh, semper quis ante nec, aliquet pretium sem. Nulla sagittis malesuada augue id interdum. Praesent at erat a nibh aliquet ornare quis id ex. Curabitur laoreet, metus sed ornare scelerisque, urna nunc tincidunt sem, vitae placerat erat metus a dolor. Pellentesque sagittis tincidunt nisl, eu maximus ante iaculis nec. Curabitur id odio diam. Curabitur eu ante eu velit luctus ultricies. Vivamus interdum lacus nulla, et bibendum erat euismod eu. Nulla eget lacus eros.</p>

            <p>Aliquam sagittis viverra ex, vel consequat mi tincidunt eu. Duis facilisis ex nisi, sed semper sem sodales vitae. Integer in arcu vitae ipsum lobortis facilisis. Nunc in leo sed justo venenatis egestas. Etiam eget bibendum arcu. Phasellus sollicitudin magna sed urna lobortis sagittis vel a lorem. Proin varius vel dolor at euismod. Nulla cursus tempor ligula, vel varius metus luctus dignissim. In in risus sit amet nunc commodo aliquet nec in justo. Mauris vehicula vitae sapien sit amet malesuada. Phasellus velit ipsum, facilisis sit amet nisi vel, tincidunt imperdiet enim. Morbi tristique metus sed eros tincidunt interdum.</p>

            <p>Vivamus et elit in erat pellentesque sagittis sit amet vitae massa. Cras tincidunt vitae ex at faucibus. Pellentesque lobortis justo quis pretium rutrum. Donec vitae tellus eu leo scelerisque mollis. Aliquam erat volutpat. Cras vel dignissim massa. Donec dignissim odio sit amet elit iaculis hendrerit. Maecenas in ultrices ligula, non iaculis magna. Integer eu bibendum nulla. Nunc at euismod quam. Mauris id congue magna, tempor commodo est.</p>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
