@import 'src/lib.scss';

.radio {
  border: none;
  padding: 0;
  margin: 2rem 0 0 0;
  color: var(--fsa-primary_black);

  &__legend {
    @include h5;
    margin: 0;
    padding: 0;
    font-weight: bold;
    /* Using a float trick here to make the border of fieldset wrap around, not going through, the legend.*/
    float: left;
  }

  &__required {
    @include small;
    margin-left: 1rem;
    color: var(--fsa-primary_black);
  }

  &__description {
    @include body;
    margin: 0;
    padding: 0.5rem 0 0 0;
    clear: both;
  }

  &__field {
    margin-top: 1rem;
    @include body;
    display: flex;
    align-items: center;
  }

  &__input {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--fsa-primary_black);
    position: relative;
    background-color: var(--fsa-primary_white);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &::-ms-expand {
      display: none;
    }

    &:checked {
      background-color: var(--fsa-primary_dark-green);
      border: none;

      &::before {
        content: "";
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background: var(--fsa-primary_white);
        
      }
    }

    &:focus {
      box-shadow: 0 0 0 0.167rem var(--fsa-primary_black),
        0 0 0 0.333rem var(--fsa-tertiary_light-yellow);
      outline: none;
      border: none;
    }
  }

  &__label {
    padding: 0 0 0 1rem;
  }

  &--error {
    border-left: 0.25rem solid var(--fsa-secondary_mid-red);
    margin-left: -0.75rem;
    padding-left: 0.5rem;
    @media screen and (min-width: $fsa-md) {
      margin-left: -1.25rem;
      padding-left: 1rem;
    }

    .radio__legend {
      color: var(--fsa-secondary_mid-red);
    }
  }
}
