{% if links %}
<div class="sitemap" data-fsa-at="sitemap">
  {% for link in links %}
    <p data-fsa-at="sitemap-link-{{ link.label|replace({" ": "-"})|lower }}">
    {% include '@components/components/general/Link/link.html.twig' with {
      link_url: link.href,
      link_text: link.label,
    } %}
    </p>
    {% if link.links %}
      <div class="sitemap__second-level">
      {% for sublink in link.links %}
        <p data-fsa-at="sitemap-link-{{ sublink.label|replace({" ": "-"})|lower }}">
          {% include '@components/components/general/Link/link.html.twig' with {
            link_url: sublink.href,
            link_text: sublink.label,
          } %}
        </p>
      {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endif %}