@import "src/lib.scss";

.dropdown-menu {
  position: relative;

  &__label {
    color: var(--fsa-primary_black);
    cursor: pointer;
    font-family: var(--body-font);
    font-size: 1rem;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    min-height: 2.4rem;
    background: var(--fsa-tint);
    border: 1px solid var(--fsa-primary_black);
    border-radius: 0;
    max-width: 100%;
    flex-grow: 1;
    font-weight: bold;
    background-image: url("./assets/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
  }

  &__option {
    border-top: solid 1px var(--fsa_border);

    a {
      display: block;
      padding: 0.5rem 2.5rem 0.5rem 1rem;

      &:hover {
        background: var(--fsa_online-grey);
      }
    }
  }

  &__options {
    background: var(--fsa-primary_white);
    border: 1px solid var(--fsa-primary_black);
    border-top: none;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;

    &-open {
      display: block;
    }
  }
}
