<div class="dropdown-menu">
  <a href="#" class="dropdown-menu__label">
    {{ label }}
    <span class="dropdown-menu__label-arrow"></span>
  </a>
  <div class="dropdown-menu__options">
    {% for option in options %}
      <div class="dropdown-menu__option">
        <a href="{{ option.url }}">{{ option.label }}</a>
      </div>
    {% endfor %}
  </div>
</div>
