@import "src/lib.scss";

.dropdown-menu {
  display: inline-block;
  position: relative;
  text-align: left;

  &__label {
    color: var(--fsa-primary_black);
    cursor: pointer;
    display: block;
    font-family: var(--body-font);
    font-size: 1rem;
    padding: 0.7rem 2.7rem 0.7rem 1.2rem;
    min-height: 2.4rem;
    border: 1px solid var(--fsa-primary_black);
    border-radius: 0;
    max-width: 100%;
    flex-grow: 1;
    font-weight: normal;
    background: var(--fsa_online-grey);
    white-space: nowrap;

    &:focus {
      box-shadow: 0 0 0 0.2rem var(--fsa-tertiary_light-yellow);
      border-width: 0.2rem;
      padding: 0.5rem 2.5rem 0.5rem 1rem;
      outline: none;
    }

    &-arrow {
      background-image: url("./assets/arrow-down.svg");
      background-repeat: no-repeat;
      content: "";
      top: 0;
      width: 1rem;
      position: absolute;
      right: 1rem;
      height: calc(100% + 2px);
      background-position: center;
    }
  }

  &__option {
    border-top: solid 1px var(--fsa_border);

    a {
      display: inline-block;
      padding: 0.5rem 2.5rem 0.5rem 1rem;
      width: 100%;

      &:hover {
        background: var(--fsa_tint);
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem var(--fsa-tertiary_light-yellow);
        border: 0.2rem solid var(--fsa-primary_black);
        outline: none;
      }
    }
  }

  &__options {
    background: var(--fsa-primary_white);
    border: 1px solid var(--fsa-primary_black);
    border-top: none;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;

    &-open {
      display: block;
    }
  }
}
