<section class="service-links">
  <h2 class="service-links__title">{{ title }}</h2>
  <p class="service-links__description">{{ description }}</p>
  <ul class="service-links__cards">
    {% for link in links %}
      <li class="service-links__card">
        <a href="{{ link.href }}" class="service-links__anchor">{{ link.label }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
