<div class="service-links">
  <div class="service-links__container">
    <div class="service-links__text-row">
      <div class="service-links__text-wrapper">

        <h2 class="service-links__title">This is the services title</h2>
        <p class="service-links__description">This is a description for the services section. Phasellus magna. Curabitur ullamcorper ultricies nisi.</p>
      </div>
    </div>
    <ul class="service-links__cards">
      <li class="service-links__card service-links__card--2">
        <a href="#" class="service-links__anchor">Safer food, better business</a>
      </li>
      <li class="service-links__card service-links__card--2">
        <a href="#" class="service-links__anchor">Apply for a regulated product authorisation</a>
      </li>
      <li class="service-links__card service-links__card--2">
        <a href="#" class="service-links__anchor">Register a food business</a>
      </li>
      <li class="service-links__card service-links__card--2">
        <a class="service-links__anchor external-link" href="#">Allergen guidance for businesses</a>
      </li>
    </ul>
  </div>
</div>