@import 'src/lib.scss';

.service-links {
  &__title {
    @include h2;
    margin: 0;
    padding: 0;
    color: var(--fsa-primary_black);
  }

  &__description {
    @include body;
    margin: 1rem 0 0 0;
  }

  &__cards {
    padding: 0;
    margin: 2rem 0 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    @include h5;
    @include grid-cols(4, 4);
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    padding: 0 !important;
    border-top: 2px solid var(--fsa-secondary_mid-purple);
    cursor: pointer;
    background-color: var(--fsa-primary_white);

    & + & {
      margin: 1rem 0 0 0;
    }

    @media screen and (min-width: $fsa-md) {
      @include grid-cols(6);
      max-width: calc((100% / 12) * 6 - 1rem);

      /*Using css selectors as flex gap doesn't work in IE11.*/
      &:nth-child(2) {
        margin-top: 0;
      }

      &:nth-child(odd) {
        margin-right: 2rem;
      }
    }

    @media screen and (min-width: $fsa-xl) {
      & + & {
        margin-top: 2rem;
      }

      &:nth-child(2) {
        margin-top: 0;
      }

      &--3 {
        @include grid-cols(4);
        max-width: calc((100% / 12) * 4 - 1.34rem);

        &:nth-child(3) {
          margin-top: 0;
        }

        &:not(:nth-child(3n)) {
          margin-right: 2rem;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      &--4 {
        @include grid-cols(3);
        max-width: calc((100% / 12) * 3 - 1.5rem);

        &:nth-child(3),
        &:nth-child(4) {
          margin-top: 0;
        }

        &:nth-child(4) {
          margin-top: 0;
        }

        &:not(:nth-child(4n)) {
          margin-right: 2rem;
        }
      }
    }
  }

  &__anchor {
    padding: 1rem 3.5rem 1rem 1rem;
    margin: 0;
    color: var(--fsa-primary_black);
    display: block;
    height: 100%;
    width: 100%;
    background-image: url('./arrow-right.svg');
    background-repeat: no-repeat;
    background-position: right 1rem top 1.25rem;

    &:active,
    &:visited {
      color: var(--fsa-primary_black);
    }

    &:hover {
      text-decoration: underline;
      color: var(--fsa__link-green);
    }

    &:focus {
      outline: none;
      background-color: var(--fsa-tertiary_light-yellow);
    }
  }
}
