@import 'src/lib.scss';

.service-links {
  &__title {
    @include h2;
    margin: 0;
    padding: 0;
    color: var(--fsa-primary_black);
  }

  &__description {
    @include body;
    margin: 1rem 0 0 0;
  }

  &__cards {
    padding: 0;
    margin: 2rem 0 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    @include h5;
    @include grid-cols(4, 4);
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    padding: 0 !important;
    border-top: 2px solid var(--fsa-secondary_mid-purple);
    cursor: pointer;
    background-color: var(--fsa-primary_white);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='16px' viewBox='0 0 28 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 5%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cg id='service-card/Desktop' transform='translate(-253.000000, -25.000000)' stroke='%23007C75' stroke-width='2'%3E%3Cg id='Group-5' transform='translate(254.000000, 26.000000)'%3E%3Cline x1='0' y1='7.25' x2='25' y2='7.25' id='Stroke-1'%3E%3C/line%3E%3Cpolyline id='Stroke-3' points='18 0 25 6.99993305 18 14'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem top 1.25rem;

    & + & {
      margin: 1rem 0 0 0;
    }

    &:hover {
      .service-links__anchor {
        text-decoration: underline;
        color: var(--fsa__link-green);
      }
    }

    @media screen and (min-width: $fsa-md) {
      @include grid-cols(6);
      max-width: calc((100% / 12) * 6 - 1rem);

      /*Using css selectors as flex gap doesn't work in IE11.*/
      &:nth-child(2) {
        margin-top: 0;
      }

      &:nth-child(odd) {
        margin-right: 2rem;
      }
    }

    @media screen and (min-width: $fsa-xxl) {
      & + & {
        margin-top: 2rem;
      }

      &:nth-child(2) {
        margin-top: 0;
      }

      &--3 {
        @include grid-cols(4);
        max-width: calc((100% / 12) * 4 - 2rem);

        &:nth-child(3) {
          margin-top: 0;
        }

        &:not(:nth-child(3n)) {
          margin-right: 2rem;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      &--4 {
        @include grid-cols(3);
        max-width: calc((100% / 12) * 3 - 1.5rem);

        &:nth-child(3),
        &:nth-child(4) {
          margin-top: 0;
        }

        &:nth-child(4) {
          margin-top: 0;
        }

        &:not(:nth-child(4n)) {
          margin-right: 2rem;
        }
      }
    }
  }

  &__anchor {
    padding: 1rem;
    margin: 0;
    color: var(--fsa-primary_black);
    display: block;

    &:hover {
      text-decoration: underline;
      color: var(--fsa__link-green);
    }

    &:active,
    &:visited {
      color: var(--fsa-primary_black) '';
    }

    &:focus {
      outline: none;
      background-color: var(--fsa-tertiary_light-yellow);
    }
  }
}
