{% extends '../../layout/formLayout/formLayout.html.twig' %}
{% block content %}
  <form>
    {% include '../../components/form/TitleAndText/titleAndText.html.twig' with {
      title: 'Form title',
      description:
        '<p>Create an account to get food and allergy alerts by email or text message. This is a free service. Before you can subscribe we need to verify your email address. Please enter a valid email address in the box below and click "Create account".</p>',
      tag: 'h2',
    } %}

    {% include '../../components/form/MessageBox/messageBox.html.twig' with {
      text: 'You have just used your one-time login link. Please set yourself a password that you can use to log in again.',
      type: 'status'
    } %}
    
    {% include '../../components/form/ErrorBox/errorBox.html.twig' with {
      title: 'There is a problem with your submission',
      errors: 'required',
      errorList: {
        required: {
          'label': 'Please complete the following required fields',
          'fields': [
            {
              'label': 'First name',
              'id': 'firstname'
            },
            {
              'label': 'Password',
              'id': 'password'
            },
            {
              'label': 'What is the company or food business you wish to give information about?',
              'id': 'textarea-label-company',
            }
          ]
        },
        format: {
          'label': 'Please complete the following with the correct format',
          'fields': [
            {
              'label': 'E-mail address',
              'id': 'email'
            },
          ]
        },
      }
    }%}

    {% include '../../components/form/InputField/inputField.html.twig' with {
      name: 'title',
      label: 'Title',
      caption: 'Enter your title.',
      required: "",
      error: false,
      errorMessage: '',
      value: 'Mr.'
    } %}

    {% include '../../components/form/InputField/inputField.html.twig' with {
      name: 'firstname',
      label: 'First name',
      caption: 'Enter your first name.',
      required: "required",
      error: true,
      errorMessage: 'First name is required.',
      value: ''
    } %}

    {% include '../../components/form/InputField/inputField.html.twig' with {
      name: 'lastname',
      label: 'Last name',
      caption: 'Enter your last name.',
      required: "required",
      error: false,
      errorMessage: '',
      value: 'Doe'
    } %}

    {% include '../../components/form/InputField/inputField.html.twig' with {
      name: 'email',
      label: 'E-mail address',
      caption: 'Enter your email address.',
      required: "required",
      error: true,
      errorMessage: 'Invalid email address',
      value: 'john.doe@example;com'
    } %}

    {% include '../../components/form/InputField/inputField.html.twig' with {
      name: 'password',
      type:'password',
      label: 'Password',
      caption: 'Enter your password.',
      required: "required",
      error: true,
      errorMessage: 'Password is required',
      value: ''
    } %}

    {% include '../../components/form/Radio/radio.html.twig' with {
      title: 'Email frequency',
      description: 'How often the emails are sent',
      fields: [
        { value: 'immediately', label: 'Send updates immediately', id: 'immediately' },
        { value: 'daily', label: 'Send updates daily', id: 'daily' },
        { value: 'weekly', label: 'Send updates weekly', id: 'weekly' },
      ],
      name: 'frequency',
      required: "",
      error: false,
      default: 'immediately',
    } %}

    {% include '../../components/form/EmailField/emailField.html.twig' with {
      title: 'Personal information',
      email_label: 'Email address',
      email_link: '#',
      email_address: 'email@company.co.uk',
      change_email_link: '#',
      change_email_label: 'Change your email address',
    } %}

    {% include '../../components/form/PhoneField/phoneField.html.twig' with {
      label: 'Phone number',
      required: '',
      prefix: '+44',
      name: 'phone',
      description: 'Subscribe to news and alerts.',
      error: false,
    } %}
    
    {% include '../../components/form/Checkbox/checkbox.html.twig' with {
      title: 'Consultations',
      description:
        'Stay up to date with the FSA\'s latest news and consultations by email.',
      fields: [
        { value: 'all', label: 'All consultations', id: 'all' },
        { value: 'england', label: 'England consultations', id: 'england' },
        { value: 'northern-ireland', label: 'Northern Ireland consultations', id: 'northern-ireland' },
        { value: 'uk-wide', label: 'UK-wide consultations', id: 'uk-wide' },
        { value: 'wales', label: 'Wales consultations', id: 'wales' },
      ],
      name: 'food alert',
      required: "",
      error: false,
    } %}

    {% include '../../components/form/Textarea/textarea.html.twig' with {
      error: false,
      name: 'crime',
      label: 'What is the food crime you are reporting?',
      required: '',
      description: 'Please describe the food crime that you are reporting',
      rows: 10,
    } %}

    {% include '../../components/form/Textarea/textarea.html.twig' with {
      error: true,
      name: 'company',
      label: 'What is the company or food business you wish to give information about?',
      required: 'required',
      rows: 10,
    } %}
   
    {% include '../../components/form/MultistepFunction/multistepFunction.html.twig' with {
      prevLink: '#',
      prevLabel: 'Previous',
      prevButton: true,
      buttonLabel: 'Next'
    } %}
  </form>
{% endblock %}

