{% extends '../../layout/formLayout/formLayout.html.twig' %}
{% block content %}
  <form>
    {% include '../../components/form/TitleAndText/titleAndText.html.twig' with {
      title: 'Form title',
      description:
        '<p>Create an account to get food and allergy alerts by email or text message. This is a free service. Before you can subscribe we need to verify your email address. Please enter a valid email address in the box below and click "Create account".</p>',
      tag: 'h2',
    } %}
    {% include '../../components/form/ErrorBox/errorBox.html.twig' with {
      title: 'There is a problem with your submission',
      errors: 'required',
      errorList: {
        required: {
          'label': 'Please complete the following required fields',
          'fields': [
            {
              'label': 'E-mail address',
              'id': 'email'
            },
            {
              'label': 'Password',
              'id': 'password'
            }
          ]
        },
        format: {
          'label': 'Please complete the following with the correct format',
          'fields': [
            {
              'label': 'Password',
              'id': 'password'
            }
          ]
        },
        unrecognized: {
          'label': 'Unrecognized username or password.',
          'fields': [
            {
              'label': 'Email address or username',
              'id': 'email-username'
            }
          ]
        },
      }
    }%}
    {% include '../../components/form/Radio/radio.html.twig' with {
      title: 'Email frequency',
      description: 'How often the emails are',
      fields: [
        { value: 'immediately', label: 'Send updates immediately' },
        { value: 'daily', label: 'Send updates daily' },
        { value: 'weekly', label: 'Send updates weekly' },
      ],
      name: 'frequency',
      required: false,
      error: false,
      default: 'immediately',
    } %}
    {% include '../../components/form/Radio/radio.html.twig' with {
      title: 'Email length',
      description: 'How long the emails are',
      fields: [
        { value: 'long', label: 'Send long emails' },
        { value: 'medium', label: 'Send medium-length emails' },
        { value: 'short', label: 'Send short emails' },
      ],
      name: 'length',
      required: true,
      error: true,
      default: 'long',
    } %}
    {% include '../../components/form/Checkbox/checkbox.html.twig' with {
      title: 'Food alerts',
      description:
        'Enter the name and address of the UK business where you bought the product and select from the dropdown list.',
      fields: [
        { value: 'one', label: 'Alert one' },
        { value: 'two', label: 'Alert two' },
        { value: 'three', label: 'Alert three' },
      ],
      name: 'first alert',
      required: false,
      error: false,
    } %}
    {% include '../../components/form/Checkbox/checkbox.html.twig' with {
      title: 'Food alerts',
      description:
        'Enter the name and address of the UK business where you bought the product and select from the dropdown list.',
      fields: [
        { value: 'four', label: 'Alert four' },
        { value: 'five', label: 'Alert five' },
        { value: 'six', label: 'Alert six' },
      ],
      name: 'second alert',
      required: true,
      error: true,
    } %}
  </form>
{% endblock %}
