{% extends '../../layout/formLayout/formLayout.html.twig' %}
{% block content %}
  {% block top %}
    <form>
      {% include '../../components/form/TitleAndText/titleAndText.html.twig' with {
        title: 'Form title',
        description:
          'Create an account to get food and allergy alerts by email or text message. This is a free service. Before you can subscribe we need to verify your email address. Please enter a valid email address in the box below and click "Create account".',
        tag: 'h2',
      } %}
      {% include '../../components/forms/ErrorBox/errorBox.html.twig' with {
        title: 'There is a problem with your submission',
        errors: 'required',
        errorList: {
          required: {
            'label': 'Please complete the following required fields',
            'fields': [
              {
                'label': 'E-mail address',
                'id': 'email'
              },
              {
                'label': 'Password',
                'id': 'password'
              }
            ]
          },
          format: {
            'label': 'Please complete the following with the correct format',
            'fields': [
              {
                'label': 'Password',
                'id': 'password'
              }
            ]
          },
          unrecognized: {
            'label': 'Unrecognized username or password.',
            'fields': [
              {
                'label': 'Email address or username',
                'id': 'email-username'
              }
            ]
          },
        }
      }%}
    </form>
  {% endblock %}
{% endblock %}
