{% extends '../../layout/formLayout/formLayout.html.twig' %}
{% block content %}
  <form>
    {% include '../../components/form/TitleAndText/titleAndText.html.twig' with {
      title: 'Form title',
      description:
        '<p>Create an account to get food and allergy alerts by email or text message. This is a free service. Before you can subscribe we need to verify your email address. Please enter a valid email address in the box below and click "Create account".</p>',
      tag: 'h2',
    } %}

    {% include '../../components/form/MessageBox/messageBox.html.twig' with {
      text: 'You have just used your one-time login link. Please set yourself a password that you can use to log in again.',
      type: 'status'
    } %}

    {% include '../../components/form/MessageBox/messageBox.html.twig' with {
      text: 'You have just used your one-time login link. Please set yourself a password that you can use to log in again.',
      type: 'error'
    } %}

    {% include '../../components/form/MessageBox/messageBox.html.twig' with {
      text: 'You have just used your one-time login link. Please set yourself a password that you can use to log in again.',
      type: 'warning'
    } %}
    
    {% include '../../components/form/ErrorBox/errorBox.html.twig' with {
      title: 'There is a problem with your submission',
      errors: 'required',
      errorList: {
        required: {
          'label': 'Please complete the following required fields',
          'fields': [
            {
              'label': 'E-mail address',
              'id': 'email'
            },
            {
              'label': 'Password',
              'id': 'password'
            }
          ]
        },
        format: {
          'label': 'Please complete the following with the correct format',
          'fields': [
            {
              'label': 'Password',
              'id': 'password'
            }
          ]
        },
        unrecognized: {
          'label': 'Unrecognized username or password.',
          'fields': [
            {
              'label': 'Email address or username',
              'id': 'email-username'
            }
          ]
        },
      }
    }%}
    {% include '../../components/form/Radio/radio.html.twig' with {
      title: 'Email frequency',
      description: 'How often the emails are',
      fields: [
        { value: 'immediately', label: 'Send updates immediately', id: 'immediately' },
        { value: 'daily', label: 'Send updates daily', id: 'daily' },
        { value: 'weekly', label: 'Send updates weekly', id: 'weekly' },
      ],
      name: 'frequency',
      required: "",
      error: false,
      default: 'immediately',
    } %}
    {% include '../../components/form/Radio/radio.html.twig' with {
      title: 'Email length',
      description: 'How long the emails are',
      fields: [
        { value: 'long', label: 'Send long emails', id: 'long' },
        { value: 'medium', label: 'Send medium-length emails', id: 'medium' },
        { value: 'short', label: 'Send short emails', id: 'short' },
      ],
      name: 'length',
      required: "required",
      error: true,
      default: 'long',
    } %}
    {% include '../../components/form/Checkbox/checkbox.html.twig' with {
      title: 'Food alerts',
      description:
        'Enter the name and address of the UK business where you bought the product and select from the dropdown list.',
      fields: [
        { value: 'one', label: 'Alert one', id: 'one' },
        { value: 'two', label: 'Alert two', id: 'two' },
        { value: 'three', label: 'Alert three', id: 'three' },
      ],
      name: 'first alert',
      required: "",
      error: false,
    } %}
    {% include '../../components/form/Checkbox/checkbox.html.twig' with {
      title: 'Food alerts',
      description:
        'Enter the name and address of the UK business where you bought the product and select from the dropdown list.',
      fields: [
        { value: 'four', label: 'Alert four', id: 'four' },
        { value: 'five', label: 'Alert five', id: 'five' },
        { value: 'six', label: 'Alert six', id: 'six' },
      ],
      name: 'second alert',
      required: "required",
      error: true,
    } %}

    {% include '../../components/form/InputField/inputField.html.twig' with {
      name: 'email',
      label: 'Email or username',
      caption: 'Enter your email address or username.',
      required: "",
      error: false,
      errorMessage: 'Unrecognized username or password',
      value: ''
    } %}

  {% include '../../components/form/InputField/inputField.html.twig' with {
      name: 'email',
      label: 'Email or username',
      caption: 'Enter your email address or username.',
      required: "required",
      error: true,
      errorMessage: 'Unrecognized username or password',
      value: ''
    } %}

    {% include '../../components/form/MultistepFunction/multistepFunction.html.twig' with {
      prevLink: '#',
      prevLabel: 'Previous',
      prevButton: true,
      buttonLabel: 'Next'
    } %}

    {% include '../../components/form/MultistepFunction/multistepFunction.html.twig' with {
      prevLink: '#',
      prevLabel: 'Previous',
      prevButton: false,
      buttonLabel: 'Next'
    } %}
  </form>
{% endblock %}

