@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

:root {
  /* Primary Colours */
  --fsa-primary_dark-green: #007c75;
  --fsa-primary_mid-green: #6cb33f;
  --fsa-primary_light-green: #a9c47f;
  --fsa-primary_dark-grey: #53565a;
  --fsa_online-grey: #f0f3f5;
  --fsa_border: #dee2e5;
  --fsa-primary_black: #000000;
  --fsa-primary_white: #ffffff;
  --fsa_tint: #fafcfd;

  /* Secondary Colours */
  --fsa-secondary_mid-red: #e31837;
  --fsa-secondary_orange: #f15d22;
  --fsa-secondary_mid-yellow: #fdb913;
  --fsa-secondary_mid-purple: #49176d;
  --fsa-secondary_light-purple: #9f218b;
  --fsa-tertiary_dark-blue: #9f218b;

  /* Tertiary Colours */
  --fsa-tertiary_dark-red: #b04a5a;
  --fsa-tertiary_light-red: #ef3340;
  --fsa-tertiary_light-yellow: #f1c400;
  --fsa-tertiary_teal: #00b2a9;
  --fsa-tertiary_light-blue: #8dc8e8;
  --fsa-tertiary_dark-purple: #51284f;
  --fsa-secondary_mid-blue: #007fb2;
  --fsa-tertiary_lime: #cedc00;
  --fsa-tertiary_mauve: #8b84d7;

  /* Hover Colours */
  --fsa__link-green: #014b4c;
  --fsa__purple-hover: #2a0247;

  /* Typography */
  --body-font: 'Open Sans', sans-serif;
  --body-normal: 400;
  --body-bold: 600;

  --heading-font: 'Fira Sans', sans-serif;
  --heading-bold: 700;

  /* Grid */
  --container-mobile: 1rem;
  --container: 2rem;
  --gutter: 1rem;
  --max-width: 1336px;
}

$fsa-xs: 500px;
$fsa-md: 768px;
$fsa-lg: 1024px;
$fsa-xl: 1920px;

@mixin h1 {
  font-family: var(--heading-font);
  font-size: 2.288rem;
  font-weight: var(--heading-bold);
  line-height: 1.1;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-lg) {
    font-size: 2.986rem;
  }
}

@mixin h1-article {
  @include h1;
  @media screen and (min-width: $fsa-lg) {
    font-family: var(--heading-font);
    font-size: 2.488rem;
    font-weight: var(--heading-bold);
    line-height: 1.1;
    letter-spacing: normal;
  }
}

@mixin h2 {
  font-family: var(--heading-font);
  font-size: 1.939rem;
  font-weight: var(--heading-bold);
  line-height: 1.2;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-lg) {
    font-size: 2.074rem;
  }
}

@mixin h3 {
  font-family: var(--heading-font);
  font-size: 1.643rem;
  font-weight: var(--heading-bold);
  line-height: 1.2;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-lg) {
    font-size: 1.728rem;
  }
}

@mixin h4 {
  font-family: var(--heading-font);
  font-size: 1.392rem;
  font-weight: var(--heading-bold);
  line-height: 1.2;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-lg) {
    font-size: 1.44rem;
  }
}

@mixin h5 {
  font-family: var(--heading-font);
  font-size: 1.18rem;
  font-weight: var(--heading-bold);
  line-height: 1.4;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-lg) {
    font-size: 1.2rem;
  }
}

@mixin h6 {
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: var(--body-bold);
  line-height: 1.6;
  letter-spacing: normal;
}

@mixin body {
  font-family: var(--body-font);
  font-weight: var(--body-normal);
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
}

@mixin link {
  color: var(--fsa-primary_dark-green);
  text-decoration: underline;

  &:hover {
    color: var(--fsa__link-green);
  }

  &:focus {
    color: var(--fsa-primary_black);
    outline: none;
    text-decoration: none;
    background-color: var(--fsa-tertiary_light-yellow);
    border-bottom: 4px solid var(--fsa-primary_black);

  }
}

@mixin intro {
  font-family: var(--body-font);
  font-weight: var(--body-normal);
  font-size: 1.18rem;
  line-height: 1.6;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-md) {
    font-size: 1.25rem;
  }
}

@mixin small {
  font-family: var(--body-font);
  font-weight: var(--body-normal);
  font-size: 0.8rem;
  line-height: 1.6;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-md) {
    font-size: 0.833rem;
  }
}

@mixin container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: var(--container-mobile);
  padding-right: var(--container-mobile);
  @media screen and (min-width: $fsa-md) {
    padding-left: var(--container);
    padding-right: var(--container);
  }
}

@mixin grid() {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, [col-start] 1fr);
  gap: 1rem;
  @media screen and (min-width: $fsa-md) {
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 2rem;
  }
}

// Grid
$container: 2rem;
$mobileContainer: 1rem;
$gutter: 2rem;
$mobileGutter: 1rem;

@mixin grid-container {
  width: 100%;
  margin: 0 auto;
  padding-left: $mobileContainer;
  padding-right: $mobileContainer;
  @media screen and (min-width: $fsa-md) {
    padding-left: $container;
    padding-right: $container;
    width: 100%;
    max-width: calc(1300px + (2 * #{$container}));
  }
}

@mixin grid-row {
  flex: 1;
  margin-left: -$mobileGutter / 2;
  margin-right: -$mobileGutter / 2;
  @media screen and (min-width: $fsa-md) {
    margin-left: -$gutter / 2;
    margin-right: -$gutter / 2;
  }
}

@mixin grid-cols($count, $basis: 12) {
  width: (100% / $basis) * $count;
  flex-basis: (100% / $basis) * $count;
  max-width: (100% / $basis) * $count;
  padding-left: $mobileGutter / 2;
  padding-right: $mobileGutter / 2;
  @media screen and (min-width: $fsa-md) {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
  }
}

@mixin cols-push($count, $basis: 12) {
  margin-left: (100% / $basis) * $count;
}

/* Custom Mixins */
@mixin button($button-type: primary) {
  display: inline-block;
  font-family: open sans, sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: normal;
  border: 0;
  border-radius: 1.5rem;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
    border-radius 0.1s ease-out, border-bottom 0.1s ease-out;

  @if $button-type == primary {
    @include button-primary;
  } @else if $button-type == secondary {
    @include button-secondary;
  }

  &:focus {
    background-color: var(--fsa-tertiary_light-yellow);
    color: var(--fsa-primary_black);
    border-radius: 0;
    border-bottom: 4px var(--fsa-primary_black) solid;
    outline: none;
  }
}

@mixin button-primary {
  background-color: var(--fsa-primary_dark-green);
  color: var(--fsa-primary_white);
  &:hover {
    background-color: #005e59;
  }
}

@mixin button-secondary {
  background-color: var(--fsa-primary_white);
  color: var(--fsa__link-green);
  &:hover {
    background-color: #006f51;
    color: var(--fsa-primary_white);
  }
}

html {
  font-size: 16px;
  @media screen and (min-width: $fsa-md) {
    font-size: 18px;
  }
}
