@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

:root {
  /* Primary Colours */
  --fsa-primary_dark-green: #007C75;
  --fsa-primary_mid-green: #6CB33F;
  --fsa-primary_light-green: #A9C47F;
  --fsa-primary_dark-grey: #53565A;
  --fsa_online-grey: #F0F3F5;
  --fsa_border: #DEE2E5;
  --fsa-primary_black: #000000;
  --fsa-primary_white: #FFFFFF;
  --fsa_tint: #FAFCFD;

  /* Secondary Colours */
  --fsa-secondary_mid-red: #E31837;
  --fsa-secondary_orange: #F15D22;
  --fsa-secondary_mid-yellow: #FDB913;
  --fsa-secondary_mid-purple: #49176D;
  --fsa-secondary_light-purple: #9F218B;
  --fsa-tertiary_dark-blue: #9F218B;

  /* Tertiary Colours */
  --fsa-tertiary_dark-red: #B04A5A;
  --fsa-tertiary_light-red: #EF3340;
  --fsa-tertiary_light-yellow: #F1C400;
  --fsa-tertiary_teal: #00B2A9;
  --fsa-tertiary_light-blue: #8DC8E8;
  --fsa-tertiary_dark-purple: #51284F;
  --fsa-secondary_mid-blue: #007FB2;
  --fsa-tertiary_lime: #CEDC00;
  --fsa-tertiary_mauve: #8B84D7;

  /* Hover Colours */
  --fsa__link-green: #014B4C;
  --fsa__purple-hover: #2a0247;

  /* Typography */
  --body-font: 'open-sans', sans-serif;
  --body-normal: 400;
  --body-bold: 600;

  --heading-font: 'fira-sans', sans-serif;
  --heading-bold: 700;

  /* Grid */
  --container: 1rem;
  --gutter: 1rem;
  --max-width: 75rem;
}

$fsa-xs: 500px;
$fsa-md: 768px;
$fsa-lg: 1024px;
$fsa-xl: 1920px;

@mixin h1 {
  font-family: var(--heading-font);
  font-size: 2.5rem;
  font-weight: var(--heading-bold);
  line-height: 1.1;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-md) {
    font-size: 3.75rem;
  }
}

@mixin h1-article {
  @include h1;
  @media screen and (min-width: $fsa-md) {
    font-family: var(--heading-font);
    font-size: 3rem;
    font-weight: var(--heading-bold);
    line-height: 1.1;
    letter-spacing: normal;
  }
}

@mixin h2 {
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: var(--heading-bold);
  line-height: 1.2;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-md) {
    font-size: 2.5rem;
  }
}

@mixin h3 {
  font-family: var(--heading-font);
  font-size: 1.625rem;
  font-weight: var(--heading-bold);
  line-height: 1.2;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-md) {
    font-size: 2rem;
  }
}

@mixin h4 {
  font-family: var(--heading-font);
  font-size: 1.375rem;
  font-weight: var(--heading-bold);
  line-height: 1.2;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-md) {
    font-size: 1.625rem;
  }
}

@mixin h5 {
  font-family: var(--heading-font);
  font-size: 1.2rem;
  font-weight: var(--heading-bold);
  line-height: 1.4;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-md) {
    font-size: 1.35rem;
  }
}

@mixin h6 {
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: var(--body-bold);
  line-height: 1.6;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-md) {
    font-size: 1.125rem;
  }
}

@mixin body {
  font-family: var(--body-font);
  font-weight: var(--body-normal);
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-md) {
    font-size: 1rem;
  }
}

@mixin intro {
  font-family: var(--body-font);
  font-weight: var(--body-normal);
  font-size: 1.125rem;
  line-height: 1.6;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-md) {
    font-size: 1.375rem;
  }
}

@mixin small {
  font-family: var(--body-font);
  font-weight: var(--body-normal);
  font-size: 0.8rem;
  line-height: 1.6;
  letter-spacing: normal;
  @media screen and (min-width: $fsa-md) {
    font-size: 1rem;
  }
}

@mixin container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: var(--container);
  padding-right: var(--container);
}

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(4, [col-start] 1fr);
  gap: 1rem;
  @media screen and (min-width: $fsa-md) {
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 2rem;
  }
}

/* Custom Mixins */
@mixin button($button-type: primary) {
  display: inline-block;
  font-family: open sans, sans-serif;
  letter-spacing: normal;
  border: 0;
  border-radius: 1.5rem;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  transition: background-color .2s cubic-bezier(.19, 1, .22, 1);
  @if $button-type == primary {
    @include button-primary;
  } @else if $button-type == secondary {
    @include button-secondary;
  }
}

@mixin button-primary {
  background-color: var(--fsa-primary_dark-green);
  color: var(--fsa-primary_white);
  &:hover,
  &:focus {
    background-color: #005e59;
  }
}

@mixin button-secondary {
  background-color: var(--fsa-primary_white);
  color: var(--fsa__link-green);
  &:hover,
  &:focus {
    background-color: #006f51;
    color: var(--fsa-primary_white);
  }
}
