@use "sass:math";
@use "sass:map";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

:root {
  /* Primary Colours */
  --fsa-primary_dark-green: #007c75;
  --fsa-primary_mid-green: #6cb33f;
  --fsa-primary_light-green: #a9c47f;
  --fsa-primary_dark-grey: #53565a;
  --fsa_online-grey: #f0f3f5;
  --fsa_border: #dee2e5;
  --fsa-primary_black: #000;
  --fsa-primary_white: #fff;
  --fsa_tint: #fafcfd;

  /* Secondary Colours */
  --fsa-secondary_mid-red: #e31837;
  --fsa-secondary_dark-blue: #165c7d;
  --fsa-secondary_orange: #f15d22;
  --fsa-secondary_mid-yellow: #fdb913;
  --fsa-secondary_mid-purple: #49176d;
  --fsa-secondary_light-purple: #9f218b;
  --fsa-tertiary_dark-blue: #9f218b;
  --fsa-secondary-error-red: #e60f31;
  --fsa-secondary-error-hover: #b0132b;

  /* Tertiary Colours */
  --fsa-tertiary_dark-red: #b04a5a;
  --fsa-tertiary_light-red: #ef3340;
  --fsa-tertiary_light-yellow: #f1c400;
  --fsa-tertiary_teal: #00b2a9;
  --fsa-tertiary_light-blue: #8dc8e8;
  --fsa-tertiary_dark-purple: #51284f;
  --fsa-secondary_mid-blue: #007fb2;
  --fsa-tertiary_lime: #cedc00;
  --fsa-tertiary_mauve: #8b84d7;
  --fsa-tertiary_stripe-green: #006f51;
  --fsa-tertiary_light-black: #101010;

  /* Hover Colours */
  --fsa__link-green: #014b4c;
  --fsa__purple-hover: #2a0247;
  --fsa__grey-hover: #d9d9d6;
  --fsa__dark-green-hover: #002a2a;

  /* Custom Colours */
  --fsa-webtool-prgress-bar-border-step: #d8d8d8;

  /* Typography */
  --body-font: "Open Sans", sans-serif;
  --body-normal: 400;
  --body-bold: 600;
  --heading-font: "Fira Sans", sans-serif;
  --heading-bold: 700;

  /* Grid */
  --container-mobile: 1rem;
  --container: 2rem;
  --gutter: 1rem;
  --max-width: 1336px;

  /* Transitions */
  --transition-time: 200;
}

$fsa-xs: 500px;
$fsa-md: 768px;
$fsa-md-minus: 767px;
$fsa-lg: 1024px;
$fsa-lg-minus: 1023px;
$fsa-xl-minus: 1439px;
$fsa-xl: 1440px;
$fsa-xxl: 1920px;

@mixin h1 {
  font-family: var(--heading-font);
  font-size: 2.288rem;
  font-weight: var(--heading-bold);
  line-height: 1.1;
  letter-spacing: normal;
  color: var(--fsa-primary_dark-green);

  @media screen and (min-width: $fsa-lg) {
    font-size: 2.986rem;
  }
}

@mixin h1-article {
  @include h1;

  @media screen and (min-width: $fsa-lg) {
    font-family: var(--heading-font);
    font-size: 2.488rem;
    font-weight: var(--heading-bold);
    line-height: 1.1;
    letter-spacing: normal;
  }
}

@mixin h2 {
  font-family: var(--heading-font);
  font-size: 1.939rem;
  font-weight: var(--heading-bold);
  line-height: 1.2;
  letter-spacing: normal;

  @media screen and (min-width: $fsa-lg) {
    font-size: 2.074rem;
  }
}

@mixin h3 {
  font-family: var(--heading-font);
  font-size: 1.643rem;
  font-weight: var(--heading-bold);
  line-height: 1.2;
  letter-spacing: normal;

  @media screen and (min-width: $fsa-lg) {
    font-size: 1.728rem;
  }
}

@mixin h4 {
  font-family: var(--heading-font);
  font-size: 1.392rem;
  font-weight: var(--heading-bold);
  line-height: 1.2;
  letter-spacing: normal;

  @media screen and (min-width: $fsa-lg) {
    font-size: 1.44rem;
  }
}

@mixin h5 {
  font-family: var(--heading-font);
  font-size: 1.18rem;
  font-weight: var(--heading-bold);
  line-height: 1.4;
  letter-spacing: normal;

  @media screen and (min-width: $fsa-lg) {
    font-size: 1.2rem;
  }
}

@mixin h6 {
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: var(--body-bold);
  line-height: 1.6;
  letter-spacing: normal;
}

@mixin body {
  font-family: var(--body-font);
  font-weight: var(--body-normal);
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
}

@mixin link {
  color: var(--fsa-primary_dark-green);
  text-decoration: underline;
  border-bottom: 0.25rem solid transparent;

  &:hover {
    color: var(--fsa__link-green);
  }

  &:focus {
    color: var(--fsa-primary_black);
    outline: none;
    text-decoration: none;
    background-color: var(--fsa-tertiary_light-yellow);
    border-bottom: 0.25rem solid var(--fsa-primary_black);
    margin-bottom: -0.25rem;
  }
}

@mixin link-simple {
  color: var(--fsa-primary_dark-green);
  text-decoration: underline;

  &:hover {
    color: var(--fsa__link-green);
  }
}

@mixin intro {
  font-family: var(--body-font);
  font-weight: var(--body-normal);
  font-size: 1.18rem;
  line-height: 1.6;
  letter-spacing: normal;

  @media screen and (min-width: $fsa-lg) {
    font-size: 1.2rem;
  }
}

@mixin small {
  font-family: var(--body-font);
  font-weight: var(--body-normal);
  font-size: 0.9rem;
  line-height: 1.6;
  letter-spacing: normal;
}

/* Grid */
$container: 2rem;
$mobileContainer: 1rem;
$gutter: 2rem;
$mobileGutter: 1rem;

@mixin grid-container {
  width: 100%;
  margin: 0 auto;
  padding-left: $mobileContainer;
  padding-right: $mobileContainer;

  @media screen and (min-width: $fsa-md) {
    padding-left: $container;
    padding-right: $container;
    width: 100%;
    max-width: calc(1300px + (2 * #{$container}));
  }
}

@mixin grid-row {
  flex: 1;
  margin-left: math.div(-$mobileGutter, 2);
  margin-right: math.div(-$mobileGutter, 2);

  @media screen and (min-width: $fsa-md) {
    margin-left: math.div(-$gutter, 2);
    margin-right: math.div(-$gutter, 2);
  }
}

@mixin grid-cols($count, $basis: 12) {
  width: math.div(100%, $basis) * $count;
  flex-basis: math.div(100%, $basis) * $count;
  max-width: math.div(100%, $basis) * $count;
  padding-left: math.div($mobileGutter, 2);
  padding-right: math.div($mobileGutter, 2);

  @media screen and (min-width: $fsa-md) {
    padding-left: math.div($gutter, 2);
    padding-right: math.div($gutter, 2);
  }
}

@mixin cols-push($count, $basis: 12) {
  margin-left: math.div(100%, $basis) * $count;
}

/* Custom Mixins */
@mixin button($button-type: primary) {
  display: inline-block;
  font-family: "open sans", sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1.6rem;
  min-height: 44px;
  letter-spacing: normal;
  border: 0;
  border-radius: 1.5rem;
  padding: 0.6rem 2.5rem;
  cursor: pointer;
  transition:
    background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
    border-radius 0.1s ease-out,
    border-bottom 0.1s ease-out;

  @if $button-type == primary {
    @include button-primary;
  } @else if $button-type == secondary {
    @include button-secondary;
  } @else if $button-type == cancel {
    @include button-cancel;
  }

  &:focus {
    box-shadow:
      0 0 0 0.2rem var(--fsa-primary_black),
      0 0 0 0.4rem var(--fsa-tertiary_light-yellow);
    outline: none;
  }
}

@mixin button-primary {
  background-color: var(--fsa-primary_dark-green);
  color: var(--fsa-primary_white);

  &:hover {
    background-color: #005e59;
  }
}

@mixin button-secondary {
  background-color: var(--fsa-primary_white);
  color: var(--fsa__link-green);

  &:hover {
    background-color: var(--fsa-primary_dark-green);
    color: var(--fsa-primary_white);
  }
}

@mixin button-cancel {
  background-color: var(--fsa-secondary_mid-red);
  color: var(--fsa-primary_white);

  &:hover {
    background-color: var(--fsa-secondary-error-hover);
  }
}

/* Mixin for checkbox and radio button style */
@mixin form-select($input-type: checkbox) {
  .#{$input-type} {
    border: none;
    padding: 0;
    margin: 2rem 0 0;
    color: var(--fsa-primary_black);

    &__legend {
      @include h5;

      margin: 0;
      padding: 0;
      font-weight: bold;

      /* Using a float trick here to make the border of fieldset wrap around, not going through, the legend. */
      float: left;
    }

    &__required {
      @include h5;

      margin-left: 0.5rem;
      color: var(--fsa-primary_black);
      font-weight: inherit;
    }

    &__description {
      @include body;

      margin: 0;
      padding: 0.5rem 0 0;
      clear: both;
    }

    &__field {
      padding-top: 1rem;
      margin: 0;

      @include body;

      display: flex;
      align-items: flex-start;
      clear: both;

      &-all {
        margin-bottom: 1rem;
      }
    }

    &__input {
      @if $input-type == checkbox {
        @include checkbox-input;
      } @else if $input-type == radio {
        @include radio-input;
      }
    }

    &__label {
      padding: 0 0 0 1rem;

      &-description {
        color: var(--fsa-primary_dark-grey);
        font-size: 1rem;
        padding-left: 1rem;
      }
    }

    &--error {
      border-left: 0.25rem solid var(--fsa-secondary_mid-red);
      margin-left: -0.75rem;
      padding-left: 0.5rem;

      @media screen and (min-width: $fsa-md) {
        margin-left: -1.25rem;
        padding-left: 1rem;
      }

      .#{$input-type}__legend {
        color: var(--fsa-secondary_mid-red);
      }

      .#{$input-type}__fields {
        border: 4px solid var(--fsa-secondary_mid-red);
        clear: both;
        margin: 2rem 0 0 -4px;
        padding: 0 0.5rem 0.5rem;

        @media screen and (min-width: $fsa-md) {
          margin-left: calc(-0.5rem - 4px);
        }
      }
      .#{$input-type}__description + .#{$input-type}__fields {
        margin-top: 0.5rem;
      }

      .#{$input-type}__field {
        padding-top: 1rem;

        &:first-child {
          padding-top: 0.5rem;
        }
      }
    }
  }
}

@mixin checkbox-input {
  background-color: var(--fsa_online-grey);
  appearance: none;
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--fsa-primary_black);
  position: relative;
  margin: 0;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    box-shadow:
      0 0 0 0.167rem var(--fsa-primary_black),
      0 0 0 0.333rem var(--fsa-tertiary_light-yellow);
    outline: none;
    border: none;
    background-color: var(--fsa-primary_white);
  }

  &:checked {
    background-color: var(--fsa-primary_dark-green);
    background-image: svg-load("./assets/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@mixin radio-input {
  border-radius: 50%;
  background-color: var(--fsa_online-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--fsa-primary_black);
  position: relative;
  margin: 0;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    box-shadow:
      0 0 0 0.167rem var(--fsa-primary_black),
      0 0 0 0.333rem var(--fsa-tertiary_light-yellow);
    outline: none;
    border: none;
    background-color: var(--fsa-primary_white);
  }

  &:checked {
    background-color: var(--fsa-primary_dark-green);
    border: none;

    &::before {
      content: "";
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background: var(--fsa-primary_white);
    }
  }
}

@mixin landing-margin-top {
  margin: 3rem 0 0;

  @media screen and (min-width: $fsa-lg) {
    margin: 4rem 0 0;
  }
}

/* Used for Style guide pages */
@mixin container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: var(--container-mobile);
  padding-right: var(--container-mobile);

  @media screen and (min-width: $fsa-md) {
    padding-left: var(--container);
    padding-right: var(--container);
  }
}

@mixin grid() {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, [col-start] 1fr);
  gap: 1rem;

  @media screen and (min-width: $fsa-md) {
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 2rem;
  }
}

@mixin landing-text-wrapper {
  text-align: center;

  @include grid-cols(4, 4);

  @media screen and (min-width: $fsa-md) {
    @include grid-cols(12, 12);
  }

  @media screen and (min-width: $fsa-lg) {
    @include grid-cols(8, 12);
    @include cols-push(2, 12);
  }
}

@mixin list($list-type: ul) {
  counter-reset: list;
  padding-inline-start: 0;
  list-style-position: outside;
  list-style-type: none;
  padding: 0;

  @include body;

  line-height: 1.6;

  li {
    margin-left: 1.5rem;

    &::before {
      display: inline-block;
      margin-left: -1.5rem;
    }

    > *:not(a) {
      display: contents;
    }
  }

  @if $list-type == ul {
    li {
      &::before {
        content: "\25CF";
        color: var(--fsa-primary_dark-green);
        font-weight: bold;
        margin-right: 1rem;
      }
    }
  } @else if $list-type == ol {
    li {
      &::before {
        counter-increment: list;
        content: counter(list) ".";
        margin-right: 0.7rem;
      }
    }
  }
}

@mixin table() {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;

  caption {
    @include h5;

    background-color: var(--fsa__purple-hover);
    border: 1px solid var(--fsa__purple-hover);
    color: var(--fsa-primary_white);
    padding: 1rem;
    text-align: left;

    @media screen and (min-width: $fsa-lg) {
      @include h2;

      background-color: transparent;
      border: none;
      color: var(--fsa-primary_black);
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  &,
  .fsa-table--column {
    thead {
      @media screen and (max-width: $fsa-lg - 1) {
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }

      @media screen and (min-width: $fsa-lg) {
        @include h5;

        background-color: var(--fsa__purple-hover);
        border: 1px solid var(--fsa__purple-hover);

        th {
          color: var(--fsa-primary_white);
          font-weight: bold;
          padding: 1rem;
          text-align: left;
        }
      }
    }
  }

  tbody th {
    @include body;

    border: 1px solid var(--fsa_border);
    padding: 1rem;
    position: relative;
    display: block;
    width: 100%;
    text-align: left;

    @media screen and (min-width: $fsa-lg) {
      @include h5;

      background-color: var(--fsa__purple-hover);
      border: 1px solid var(--fsa__purple-hover);
      color: var(--fsa-primary_white);
      font-weight: bold;
      padding: 1rem;
      display: table-cell;
      max-width: 20%;
    }
  }

  tbody td {
    @include body;

    border: 1px solid var(--fsa_border);
    padding: 1rem;
    position: relative;
  }

  &:not(.fsa-table--no-headers) {
    tbody tr {
      display: block;
      border-bottom: solid 4px var(--fsa_border);

      &:last-child {
        border: 1px solid var(--fsa_border);
      }

      @media screen and (min-width: $fsa-lg) {
        display: table-row;
        border: 1px solid var(--fsa_border);
      }
    }
  }

  tbody tr td {
    display: flex;
    min-width: 1px;
    text-align: left;
    position: relative;

    @media screen and (min-width: $fsa-lg) {
      display: table-cell;
    }
  }

  .responsive-table__heading {
    @include body;

    padding: 0;
    word-break: initial;
    height: 100%;
    width: 50%;
    padding-right: 1rem;
    margin-right: 1rem;

    &::after {
      content: "";
      position: absolute;
      border: 1px solid var(--fsa_border);
      height: 100%;
      right: 50%;
      top: 0;
    }

    @media screen and (min-width: $fsa-lg) {
      display: none;
    }
  }

  .fsa-table__heading--hidden {
    display: none;

    @media screen and (min-width: $fsa-lg) {
      display: table-cell;
    }
  }
}

@mixin wysiwyg-content() {
  @include body;

  .document-download {
    margin-top: 1rem;

    &::before {
      display: none;
    }
  }

  .document-download__region {
    display: none;
  }

  .document-download__content {
    &--with-region {
      margin-top: 0;
    }
  }

  ul {
    @include list(ul);
  }

  ol {
    @include list(ol);
  }

  table {
    @include table;
  }

  > * {
    max-width: 100%;
  }

  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > ul,
  > ol {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a:not(.document-download__link):not(.chart-block__buttons) {
    @include link;
  }
}

/* stylelint-disable value-keyword-case */
@mixin fhrs-badges($base-class) {
  $ratings: 0, 1, 2, 3, 4, 5, Exempt, AwaitingInspection, AwaitingPublication, Empty, Pass;
  $versions: 1, 2, 3, 4, 5;
  $widths: (
    1: 26.75rem,
    2: 30rem,
    3: 16.188rem,
    4: 7.813rem,
    5: 11.813rem,
  );

  @each $rating in $ratings {
    @each $version in $versions {
      @if $rating == "Pass" and $version < 4 {
        .#{$base-class}__badge--#{$rating}--#{$version}:before {
          content: url("../badges/fhis/#{$version}/fhis-badge-#{$rating}.png");
        }
      } @else if $rating != "Pass" {
        .#{$base-class}__badge--#{$rating}--#{$version}:before {
          content: url("../badges/fhrs/#{$version}/fhrs-badge-#{$rating}.svg");
          display: block;
          width: map.get($widths, $version);
          height: auto;
        }

        .#{$base-class}__badge--#{$rating}--#{$version}.#{$base-class}__badge--welsh:before {
          content: url("../badges/fhrs-bilingual/#{$version}/fhrs-bilingual-badge-#{$rating}.svg");
          display: block;
          width: map.get($widths, $version);
          height: auto;
        }
      }
    }
  }
}
/* stylelint-enable value-keyword-case */
