@import "src/lib.scss";

.filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  @media screen and (min-width: $fsa-md) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.8rem;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    @include body;
    background: var(--fsa-secondary_mid-purple);
    color: var(--fsa-primary_white);
    font-size: 0.9rem;
    border: none;
    border-radius: 1.34rem;
    box-shadow: none;
    min-height: 44px;
    padding: 0.6rem 3rem 0.6rem 1rem;
    margin: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    transition: background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
      color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
      border-radius 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    background-image: url("./assets/cross-white.svg");
    background-repeat: no-repeat;
    background-position: right 1.08rem center;

    &:hover {
      background-color: var(--fsa__purple-hover);
    }

    &:focus {
      box-shadow: 0 0 0px 0.2rem var(--fsa-tertiary_light-yellow),
        0 0 0px 0.4rem var(--fsa-primary_black);
      outline: none;
    }

    @media screen and (min-width: $fsa-md) {
      border-radius: 1.6rem;
    }
  }

  &__remove {
    @include body;
    margin: 0;
    background: none;
    border: none;
    box-shadow: none;
    color: var(--fsa-primary_dark-green);
    text-decoration: underline;
    padding: 0;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      color: var(--fsa__link-green);
    }

    &:focus {
      background: var(--fsa-tertiary_light-yellow);
      color: var(--fsa-primary_black);
      outline: none;
      text-decoration: none;
      border-bottom: 2px solid var(--fsa-primary_black);
    }

    @media screen and (min-width: $fsa-md) {
      margin-top: 0.5rem;
      margin-left: 1rem;
    }
  }
}
