<div class="fhrs-layout">
  <div class="fhrs-layout__top">
    {% block top %}{% endblock %}
  </div>
  <div class="fhrs-layout__container">
    <div class="fhrs-layout__row">
      <div class="fhrs-layout__center">
        {% block contentTop %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit ante nec neque iaculis, non
            tempus ipsum ultrices. Nunc diam eros, posuere ac varius quis, eleifend at justo. Fusce luctus, orci eget
            auctor facilisis, dui tortor porta lectus, ut accumsan turpis leo efficitur quam. Proin et posuere lacus,
            vitae feugiat mi. Curabitur metus nibh, semper quis ante nec, aliquet pretium sem. Nulla sagittis
            malesuada augue id interdum. Praesent at erat a nibh aliquet ornare quis id ex. Curabitur laoreet, metus
            sed ornare scelerisque, urna nunc tincidunt sem, vitae placerat erat metus a dolor. Pellentesque sagittis
            tincidunt nisl, eu maximus ante iaculis nec. Curabitur id odio diam. Curabitur eu ante eu velit luctus
            ultricies. Vivamus interdum lacus nulla, et bibendum erat euismod eu. Nulla eget lacus eros.</p>
          </p>
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="fhrs-layout__container">
    <div class="fhrs-layout__row">
      <div class="fhrs-layout__full">
        {% block map %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit ante nec neque iaculis, non
            tempus ipsum ultrices. Nunc diam eros, posuere ac varius quis, eleifend at justo. Fusce luctus, orci eget
            auctor facilisis, dui tortor porta lectus, ut accumsan turpis leo efficitur quam. Proin et posuere lacus,
            vitae feugiat mi. Curabitur metus nibh, semper quis ante nec, aliquet pretium sem. Nulla sagittis
            malesuada augue id interdum. Praesent at erat a nibh aliquet ornare quis id ex. Curabitur laoreet, metus
            sed ornare scelerisque, urna nunc tincidunt sem, vitae placerat erat metus a dolor. Pellentesque sagittis
            tincidunt nisl, eu maximus ante iaculis nec. Curabitur id odio diam. Curabitur eu ante eu velit luctus
            ultricies. Vivamus interdum lacus nulla, et bibendum erat euismod eu. Nulla eget lacus eros.</p>
          </p>
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="fhrs-layout__container">
    <div class="fhrs-layout__row">
      <div class="fhrs-layout__center">
        {% block contentBottom %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit ante nec neque iaculis, non
            tempus ipsum ultrices. Nunc diam eros, posuere ac varius quis, eleifend at justo. Fusce luctus, orci eget
            auctor facilisis, dui tortor porta lectus, ut accumsan turpis leo efficitur quam. Proin et posuere lacus,
            vitae feugiat mi. Curabitur metus nibh, semper quis ante nec, aliquet pretium sem. Nulla sagittis
            malesuada augue id interdum. Praesent at erat a nibh aliquet ornare quis id ex. Curabitur laoreet, metus
            sed ornare scelerisque, urna nunc tincidunt sem, vitae placerat erat metus a dolor. Pellentesque sagittis
            tincidunt nisl, eu maximus ante iaculis nec. Curabitur id odio diam. Curabitur eu ante eu velit luctus
            ultricies. Vivamus interdum lacus nulla, et bibendum erat euismod eu. Nulla eget lacus eros.</p>
          </p>
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="fhrs-layout__footer">
    {% block footer %}{% endblock %}
  </div>
</div>
