@import 'src/lib.scss';

.accordion {
  border: none;
  border-top: 4px solid var(--fsa_border);
  padding: 0.5rem 0 0;
  margin: 0;

  &__legend {
    @include h6;
    margin: 0;
    padding: 0;
    float: left;
  }

  &__fields {
    clear: both;
    padding-top: 1rem;
  }

  &__field {
    margin-top: 1rem;
    @include body;
    display: flex;
    align-items: center;

    &:first-child {
      margin-top: 0;
    }
  }

  &__input {
    @include checkbox-input;
  }

  &__label {
    padding: 0 0 0 1rem;
  }
}
