<div class="promo-group">
  <div class="promo-group__grid-container">
    <div class="title-and-description__text-row">
      <div class="title-and-description__text-wrapper">
        <h2 class="title-and-description__title">Popular content</h2>
      </div>
    </div>
    <div class="promo-group__grid-row">
      <div class="promo-group__card-wrapper">
        <div class="promo-group__card promo-group__card--one-link">
          <div class="promo-group__background" style="background-image: svg-load('https://www.food.gov.uk/sites/default/files/styles/promo_medium/public/media/image/NDawe_Bell_FSA_150320_324.jpg?itok=E9uzlVec')"></div>
          <h3 class="promo-group__sub-heading">
            <a class="promo-group__title-link" href="#">Listeria</a>
          </h3>
          <p class="promo-group__description">What you can do to reduce the chances of your food being infected with listeria.</p>
        </div>
      </div>
      <div class="promo-group__card-wrapper">
        <div class="promo-group__card promo-group__card--one-link">
          <div class="promo-group__background" style="background-image: svg-load('https://www.food.gov.uk/sites/default/files/styles/promo_medium/public/media/image/industry-kitchen-cooking_0.jpg?itok=uyO6myYB')"></div>
          <h3 class="promo-group__sub-heading">
            <a class="promo-group__title-link" href="#">For businesses</a>
          </h3>
          <p class="promo-group__description">Cras sagittis. Vivamus in erat ut urna cursus vestibulum. Nulla facilisi.</p>
        </div>
      </div>
      <div class="promo-group__card-wrapper">
        <div class="promo-group__card promo-group__card--one-link">
          <div class="promo-group__background" style="background-image: svg-load('https://www.food.gov.uk/sites/default/files/styles/promo_medium/public/media/image/AS_FSA_011216_L1_276.jpg?itok=oVF8mrBO')"></div>
          <h3 class="promo-group__sub-heading">
            <a class="promo-group__title-link" href="#">Our risk analysis</a>
          </h3>
          <p class="promo-group__description">Cras sagittis. Vivamus in erat ut urna cursus vestibulum. Nulla facilisi.</p>
        </div>
      </div>
      <div class="promo-group__card-wrapper">
        <div class="promo-group__card promo-group__card--one-link">
          <div class="promo-group__background" style="background-image: svg-load('https://www.food.gov.uk/sites/default/files/styles/promo_medium/public/media/image/NDawe_Bell_FSA_150320_324.jpg?itok=E9uzlVec')"></div>
          <h3 class="promo-group__sub-heading">
            <a class="promo-group__title-link" href="#">Listeria</a>
          </h3>
          <p class="promo-group__description">What you can do to reduce the chances of your food being infected with listeria.</p>
        </div>
      </div>
      <div class="promo-group__card-wrapper">
        <div class="promo-group__card promo-group__card--one-link">
          <div class="promo-group__background" style="background-image: svg-load('https://www.food.gov.uk/sites/default/files/styles/promo_medium/public/media/image/industry-kitchen-cooking_0.jpg?itok=uyO6myYB')"></div>
          <h3 class="promo-group__sub-heading">
            <a class="promo-group__title-link" href="#">For businesses</a>
          </h3>
          <p class="promo-group__description">Cras sagittis. Vivamus in erat ut urna cursus vestibulum. Nulla facilisi.</p>
        </div>
      </div>
      <div class="promo-group__card-wrapper">
        <div class="promo-group__card promo-group__card--one-link">
          <div class="promo-group__background" style="background-image: svg-load('https://www.food.gov.uk/sites/default/files/styles/promo_medium/public/media/image/AS_FSA_011216_L1_276.jpg?itok=oVF8mrBO')"></div>
          <h3 class="promo-group__sub-heading">
            <a class="promo-group__title-link external-link" href="#">Our risk analysis</a>
          </h3>
          <p class="promo-group__description">Cras sagittis. Vivamus in erat ut urna cursus vestibulum. Nulla facilisi.</p>
        </div>
      </div>
    </div>
  </div>
</div>