@import "src/lib.scss";

.back-to {
  &__link {
    @include link;
    display: table;
    &::before {
      content: "";
      background-image: url("./assets/arrow-left.svg");
      display: inline-block;
      width: 1.75rem;
      height: 1rem;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 1rem;
      vertical-align: middle;
    }
    &:hover {
      &::before {
        background-image: url("./assets/arrow-hover.svg");
      }
    }
    &:focus {
      &::before {
        background-image: url("./assets/arrow-focus.svg");
      }
    }
  }
}
