<div class="form-elements-item">
  {% include "@components/components/form/InputField/inputField.html.twig" with {
    name: 'step_number[]',
    id: 'step_number',
    label: 'Step number',
    tooltip: {
      message: 'Type your step number.',
      open: 'Open tooltip',
      close: 'Close',
    },
    guidance_popup: {
    open_popup: 'More in information',
    label: 'Help',
    more_link: '#',
    more_text: 'More help topics',
    content: '<h3>Preparatory Stage A: Prerequisite food hygiene requirements</h3>
              <p>"Prerequisites" are basic hygiene measures that should be in place in your food business prior to you undertaking a HACCP study. They include matters such as supplier approval, incoming material specifications, finished product specifications and staff training.
              The MyHACCP tool shows you a list of common prerequisites and asks you to select the ones you have properly considered and for which you have put in place adequate controls. You will then be invited to identify the location of documents such as policies and procedures where further details of these prerequisite controls may be found. It is common for food businesses to place all these documents into a “prerequisite manual” for ease of reference, but this is not a requirement.
              The list of prerequisites in MyHACCP is not exhaustive and there may be other matters, such as temperature control, which are relevant for your business.
              Once you have identified which prerequisites are relevant to your business, you should develop procedures, or review existing documentation, to ensure that adequate control measures are in place.
              For each prerequisite you may wish to include the following points in your procedure.
              Top tip: Use the list of common prerequisites in MyHACCP as a checklist to ensure that you have properly considered all the relevant hygiene measures that should be in place before you start your HACCP study.
              Read about the general requirements for each prerequisite listed in the MyHACCP Web Tool.</p>
              <h3>Operational Prerequisites</h3>
              <p>Most prerequisites are general in nature and their purpose is to ensure the Sed a</p>',
    },
  } %}

  {% include "@components/components/form/InputField/inputField.html.twig" with {
    name: 'step_name[]',
    id: 'step_name',
    label: 'Step name',
    tooltip: {
      message: 'Type your step name.',
      open: 'Open tooltip',
      close: 'Close',
    },
  } %}

  <p>List all potential hazards that may be reasonably expected to occur at this process step.</p>

  {% include "@components/components/form/MultivalueField/multivalueField.html.twig" with {
    name: 'biological[]',
    id: 'biological',
    label: 'Biological',
    entity_name: 'Biological hazard',
    add_another: 'Add another',
  } %}

  {% include "@components/components/form/MultivalueField/multivalueField.html.twig" with {
    name: 'chemical[]',
    id: 'chemical',
    label: 'Chemical',
    values: chemical,
    entity_name: 'Biological hazard',
    add_another: 'Add another',
  } %}

  {% include "@components/components/form/MultivalueField/multivalueField.html.twig" with {
    name: 'physical[]',
    id: 'physical',
    label: 'Physical',
    entity_name: 'Physical hazard',
    add_another: 'Add another',
  } %}

  {% include "@components/components/form/MultivalueField/multivalueField.html.twig" with {
    name: 'allergen[]',
    id: 'allergen',
    label: 'Allergen',
    entity_name: 'Allergen hazard',
    add_another: 'Add another',
  } %}
</div>
