@import "src/lib.scss";

.multifield-group {
  margin-top: 3rem;

  &--required {
    .multifield-group__template + .multifield-group__item {
      .multifield-group__delete-item {
        display: none;

        & + .multifield-group__form {
          margin-top: 0;
        }
      }
    }
  }

  &--frozen-steps {
    .multifield-group__delete-item,
    .multifield-group__add-item {
      display: none;
    }
  }

  &__delete-item {
    a {
      @include link;

      &:focus {
        text-decoration: none;
      }
    }

    @media screen and (min-width: $fsa-lg) {
      position: absolute;
      top: 0.5rem;
      right: 0;

      &--no-label + .multifield-group__form {
        margin-top: 6rem;
      }
    }
  }

  &__add-item {
    margin-top: 2rem;
    text-align: center;
  }

  &__item {
    position: relative;

    & + & {
      border-top: 4px solid var(--fsa__grey-hover);
      margin-top: 2rem;

      .multifield-group__delete-item {
        top: 2.2rem;
      }
    }
  }

  &__template {
    display: none;
  }
}
