<div class="haccp-save-progress">
  <div class="haccp-save-progress__message">
    {{ message|raw }}
  </div>
  <div class="haccp-save-progress__actions">
    {% include '@components/components/form/MultistepFunction/multistepFunction.html.twig' with {
      prev_label: previous,
      prev_link: prev_link,
      next_label: save_and_continue,
    } %}
  </div>
</div>
