@import "src/lib.scss";

.email-field {
  margin-top: 2rem;

  &__title {
    margin: 0;
    padding: 0;

    @include h5;
  }

  &__content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include body;

    @media screen and (min-width: $fsa-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__address {
    margin: 0;
  }

  &__label {
    font-weight: bold;
  }

  &__link,
  &__change {
    display: block;

    @include link;
  }

  &__change {
    margin-top: 1rem;

    @media screen and (min-width: $fsa-md) {
      margin-top: 0;
    }
  }
}
