{% include '@components/components/general/CookieBanner/cookieBanner.html.twig' with {
  text: 'We use cookies to make food.gov.uk work, understand how you use the website and make improvements. <br>They aren’t used to identify you personally.',
  find_out_more_link: '#',
  find_out_more_text: 'Find out more about cookies',
  manage_link: '#',
  manage_text: 'Manage cookies',
  accept_button_label: 'Accept cookies',
} %}

{% include '@components/components/general/Header/header.html.twig' with {
  english: true,
  english_link: '#',
  english_label: 'English',
  welsh_link: '#',
  welsh_label: 'Cymraeg',
  logo_link: '#',
  logo_label: 'Food Standards Agency - Frontpage',
  contact_link: '#',
  contact_label: 'Contact',
  report_link: '#',
  report_label: 'Report',
  ratings_link: '#',
  ratings_label: 'Food hygiene ratings',
  search_label: 'Search Food Standards Agency',
  search_link: '#',
  search_bar_visible: true,
  menu_label: 'menu',
  navigation: navigation_content,
} %}

{% include '@components/components/general/ErrorResponse/errorResponse.html.twig' with {
  error: '403',
  content: '<h1>Access denied</h1>
    <p>The page you were looking for has been moved or does not exist.</p>
    <div class="national-archive-link">
      <p class="national-archive-link__content">
        <a class="external-link" href="#">This page has been archived by The National Archives and is available through the UK Government Web Archive. (Opens in a new window)</a>
      </p>
    </div>
    <p>Or use our search or browser from the <a href="#">homepage</a> to find the information you need.</p>',
} %}
{% include '@components/components/general/Feedback/feedback.html.twig' with {
  section_summary: 'Feedback about the content on the page',
  heading: 'Is this page useful?',
  yes: 'Yes',
  yes_link: '#',
  useful: 'this page is useful',
  no: 'No',
  no_link: '#',
  not_useful: 'this page is not useful',
  report_question: 'Is there anything wrong with this page?',
  thank_you: 'Thanks for your feedback',
  close: 'Close',
  the_feedback_form: 'the feedback form',
  improve_question: 'How should we improve this page?',
  feedback: 'feedback',
  submit: 'Submit',
  form_action: '#'
} %}

{% include '@components/components/general/Footer/footer.html.twig' with {
  footer_links: 'Footer links',
  new_window: 'Open in a new window',
  menu_links: [
    {
      link: { label: 'Copyright', href: '#', external: false },
    },
    {
      link: { label: 'Accessibility', href: '#', external: false },
    },
    {
      link: { label: 'Freedom of information', href: '#', external: false },
    },
    {
      link: { label: 'Terms and conditions', href: '#', external: false },
    },
    {
      link: { label: 'Privacy', href: '#', external: false },
    },
    {
      link: {
      label: 'Personal information charter',
      href: '#',
      external: false,
    },
    },
    {
      link: { label: 'Feedback and complaints', href: '#', external: false },
    },
    {
      link: { label: 'Cookies', href: '#', external: false },
    },
    {
      link: { label: 'Data', href: '#', external: false },
    },
    {
      link: { label: 'GOV.UK', href: '#', external: true },
    },
  ],
  social_media: 'Food Standards Agency on social media',
  social_links: [
    { label: 'Facebook', external: true, href: '#', svg: facebook },
    { label: 'Twitter', external: true, href: '#', svg: facebook },
    { label: 'LinkedIn', external: true, href: '#', svg: linkedin },
    { label: 'Youtube', external: true, href: '#', svg: youtube },
    { label: 'Instagram', external: true, href: '#', svg: instagram },
    { label: 'FSA blog', external: false, href: '#', svg: blog },
  ],
} %}
