<div class="error-response">
  <div class="error-response__container">
    {{ message }}
  </div>
  <img class="error-response__image error-response__image--{{ error }}"
       src="#"
       alt="Error {{ error }}">
</div>


