<div class="error-response error-response--{{ error }}">
  <div class="error-response__container">
    <div class="error-response__row">
      <div class="error-response__wrapper">
        <div class="error-response__message">
          {{ content|raw }}
        </div>
      </div>
    </div>
  </div>
</div>


